<div id="search-modal" class="modal">
    <div class="modal-content">
        <div class="search-modal-title">
            <h2>Search this site</h2>
            <i id="search-close" class="material-icons medium right">close</i>
        </div>
        <form id="search-form">
            <div id="search-bar" class="search-bar input-field">
                <input id="search-input" class="flow-text" type="search">
                <label class="label-icon" for="search-input">
                    <i class="material-icons">search</i>
                </label>
            </div>
        </form>
        <div id="search-results" class="row">
            <div class="col">
                <ul
                    id="result-list"
                    class="collection"
                    data-site-search-docs-url="{{ request.site_search_docs_url }}"
                    data-site-search-index-url="{{ request.site_search_index_url }}">
                </ul>
            </div>
        </div>
    </div>
</div>
