{% extends "core/base.html" %}

{% load component_tags %}

{% block title %}
  {{ page.display_name|striptags|truncatewords:5 }} - {{ request.press.name }}
{% endblock title %}
{% block meta_title %}
  <meta
    name="twitter:title"
    property="og:title"
    content="{{ page.display_name|truncatewords:5 }} - {{ request.press.name }}">
{% endblock meta_title %}
{% block meta_description %}
  {{ block.super }}
{% endblock meta_description %}
{% block meta_image %}
  {{ block.super }}
{% endblock meta_image %}

{% block body %}
  {% component "page_generic" page=page h1=page.display_name %}
{% endblock body %}
