{% load static %}
{% load component_tags %}

<section id="{{ list_id }}" aria-label="{{ region_label }}">
  <div class="not-prose w-full">
    {% include "custom/filter-input.html" with placeholder=placeholder %}
  </div>
  {% slot "list" default %}{% endslot %}
</section>

<script type="module">
  function checkParamsForQuery(list, listId) {
    const filterInput = document.querySelector(`#${ listId }-filter-input`)
    const params = new URL(document.location).searchParams
    const param = params.get(`filter-${ listId }`)
    if (param) {
      filterInput.value = param
      list.search(param)
    }
  }

  const listId = '{{ list_id }}'
  const valueNames = '{{ value_names }}'.split(' ')
  document.addEventListener('DOMContentLoaded', () => {
    const list = new List(listId, { valueNames })
    checkParamsForQuery(list, listId)
  })
</script>
