{% load static %}
{% load component_tags %}

{% if not band_form.fee.value %}
  <div class="w-full flex flex-col items-end">
    {% url 'supporter_signup' as skip_href %}
    {% with label="Skip to Signup" rel_path=skip_href %}
      {% include "custom/button-action-white.html" with label="Skip to Signup" %}
    {% endwith %}
  </div>
{% endif %}
<span id="calculate-anchor"></span>
{% component_block "form" form=band_form form_action="#calculate-anchor" %}
  {% fill "fields" %}
    {% component "form_field" field=band_form.country %}
    {% component "form_field" field=band_form.size %}
    {% component "form_field" field=band_form.level %}
    {% component "form_field" field=band_form.currency %}
    <div hidden>
      {{ band_form.category }}
    </div>
  {% endfill %}
  {% fill "other" %}
    {% include 'custom/button-calculate.html' %}
    {% if band_form.fee.value %}
      <div class="w-full flex flex-col items-end">
        {% include 'custom/button-submit-white.html' with label="Start Signup" name="start_signup" %}
      </div>
    {% endif %}
  {% endfill %}
  {% fill "button" %}{% endfill %}
{% endcomponent_block %}
