{% load static %}
{% load component_tags %}
{% load humanize %}

{% for size, countries in data.tbody.items %}
  <h3>
    {{ size }}
  </h3>
  <div class="overflow-x-auto">
    <table>
      <col>
      <colgroup span="5"></colgroup>
      <tr>
        <th rowspan="2">Country</th>
        <th colspan="5" scope="colgroup">
          <div class="text-center">
            Membership level
          </div>
        </th>
      </tr>
      <tr>
        {% for level in data.thead %}
          <th
            scope="col"
            class="px-3 last:pr-0">
            <div class="text-end">
              {{ level }}
            </div>
          </th>
        {% endfor %}
      </tr>
      {% for country, levels in countries.items %}
        <tr>
          <th scope="row">{{ country }}</th>
          {% for level, cell in levels.items %}
            <td>
              <div class="text-end">
                {{ cell.currency }}{{ cell.fee|intcomma }}
              </div>
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    </table>
  </div>
{% endfor %}
