{% load static %}
{% load component_tags %}
{% load humanize %}

<div
  class="
    not-prose overflow-x-auto max-md:-mx-12
    sm:max-md:flex sm:max-md:justify-center
  ">
  <table class="text-white table-auto border-collapse">
    <col>
    <colgroup span="5"></colgroup>
    <tr>
      <th
        class="bg-orange text-black text-start align-top px-3 py-2"
        rowspan="2">
        Country
      </th>
      <th
        class="bg-blue text-start px-3 py-2"
        colspan="5"
        scope="colgroup">
        Membership level
      </th>
    </tr>
    <tr
      class="bg-gradient-to-r from-blue to-blue-medium">
      {% for level in data.thead %}
        <th
          scope="col"
          class="
            px-3 py-2 text-start
            border-t border-r border-tan-light last:border-r-0
          ">
          {{ level }}
        </th>
      {% endfor %}
    </tr>
    {% for size_display, countries in data.tbody.items %}
      <tr>
        <th
          colspan="6"
          class="
            p-3 text-start
            text-blue max-lg:text-md lg:text-lg font-poppins-bold
          ">
          {{ size_display }}
        </th>
      </tr>
      {% for country, levels in countries.items %}
        <tr>
          <th
            class="bg-orange text-black px-3 py-2 text-start"
            scope="row">
            {{ country }}
          </th>
          {% for level, cell in levels.items %}
            <td
              class="
                px-3 py-2
                bg-white text-black
                border-t border-r border-tan last:border-r-0
                border-dotted
              ">
              {{ cell.currency }}{{ cell.fee|intcomma }}
            </td>
          {% endfor %}
        </tr>
      {% endfor %}
    {% endfor %}
  </table>
</div>
