{% load static %}
{% load component_tags %}

<div class="container mx-auto max-w-screen-xl">
  <article>
    <section
      aria-label="Name and role"
      class="relative max-lg:mt-0 lg:mt-8">
      <div class="lg:max-w-lg">
        {% include 'custom/generic-h1-higher.html' with h1=user.full_name %}
      </div>
      <div class="z-40 relative pl-8 lg:max-w-lg">
        {% for group_membership in staff_groups %}
          <div class="mb-6">
            <strong class="max-lg:text-2xl lg:text-3xl font-poppins-bold">
              {{ group_membership.job_title }}
            </strong>
          </div>
          {% if group_membership.alternate_title %}
            <div class="mb-6">
              <strong class="max-lg:text-xl lg:text-2xl italic font-poppins-medium">
                {{ group_membership.alternate_title }}
              </strong>
            </div>
          {% endif %}
        {% endfor %}
        {% for group_membership in governance_groups %}
          <div class="mb-6">
            <strong class="max-lg:text-xl lg:text-2xl font-poppins-bold">
              {{ group_membership.group.name }}
            </strong>
          </div>
          {% if user.affiliation %}
            <div class="mb-6">
              <strong class="max-lg:text-xl lg:text-2xl font-poppins-medium">
                {{ user.affiliation }}
              </strong>
            </div>
          {% endif %}
          {% if user.country %}
            <div class="mb-6">
              <strong class="max-lg:text-xl lg:text-2xl font-poppins-medium">
                {{ user.country }}
              </strong>
            </div>
          {% endif %}
        {% endfor %}
      </div>
      <div
        class="
          z-0 relative max-md:top-8 md:max-lg:-top-48 lg:-top-96 motion-safe:rallax
          max-lg:right-12 lg:right-0
        ">
        <img
          class="motion-safe:rallax z-10 absolute top-56 -right-8 w-48"
          src="{% static 'hourglass/media/backgrounds/circle-blue.svg' %}"
          alt="">
        <img
          class="
            z-0 absolute w-12
            max-md:-top-20 md:max-lg:top-24 lg:-top-56
            max-md:-right-8 md:max-lg:right-0 lg:right-20
          "
          src="{% static 'hourglass/media/backgrounds/bars-vertical-orange-three.svg' %}"
          alt="">
        <div
          class="
            absolute z-20 max-lg:w-64 lg:w-80
            max-md:-top-4 md:max-lg:top-44 lg:top-16
            max-md:-right-4 md:max-lg:right-12 lg:max-xl:right-8 xl:right-28
            {% if not user.profile_image %}
              bg-tan-light max-lg:h-64 lg:h-80
            {% endif %}
            ">
          {% if user.profile_image %}
            <img
              src="{{ user.profile_image.url }}"
              alt="">
          {% endif %}
        </div>
        <img
          class="
            motion-safe:rallax absolute z-20 w-12 max-lg:-top-8 lg:top-8
            max-lg:-right-12 lg:right-4
          "
          src="{% static 'hourglass/media/backgrounds/circle-red.svg' %}"
          alt="">
      </div>
    </section>
    <div class="relative max-md:mt-72 md:max-lg:mt-56 lg:mt-12">
      {% component_block "page_section" anchor="left" label="Biography" %}
        {{ user.biography|safe }}
      {% endcomponent_block %}
    </div>
    {% if staff_groups.first.publications %}
      <div class="relative max-lg:mt-8 lg:mt-28">
        {% component_block "page_section" anchor="right" labelledby="publications" %}
          <h2 id="publications">Selected publications.</h2>
          {{ staff_groups.first.publications|safe }}
        {% endcomponent_block %}
      </div>
    {% endif %}
    {% if governance_groups.first.statement %}
      <div class="relative max-lg:mt-8 lg:mt-28">
        {% component_block "page_section" anchor="right" labelledby="statement" %}
          <h2 id="statement">Statement of interest.</h2>
          {{ governance_groups.first.statement|safe }}
        {% endcomponent_block %}
      </div>
    {% endif %}
    {% if user.orcid or user.twitter or user.facebook or user.linkedin or user.website or user.github %}
      <div class="relative max-lg:mt-8 lg:mt-28">
        {% component_block "page_section" anchor="left" bg="bg-blue" labelledby="social-links" %}
          <h2
            id="social-links"
            class="text-white">
            Where to find Caroline.
          </h2>
          {% component_block "link_list" %}
            {% if user.orcid %}
              {% component "link" label="orcid" href=user.orcid %}
            {% endif %}
            {% if user.website %}
              {% component "link" label="website" href=user.website %}
            {% endif %}
            {% if user.twitter %}
              {% component "link" label="twitter" href=user.twitter %}
            {% endif %}
            {% if user.facebook %}
              {% component "link" label="facebook" href=user.facebook %}
            {% endif %}
            {% if user.linkedin %}
              {% component "link" label="linkedin" href=user.linkedin %}
            {% endif %}
            {% if user.github %}
              {% component "link" label="github" href=user.github %}
            {% endif %}
          {% endcomponent_block %}
        {% endcomponent_block %}
      </div>
    {% endif %}
  </article>
  <div class="relative mt-28 pb-28">
    {% include 'custom/subscribe-art.html' %}
  </div>
</div>
