{% comment %}
{% endcomment %}

{% load component_tags %}
{% load static %}
{% load uuid %}

{% get_uuid4 as pid %}

<button
  data-{{ pid }}
  {% if hx_post %}
    hx-post="{{ hx_post }}"
  {% endif %}
  {% if hx_target %}
    hx-target="{{ hx_target }}"
  {% endif %}
  {% if aria_controls %}
    aria-controls="{{ aria_controls }}"
    aria-expanded="false"
  {% endif %}
  {% if id %}
    id="{{ id }}"
  {% endif %}
  name="{{ name }}"
  value="{{ value }}"
  type="{{ type }}"
  class="
    p-4 not-prose
    rounded-full border {{ border }} {{ fg }} {{ bg }}
    flex gap-4 items-center
  ">
  <span class="uppercase font-poppins-bold text-xs tracking-widest">
    {% slot "text" default %}
      Button
    {% endslot %}
  </span>
  {% include "elements/icons/arrow.html" %}
</button>
<script defer type="module">
  // This currently only works for buttons with white text and border.
  const thisButton = document.querySelector('[data-{{ pid }}]');
  const form = thisButton.closest('form');
  const allButtons = form.querySelectorAll('button');
  // Make it clear the button is selected and that it has opened
  // new content in the next section of the page.
  thisButton.addEventListener('click', () => {
    // First return other buttons in this form to normal
    for (const button of allButtons) {
      button.classList.remove('bg-white');
      button.classList.remove('text-blue');
      button.classList.add('text-white');
      if (button.hasAttribute('aria-controls')) {
        button.setAttribute('aria-expanded', 'false');
      }
    }
    thisButton.classList.add('bg-white');
    thisButton.classList.add('text-blue');
    thisButton.classList.remove('text-white');
    if (thisButton.hasAttribute('aria-controls')) {
      thisButton.setAttribute('aria-expanded', 'true');
    }
  })
</script>
