{% load static %}
{% load component_tags %}

<form
  {% if form_method %}
    method="{{ form_method }}"
  {% endif %}
  {% if form_action %}
    action="{{ form_action }}"
  {% endif %}
  {% if enctype %}
    enctype="{{ enctype }}"
  {% endif %}
  >
  {% if form_method|lower == 'post'%}
    {% csrf_token %}
  {% endif %}
  {% if form %}
    <div class="prose lg:prose-lg">
      {{ form.non_field_errors }}
    </div>
  {% endif %}
  {% if notify_required %}
    <p class="text-white px-2 pb-4">
      * required field
    </p>
  {% endif %}
  <div
    class="
      flex max-lg:flex-col lg:flex-wrap gap-y-4 gap-x-16
      md:max-lg:max-w-xl lg:max-w-3xl
    ">
    {% slot "fields" default %}
      {% if form %}
        {% for field in form %}
          {% component "form_field" field=field %}
        {% endfor %}
      {% endif %}
    {% endslot %}
  </div>
  {% slot "other" %}{% endslot %}
  <div class="w-full flex flex-col items-end pt-4">
    {% slot "button" %}
      {% include 'custom/button-submit-white.html' with label="Submit" %}
    {% endslot %}
  </div>
</form>
