<input
  class="
    bg-white
    text-black cursor-black placeholder:text-black
    max-lg:placeholder:text-md lg:placeholder:text-lg
    max-lg:text-md lg:text-lg
    focus-visible:outline focus-visible:outline-white focus-visible:outline-offset-2
    focus-visible:ring-transparent
  "
  {% if input_id %}
    id="{{ input_id }}"
  {% endif %}
  type="{{ input_type|default:'text' }}"
  name="{{ input_name|default:'' }}"
  value="{{ input_value|default:'' }}"
  {% if aria_label %}
    aria-label="{{ aria_label }}"
  {% endif %}
  placeholder="{{ placeholder|default:'' }}">
