<input
  class="
    bg-transparent border-white
    text-white cursor-white placeholder:text-white
    max-lg:placeholder:text-md lg:placeholder:text-lg
    max-lg:text-md lg:text-lg
    focus:ring-transparent focus:border-orange
    border-t-0 border-r-0 border-b-1 border-l-0
  "
  {% if input_id %}
    id="{{ input_id }}"
  {% endif %}
  type="{{ input_type|default:'text' }}"
  name="{{ input_name|default:'' }}"
  value="{{ input_value|default:'' }}"
  placeholder="{{ placeholder|default:'' }}">
