<input
  class="
    bg-blue border-white
    text-white cursor-white placeholder:text-white
    max-lg:placeholder:text-md lg:placeholder:text-lg
    max-lg:text-md lg:text-lg
    border-t-0 border-r-0 border-b-1 border-l-0
    focus:outline focus:outline-white focus:outline-offset-0
    focus:ring-transparent focus:border-b-transparent
  "
  {% if input_id %}
    id="{{ input_id }}"
  {% endif %}
  type="{{ input_type|default:'text' }}"
  name="{{ input_name|default:'' }}"
  value="{{ input_value|default:'' }}"
  {% if aria_label %}
    aria-label="{{ aria_label }}"
  {% endif %}
  placeholder="{{ placeholder|default:'' }}">
