{% extends "press/cms/page.html" %}

{% load component_tags %}

{% block meta_description %}
  {% include "elements/meta_description.html" with desc="The Open Library of Humanities seeks the highest standards of accessibility for its titles and to be an inclusive publisher of research material." %}
{% endblock meta_description %}

{% block body %}
  {% component_block "page_generic" h1="Accessibility." %}
    <h2>Our aims.</h2>
    <p>The Open Library of Humanities seeks the highest standards of accessibility
    for its titles and to be an inclusive publisher of research material.
    To this end, we are constantly working with our partners to update our
    platform and to ensure that we meet relevant professional standards.</p>
    <p>If you have any accessibility problems when accessing an OLH website or title,
    please <a href="/contact/">contact our accessibility specialist Steph
    Driver</a>, and we will work to address this as our highest priority.</p>
    <h2>Accessibility of this website.</h2>
    <p>We carried out a major update to this website in early February 2024.
    In April 2024 we completed an audit to determine its conformance
    with the AA standard of WCAG 2.2. The <a
      href="https://github.com/BirkbeckCTP/hourglass/milestone/1?closed=1">results
    are publicly available via GitHub</a>. We plan to repeat this audit on an
    annual basis.</p>
    <p>As a part of the audit, we identified and planned the work needed
    to bring the website into full compliance. The <a
    href="https://github.com/BirkbeckCTP/hourglass/milestone/2">list of needed
    changes is publicly available on GitHub</a> and will be updated as each
    piece of work is done.
    <h2>Accessibility of Janeway.</h2>
    <p>This website is powered by our in-house publishing platform <a
    href="/site/janeway">Janeway</a>, and so relies on Janeway to be accessible.
    We recently launched a project to re-assess Janeway’s conformance to WCAG.
    For more information,
    <a href="/news/694/">read
    our blog post about this undertaking</a> and
    <a href="https://github.com/BirkbeckCTP/janeway/milestone/38">
    track our progress making accessibility improvements to Janeway</a>.</p>
  {% endcomponent_block %}
{% endblock body %}
