{% extends "press/cms/page.html" %}

{% load static %}
{% load component_tags %}

{% block body %}
  <div>
    <div class="container mx-auto max-w-screen-xl">
      <div class="relative">
        {% include "custom/edit-on-github.html" with rel_path="custom/announcements-blog.html" %}
        {% include "custom/news-art-opener.html" %}
      </div>
      <div class="relative max-md:pt-24 md:pt-12">
        <div class="z-40 relative">
          <h1
            id="h1"
            class="
              max-md:text-4xl md:max-lg:text-5xl lg:text-7xl !leading-snug
              font-poppins-bold max-lg:py-6 lg:pt-20 lg:pb-6 max-md:pl-4 md:px-8 max-w-sm
            ">
            Announcements &amp; blog.
          </h1>
        </div>
      </div>
      <div class="relative max-md:pt-24 md:pt-12">
        {% with h="Read our news." %}
          {% component_block "page_section" width="full" anchor="left" margin="narrow" labelledby=h|slugify prose=False %}
            {% include "custom/news-list-h2.html" with h=h %}
            {% component "news_list" request=request tag="Announcement" limit=6 h_level="h3" %}
          {% endcomponent_block %}
          {% url "core_news_list_tag" tag="Announcement" as view_all_url %}
          {% component "news_view_all_bar" visible_label="All announcements" view_all_url=view_all_url anchor="left" %}
        {% endwith %}
      </div>
      <div class="relative max-md:pt-24 md:pt-12">
        {% include "custom/news-art-middle.html" %}
        {% with h="Hear our ideas." %}
          {% component_block "page_section" width="full" anchor="right" margin="narrow" labelledby=h|slugify prose=False %}
            {% include "custom/news-list-h2.html" with h=h %}
            {% component "news_list" request=request tag="Blog" limit=6 h_level="h3" %}
          {% endcomponent_block %}
          {% url "core_news_list_tag" tag="Blog" as view_all_url %}
          {% component "news_view_all_bar" visible_label="All OLH blog posts" view_all_url=view_all_url anchor="right" %}
        {% endwith %}
      </div>
      <div class="relative max-md:pt-24 md:pt-12">
        {% with h="News from our journals." %}
          {% component_block "page_section" width="full" anchor="left" margin="narrow" labelledby=h|slugify prose=False %}
            {% include "custom/news-list-h2.html" with h=h %}
            {% component "news_list" request=request h=h content_type="journal" limit=6 h_level="h3" %}
          {% endcomponent_block %}
          {% url "core_news_list_presswide" presswide="all" as view_all_url %}
          {% component "news_view_all_bar" visible_label="All news" view_all_url=view_all_url anchor="left" %}
        {% endwith %}
        {% include "custom/news-art-end.html" %}
      </div>
      <div class="relative">
        {% component_block "page_section" width="full" anchor="left" element="div" prose=False bg="bg-transparent" %}
          {% component "news_tag_nav" %}
        {% endcomponent_block %}
      </div>
      {% include 'custom/subscribe.html' %}
    </div>
  </div>
{% endblock body %}
