{% load static %}

<div class="flex max-md:flex-col gap-8 grayscale items-center">
  <div class="flex-1">
    <img
      src="{% static 'hourglass/media/aop-digital-publishing-awards.png' %}"
      alt="AOP Digital Publishing Awards Winner 2020">
  </div>
  <div class="flex-1">
    <img
      src="{% static 'hourglass/media/open-publishing-awards.png' %}"
      alt="Open Publishing Awards">
  </div>
  <div class="flex-1">
    <img
      src="{% static 'hourglass/media/alpsp-awards-innovation-publishing-2020.png' %}"
      alt="ALPSP Awards for Innovation in Publishing 2020">
  </div>
</div>
