{% load static %}
{% load component_tags %}

<div class="max-md:mx-2 lg:-mx-4">
  <h2
    id="benefits-of-supporting-us"
    class="font-poppins-bold max-lg:text-3xl lg:text-4xl text-center pb-8">
    The benefits of supporting us.
  </h2>
  <div
    class="
      grid sm:max-md:grid-cols-1 md:max-lg:grid-cols-2 lg:grid-cols-3
      gap-10 md:place-items-center relative
    ">
    {% component_block "benefits_tile" icon="Become-a-Supporter.svg" %}
      {% fill "h3" %}
        1. Join us
      {% endfill %}
      {% fill "p" %}
        Join a collectively-funded sustainable publishing ecosystem.
      {% endfill %}
    {% endcomponent_block %}
    {% component_block "benefits_tile" icon="Fund.svg" %}
      {% fill "h3" %}
        2. Fund
      {% endfill %}
      {% fill "p" %}
        Fund 30+ diamond open access humanities journals.
      {% endfill %}
    {% endcomponent_block %}
    {% component_block "benefits_tile" icon="Network.svg" %}
      {% fill "h3" %}
        3. Network
      {% endfill %}
      {% fill "p" %}
        Join a growing network of 300+ international supporters.
      {% endfill %}
    {% endcomponent_block %}
    <div class="absolute inset-x-0 top-0 max-md:hidden">
      {% include 'custom/benefits-arrow.html' %}
    </div>
    {% component_block "benefits_tile" icon="Archive.svg" %}
      {% fill "h3" %}
        4. Archive
      {% endfill %}
      {% fill "p" %}
        Robust archiving and indexing for maximum discoverability.
      {% endfill %}
    {% endcomponent_block %}
    <div class="absolute inset-x-0 top-[232px] max-md:hidden lg:hidden">
      {% include 'custom/benefits-arrow.html' %}
    </div>
    {% component_block "benefits_tile" icon="Awards-Prizes.svg" %}
      {% fill "h3" %}
        5. Badges
      {% endfill %}
      {% fill "p" %}
        Show your support for scholar-led, diamond open access.
      {% endfill %}
    {% endcomponent_block %}
    {% component_block "benefits_tile" icon="Governance-and-Finances.svg" %}
      {% fill "h3" %}
        6. Flexibility
      {% endfill %}
      {% fill "p" %}
        Flexible membership tiers from c. £1000 per year.
      {% endfill %}
    {% endcomponent_block %}
  </div>
</div>
