<div class="absolute z-0 top-[95px] -right-10 bg-white h-[2px] w-8"></div>
<div class="absolute z-0 top-[95px] -right-10 bg-white h-[117px] w-[2px]"></div>
<div class="absolute z-0 top-[212px] -right-10 bg-white h-[2px] w-full"></div>
<div class="absolute z-0 top-[212px] -left-9 bg-white h-[2px] w-full"></div>
<div class="absolute z-0 top-[212px] -left-9 bg-white h-[117px] w-[2px]"></div>
<div class="absolute z-0 top-[327px] -left-9 bg-white h-[2px] w-8"></div>
<div
  class="
    absolute z-0 top-[328px] -left-7 border-white border-solid origin-top-right
    w-3 h-3 border-t-2 border-r-2 rotate-45
  ">
</div>
