{% load static %}

<button
  type="{{ type|default:'submit' }}"
  name="{{ name|default:'' }}"
  class="
    p-4 not-prose
    rounded-full border-2 border-blue bg-white
    flex gap-4 items-center
    focus-visible:ring ring-offset-4
    ring-white ring-offset-blue
    focus-visible:outline-none focus-visible:border-transparent
  ">
  <span
    class="
      uppercase text-blue
      font-poppins-bold text-xs tracking-widest
    ">
    {{ label|default:'' }}
  </span>
  <img
    class="h-4"
    src="{% static 'hourglass/media/icons/arrow-blue.svg' %}"
    alt="">
</button>
