{% load static %}

<div
  class="
    relative z-0 max-lg:-left-12 lg:left-0
    max-lg:motion-reduce:top-32 lg:motion-reduce:-top-12
    max-lg:motion-safe:-top-48 lg:motion-safe:-top-48
  ">
  <img
    class="absolute z-20 h-24 top-0 -left-4 motion-safe:rallax"
    src="{% static 'hourglass/media/backgrounds/triangle-orange-pointing-down.svg' %}"
    alt="">
  <img
    class="absolute z-20 h-24 motion-reduce:top-24 motion-safe:top-36 -left-4 motion-safe:rallax"
    src="{% static 'hourglass/media/backgrounds/triangle-orange-pointing-down.svg' %}"
    alt="">
  <img
    class="absolute z-20 h-24 motion-reduce:top-48 motion-safe:top-72 -left-4 motion-safe:rallax"
    src="{% static 'hourglass/media/backgrounds/triangle-orange-pointing-down.svg' %}"
    alt="">
  <img
    class="absolute z-0 top-72 -left-28 max-w-xs"
    src="{% static 'hourglass/media/backgrounds/circle-blue-textured.png' %}"
    width="434"
    alt="">
  <img
    class="absolute z-20 w-12 top-[34rem] left-28 motion-safe:rallax"
    src="{% static 'hourglass/media/backgrounds/circle-blue.svg' %}"
    alt="">
</div>
