{% load static %}

<aside class="relative z-0 top-0 right-0">
  <img
    class="
      motion-safe:rallax absolute z-10 w-20 max-lg:top-8 lg:top-0
      max-lg:right-52 lg:-right-8
    "
    src="{% static 'hourglass/media/backgrounds/circle-blue.svg' %}"
    alt="">
  <img
    class="
      absolute max-lg:z-20 lg:z-0 max-lg:top-48 lg:top-0
      max-lg:right-12 lg:-right-12 max-lg:max-w-sm
    "
    src="{% static 'hourglass/media/backgrounds/circle-blue-textured.png' %}"
    width="434"
    alt="">
  <img
    class="
      motion-safe:rallax absolute max-lg:z-0 lg:z-10 
      max-lg:top-4 lg:top-0 max-lg:-right-32 lg:-right-8
      max-lg:w-80 max-lg:max-w-none lg:max-w-md
    "
    src="{% static 'hourglass/media/backgrounds/man-with-video-camera.png' %}"
    width="847"
    alt="A man with his hair in a bun operating a video camera">
  <img
    class="
      motion-safe:rallax max-lg:z-10 lg:z-20 absolute max-lg:-right-56 lg:-right-36
      max-lg:top-72 lg:top-96 h-28 max-w-none
    "
    src="{% static 'hourglass/media/backgrounds/bars-horizontal-red-three-longer.svg' %}"
    alt="">
</aside>
