{% load static %}

<aside
  class="
    z-0 relative max-md:top-8 md:max-lg:-top-48 lg:-top-96 motion-safe:rallax
    max-lg:right-12 lg:right-0
  ">
  {% include "custom/landing-opener.html" %}
  <img
    class="
      absolute max-lg:z-30 lg:z-20 max-lg:top-8 lg:top-24
      max-lg:-right-20 lg:right-24
    "
    src="{% static 'hourglass/media/backgrounds/chess-man.png' %}"
    width="275" height="527"
    alt="A medieval chess piece made of stone. A frowning man wearing a crown
         and robes rests one hand on his cheek and holds a horn in the other">
</aside>
