{% load static %}

<aside
  class="
    max-lg:hidden
    relative z-0 motion-safe:rallax
    -left-24 motion-reduce:-top-24 motion-safe:-top-96
  ">
  {% include 'custom/circle-halfway.html' %}
  <img
    class="z-20 absolute top-48 -left-20 w-16 h-16"
    src="{% static 'hourglass/media/backgrounds/circle-red.svg' %}"
    alt="">
  <img
    class="absolute z-20 top-96 -left-36"
    src="{% static 'hourglass/media/backgrounds/chess-group.png' %}"
    width="500"
    alt="A set of medieval chess pieces made of stone">
</aside>
