{% load static %}

<aside class="relative z-0 max-lg:-top-64 lg:top-0 right-0">
  {% include 'custom/stripes-opener.html' %}
  <img
    class="
      motion-safe:rallax absolute max-lg:z-0 lg:z-20 max-lg:top-4 lg:top-0 max-lg:-right-32 lg:right-24
      max-lg:w-80 max-lg:max-w-none lg:max-w-md
    "
    src="{% static 'hourglass/media/backgrounds/chess-man.png' %}"
    width="275"
    alt="A medieval chess piece made of stone. A bearded king frowns and rests his sword across his knees">
</aside>
