{% load static %}
{% load component_tags %}

<div class="container mx-auto max-w-screen-xl relative max-lg:mt-56 lg:mt-8">
  {% include 'custom/edit-on-github.html' with rel_path='custom/contact.html' %}
  {% include 'custom/hand-laptop-opener.html' %}
  {% include 'custom/generic-h1.html' with h1='Contact' %}
</div>
<div class="container mx-auto max-w-screen-xl relative lg:-mt-4">
  <div class="relative z-40 max-md:py-6 md:py-20 bg-blue md:px-12 lg:max-w-3xl">
    <div class="m-6">
      <img
        class="-m-4 pb-8 w-48"
        src="{% static 'hourglass/media/icons/FAQs.svg' %}"
        alt="">
      {% component 'form' form=contact_form button_label="Send message" %}
    </div>
  </div>
</div>
<div class="container mx-auto max-w-screen-xl relative mt-28 pb-28">
  {% include 'custom/subscribe-art.html' %}
</div>
