{% load static %}

<aside
  class="
    relative max-lg:-top-72 lg:-top-36
    max-lg:right-0 lg:-right-20 xl:-right-32
  ">
  <img
    class="
      motion-safe:rallax absolute z-10 max-lg:top-40 lg:top-40
      max-md:-right-64 md:max-lg:-right-36 lg:-right-20 max-lg:max-w-md
    "
    src="{% static 'hourglass/media/backgrounds/curator-sculpture.png' %}"
    width="712" height="535"
    alt="A curator leans over the feet of a sculpture for closer inspection">
  {% include "custom/bars-opener-art.html" %}
</aside>
