{% load static %}

<div class="relative z-0 top-0 right-0">
  <img
    class="
      motion-safe:rallax absolute z-0 w-10 max-lg:top-8 lg:top-0
      max-lg:right-52 lg:right-80
    "
    src="{% static 'hourglass/media/backgrounds/rectangle-red.svg' %}"
    alt="">
  <img
    class="
      absolute max-lg:z-20 lg:hidden w-32
      max-lg:right-24 max-lg:top-36
    "
    src="{% static 'hourglass/media/backgrounds/circle-orange.svg' %}"
    alt="">
  <img
    class="
      absolute max-lg:z-20 lg:z-0 max-lg:top-48 lg:top-0
      max-lg:right-12 lg:-right-12 max-lg:max-w-sm
    "
    src="{% static 'hourglass/media/backgrounds/circle-blue-textured.png' %}"
    width="434"
    alt="">
  <img
    class="max-lg:z-0 lg:z-10 absolute w-[0.3rem] top-44 right-12"
    src="{% static 'hourglass/media/backgrounds/bar-vertical-orange.svg' %}"
    alt="">
  <img
    class="max-lg:z-0 lg:z-10 absolute w-[0.3rem] top-28 right-4"
    src="{% static 'hourglass/media/backgrounds/bar-vertical-orange.svg' %}"
    alt="">
  <img
    class="max-lg:z-0 lg:z-10 absolute w-[0.3rem] top-12 -right-4"
    src="{% static 'hourglass/media/backgrounds/bar-vertical-orange.svg' %}"
    alt="">
  <img
    class="
      motion-safe:rallax absolute max-lg:z-10 lg:z-20
      max-lg:top-6 lg:top-4 max-lg:-right-28 lg:-right-48
      max-lg:w-80 lg:max-w-none
    "
    src="{% static 'hourglass/media/backgrounds/dancer-jacket-hair.png' %}"
    width="643"
    alt="A dancer wearing denim spinning with arms outstretched and hair covering her face">
  <img
    class="
      motion-safe:rallax absolute max-lg:z-0 lg:z-20 w-10 max-lg:top-56 lg:top-[38rem]
      right-0
    "
    src="{% static 'hourglass/media/backgrounds/rectangle-red.svg' %}"
    alt="">
</div>
