{% load static %}

<div
  class="
    motion-reduce:-bottom-24 max-lg:motion-safe:-bottom-12 lg:motion-safe:-bottom-12
    motion-safe:rallax z-0 relative -right-16
  ">
  <img
    class="absolute z-10 w-64 -bottom-16 right-0"
    src="{% static 'hourglass/media/backgrounds/circle-quarter-blue-textured.png' %}"
    width="434"
    alt="">
  <img
    class="absolute z-10 w-64 -bottom-16 right-64"
    src="{% static 'hourglass/media/backgrounds/circle-quarter-blue-textured.png' %}"
    width="434"
    alt="">
</div>
