{% load static %}

{% if request.user.is_staff %}
  <aside
    class="
      hidden
      absolute top-0 right-0 bg-black text-white
      p-2 rounded-full mx-8 my-4 z-50 flex gap-x-4 items-center
    ">
    <a
      class="underline"
      href="https://github.com/BirkbeckCTP/hourglass/edit/copyediting/templates/{{ rel_path }}">
      ✏️
      <span class="font-poppins">
       Edit on GitHub
      </span>
    </a>
    <img
      id="hide-edit-on-gh"
      class="w-6 cursor-pointer"
      src="{% static 'hourglass/media/icons/close.svg' %}"
      alt="Hide Edit on GitHub">
  </aside>
  <script type="module">
    const hideEditLink = document.getElementById("hide-edit-on-gh")
    hideEditLink.addEventListener('click', event => {
      hideEditLink.parentElement.classList.toggle('hidden')
    })
    if (window.location.search.includes('hide-edit-on-gh')) {
      hideEditLink.parentElement.classList.toggle('hidden')
    }
  </script>
{% endif %}

