{% load static %}

<form
  id="{{ list_id }}-form"
  class="group py-2"
  aria-label="Filter">
  <div class="flex max-w-md gap-4 relative">
    <img
      class="w-8"
      src="{% static 'hourglass/media/icons/filter.svg' %}"
      alt="">
    <input
      id="{{ list_id }}-filter-input"
      placeholder="{{ placeholder|default:'Filter' }}"
      aria-label="Filter"
      type="search"
      name="filter-{{ list_id }}"
      class="
        search
        bg-tan-light
        flex-1 h-9 p-2 w-28 border-none
        lg:mx-4
        placeholder:text-sm
        focus-visible:outline focus-visible:outline-blue
        focus-visible:ring-transparent focus-visible:outline-offset-0
        placeholder:text-black focus-visible:bg-white
      ">
    <button
      type="button"
      tabindex="-1"
      id="cancel-{{ list_id }}"
      class="
        invisible group-focus-within:visible
        absolute right-6 inset-y-0
      ">
      <img
        class="w-6 cursor-pointer"
        src="{% static 'hourglass/media/icons/close.svg' %}"
        alt="Clear">
    </button>
  </div>
</form>
