{% load static %}

<div class="flex flex-col">
  <div class="py-2 flex gap-4 flex-col md:flex-row">
    <span>Copyright &copy; 2023 Birkbeck, University of London</span>
    <span class="flex gap-1.5">
      <span class="flex gap-.5">
        <img
          class="h-4"
          src="{% static 'hourglass/media/cc.svg' %}"
          alt="">
        <img
          class="h-4"
          src="{% static 'hourglass/media/by.svg' %}"
          alt="">
      </span>
      <a
        class="underline"
        rel="license"
        href="http://creativecommons.org/licenses/by/4.0/">
        CC BY 4.0
      </a>
    </span>
  </div>
  <p class="py-2">The Open Library of Humanities (OLH) is part of Birkbeck, University of London, Malet St, London WC1E 7HX, United Kingdom. Birkbeck is an exempt charity under the terms of the Charities Act 2011. As a higher education institution incorporated by Royal Charter (England/Wales), number RC000048, Birkbeck does not have a 'registered charity number'. The OLH is a strictly not-for-profit entity and it has no shareholders.</p>
</div>
