{% load static %}

<div class="flex flex-col">
  <div class="py-2 flex gap-4 flex-col md:flex-row">
    <span>Copyright &copy; 2013&ndash;{% now "Y" %} Birkbeck, University of London</span>
    <span class="flex gap-1.5">
      <span class="flex gap-.5">
        <img
          class="h-4"
          src="{% static 'hourglass/media/icons/cc.svg' %}"
          alt="">
        <img
          class="h-4"
          src="{% static 'hourglass/media/icons/by.svg' %}"
          alt="">
      </span>
      <a
        class="underline"
        rel="license"
        href="http://creativecommons.org/licenses/by/4.0/">
        CC BY 4.0
      </a>
    </span>
    <span>
      Design by
      <a
        class="underline"
        href="https://www.keepingthewolvesatbay.co.uk">
        KTWAB
      </a>
    </span>
  </div>
</div>
