{% extends "press/cms/page.html" %}

{% load static %}
{% load component_tags %}

{% block meta_description %}
  {% include "elements/meta_description.html" with desc="These FAQs are intended for our core user groups – librarians, journal editors, and authors." %}
{% endblock meta_description %}

{% block body %}
  <article aria-labelledby="h1">
    <div class="container mx-auto max-w-screen-xl">
      <div class="relative">
        {% include "custom/edit-on-github.html" with rel_path="custom/frequently-asked-questions.html" %}
        {% include "custom/grumpy-opener.html" %}
        {% include "custom/generic-h1.html" with h1="Frequently asked questions." %}
      </div>
      <div class="relative max-lg:mt-8 lg:-mt-4">
        {% component_block "page_intro" %}
          {% fill "column_one" %}
            <p class="lead text-white">These FAQs are intended for our core user
            groups – librarians, journal editors, and authors.</p>
          {% endfill %}
          {% fill "column_two" %}
            <p>Openness and transparency are core to our activities.
              <a class="text-white" href="/contact">Ask us</a> anything about our
            model and how we work.
            And you may even find your question answered here!</p>
          {% endfill %}
        {% endcomponent_block %}
      </div>
      <div
        class="
          relative mt-28
          list-image-[url({% static 'hourglass/media/backgrounds/circle-red.svg' %})]
        ">
        {% include 'custom/rodin-halfway.html' %}
        {% component_block "page_section" anchor="left" labelledby="libraries-consortia" %}
          <h2 id="libraries-consortia">
            FAQ for libraries &amp; consortia.
          </h2>
          <details class="py-4">
            <summary class="cursor-pointer first:text-red">
              <h3 id="what-makes-olh-unique" class="inline font-poppins-medium">
                What makes the OLH unique among open-access publishers?
              </h3>
            </summary>
            <p>The OLH was one of the first not-for-profit publishers to fund
            humanities journals publishing their research diamond open access. Our
            library membership network means that university and public libraries
            financially support open-access publishing without transferring the
            costs onto authors or readers. This model of collective funding has
            been influential, leading to a number of other publishers adopting
            similar schemes.</p>
            <p>As an innovator in this space, the OLH remains one of the best-known
            and most prestigious open-access publishers. Many of the journals that
            we publish have
              <a href="/site/awards-prizes/">award-winning</a>
            articles in their back catalogues. Other articles published in our
            journals have received international press coverage. We have also
            received awards for best practice in open-access publishing
            standards.</p>
            <p>We are also well known for innovation in publishing technologies and
            community-supported infrastructure. Our publishing platform, Janeway,
            is used by hundreds of academic journals, libraries, and university
            presses worldwide under an open-source copyleft license. When you join
            the OLH, you are supporting a vibrant international community of
            scholars, librarians, publishing technology engineers, and like-minded
            open-access publishers.</p>
          </details>
          <details class="py-4">
            <summary class="cursor-pointer first:text-red">
              <h3 id="what-is-the-relationship" class="inline font-poppins-medium">
                What is the relationship between the OLH and Janeway?
              </h3>
            </summary>
            <p>Janeway was developed by the OLH as our in-house, not-for-profit
            publishing platform. It is strictly open source and shared under a
            copyleft license, which prevents against commercial acquisition of any
            part of the code base. The OLH tech team run and maintain Janeway,
            which powers all of the OLH's journals as well as being used by a
            growing number of of academic journals, scholarly societies, and
            university presses.</p>
          </details>
          <details class="py-4">
            <summary class="cursor-pointer first:text-red">
              <h3 id="what-are-the-benifits-of-library" class="inline font-poppins-medium">
                What are the benefits of library membership and what do members
                receive?
              </h3>
            </summary>
            <p>Members will have full access to all published content in OLH
            journals, which are widely indexed in library catalogues and also
            available to read online at the publisher's website for anyone with an
            internet connection. Academics at members' organisations are eligible
            to submit their research for publication at any OLH journal without
            incurring author fees.</p>
            <p>Every member is given a seat on the OLH Library Members’ Network,
            which is represented by the elected OLH Library Board. The Board is
            responsible for overseeing the governance of the OLH and representing
            library members’ interests. Members receive a yearly report including
            financial and publishing data. Library members are listed on the OLH
            website and are entitled to display a supporter badge in recognition of
            their contribution to funding open access.</p>
          </details>
          <details class="py-4">
            <summary class="cursor-pointer first:text-red">
              <h3 id="what-are-the-gold" class="inline font-poppins-medium">
                What are the gold, silver and bronze pricing tires and do they
                grant access privileges?
              </h3>
            </summary>
            <p>There is no special benefit to higher-tier membership in terms of
            exclusive access. Our mission at the OLH is to transition towards
            sustainable not-for-profit open-access publishing, so that libraries
            can move away from unaffordable commercial publishing costs (including
            journal subscriptions, bundles of titles, transformative agreements,
            and Article Processing Charges).</p>
            <p>Over time, librarians will see savings on these costs as more
            journals flip towards diamond open access. By supporting the OLH at a
            higher tier, libraries can accelerate this transition away from
            commercially-published open access and put more pressure on commercial
            publishers to adapt their business models.</p>
          </details>
          <details class="py-4">
            <summary class="cursor-pointer first:text-red">
              <h3 id="what-are-the-benifits-of-consortium" class="inline font-poppins-medium">
                What are the benefits of OLH consortium membership?
              </h3>
            </summary>
            <p>We welcome expressions of interest from consortia, societies,
            networks, and scholarly projects interested in joining the OLH as a
            bloc. Members joining in a consortial group gain a discount of: 5%
            if 10 libraries join; 10% if 20 libraries join; 15% if more than 30
            libraries join.</p>
            <p>For further information about our consortial offer, please email
            our Marketing Officer Paula Clemente Vega:
            paula.clementevega@bbk.ac.uk.</p>
          </details>
          <details class="py-4">
            <summary class="cursor-pointer first:text-red">
              <h3 id="why-should-my-library" class="inline font-poppins-medium">
                Why should my library join when anyone can publish with you for
                free?
              </h3>
            </summary>
            <p>By joining the OLH, your library is helping fund a sustainable
            transition away from commercial open-access publishing towards
            community-owned and scholar-led publishing. Without this transition,
            libraries will remain beholden to unaffordable journal subscription
            costs or transformative agreements for their academics to publish open
            access. Our membership rates are banded according to institutional size
            and gross national income (GNI) per capita, which is a fair pricing
            structure that contributes towards the repatriation of financial
            resources from the Global North to the Global South.</p>
            <p>As a not-for-profit publisher with our own in-house publishing
            platform, the OLH has dramatically reduced the cost of high-quality
            journal publishing online. It’s cheaper for your library to join the
            OLH and pay an annual membership, which funds the publication of 500
            articles across 33 journals each year,
            than to pay a single Article
            Processing Charge (APC) to publish one article open access with a
            legacy publisher. (Typically, it costs a humanities researcher c.£2,500
            / €2,894 / $3,067 for an APC to publish their journal article open
            access with a publisher whose profits derive from library
            subscriptions).</p>
          </details>
          <details class="py-4">
            <summary class="cursor-pointer first:text-red">
              <h3
                id="can-you-provide-me-with-usage"
                class="inline font-poppins-medium">
                Can you provide me with usage data for a member institution?
              </h3>
            </summary>
            <p>We don't currently produce any institution specific statistics, as
            the OLH is a completely open-access publisher we have no paywalls or
            requirements for login that would allow us to accurately capture
            this information. More information is available regarding
              <a
                href="https://eve.gd/2018/01/19/open-access-resources-and-evaluation-or-why-oa-journals-might-fare-badly-in-terms-of-usage/">the
                context for this decision.</a>
            </p>
          </details>
          <details class="py-4">
            <summary class="cursor-pointer first:text-red">
              <h3 id="how-are-membership-subsidy-fees" class="inline font-poppins-medium">
                How are membership subsidy fees spent by the OLH?
              </h3>
            </summary>
            <p>The OLH employs staff for technical support, maintenance, and
            ongoing platform development of our Janeway in-house publishing
            platform, as well as editorial and marketing. Revenue is spent on these
            staff costs, as well as publishing costs such as indexing, archiving,
            typesetting, web and server hosting costs.</p>
            <p>You can see the breakdown of our publishing costs on our
              <a
                href="/site/governance-and-finances/">Governance
                and Finances</a> page.</p>
          </details>
          <details class="py-4">
            <summary class="cursor-pointer first:text-red">
              <h3 id="id-like-to-join" class="inline font-poppins-medium">
                I’d like to join the OLH but my library has a limited budget. Are
                you able to offer flexible banding?
              </h3>
            </summary>
            <p>OLH memberships are banded according to FTE size and geographical
            location. We adjust fees by country using data from the World bank on
            gross national income (GNI) per capita. You can use our calculator to
            assess your membership fee.</p>
            <p>If our flexible banding is still too expensive for your current
            budget, we also have a donations button where you can give an amount of
            your choosing. If you would like to discuss this further, please
            <a href="/contact/">get in touch</a>.</p>
          </details>
          <details class="py-4">
            <summary class="cursor-pointer first:text-red">
              <h3 id="what-resources-do-you" class="inline font-poppins-medium">
                What resources do you offer to librarians in order to support their
                open-access initiatives?
              </h3>
            </summary>
            <p>Check our
              <a href="/site/resources/">Resources
              page</a>,
            where you can find our collection of essays, interviews and
            blog posts. You can also access our collection of posters,
            infographics, and promotional materials.</p>
          </details>
        {% endcomponent_block %}
      </div>
      <div class="relative mt-28">
        {% include 'custom/wallpainting-end.html' %}
        {% component_block "page_section" anchor="right" labelledby="editors" %}
          <h2 id="editors">
            FAQ for editors.
          </h2>
          <details class="py-4">
            <summary class="cursor-pointer first:text-red">
              <h3 id="what-makes-the-olh-different" class="inline font-poppins-medium">
                What makes the OLH different from other academic publishers? 
              </h3>
            </summary>
            <p>The OLH was one of the first not-for-profit publishers to fund
            humanities journals publishing their research diamond open access. Our
            library membership network means that university and public libraries
            financially support open-access publishing without transferring the
            costs onto authors or readers. This
            <a href="/site/olh-model/">model</a>
            of collective funding has been influential, leading to a number
            of other publishers adopting similar schemes.</p>
            <p>The OLH is one of the best-known and most prestigious open-access
            publishers. Many of the journals that we publish have
            <a href="/site/awards-prizes/">award-winning</a>
            articles in their back catalogues. Other articles published in our
            journals have received international press coverage. We have also
            received awards for best practice in open-access publishing
            standards.</p>
            <p>Unlike other academic publishers, the OLH does not charge any fees
            for authors to submit their journal articles or for readers to access
            and read articles. We support and extend open access to scholarship in
            the humanities by bringing journals back into community ownership and
            developing our own not-for-profit publishing software.</p>
            <p>We believe that academic research should be supported by a publisher
            and publishing infrastructure that is academic-led, not-for-profit, and
            community-governed. We therefore built our own in-house software,
            Janeway, which is under active development and protected by a copyleft
            license, safeguarding our independence from commercial acquisition.
            Janeway is developed in line with feedback from our editors to give
            them unprecedented control over their workflow.</p>
          </details>
          <details class="py-4">
            <summary class="cursor-pointer first:text-red">
              <h3 id="my-press-wants-to-move" class="inline font-poppins-medium">
                My press wants to move to Open Access. Can the OLH help?
              </h3>
            </summary>
            <p>The OLH is a publisher in its own right. We do not fund the costs of
            journal publishing at other presses. However, our publishing platform,
            Janeway, can provide journal hosting at press level. You can
              <a href="/site/janeway-platform-migration/">read more</a>
            about Janeway or
              <a href="mailto:a.byers@bbk.ac.uk?subject=Janeway consultation">contact Andy Byers</a>
            from the Janeway team for further information.
          </details>
          <details class="py-4">
            <summary class="cursor-pointer first:text-red">
              <h3 id="can-the-olh-publish" class="inline font-poppins-medium">
                Can the OLH publish my existing journal?
              </h3>
            </summary>
            <p>As part of our programme of growing our journals portfolio, the OLH
            considers applications from journals looking to move to diamond open
            access on an ongoing basis.</p>
            <p>We accept applications from journal editors for titles that are:
            published via subscription models and looking to move to open access;
            already open access but with an excellent track record of research that
            is highly valued by its scholarly community; published by scholarly
            associations looking to make their journals open access.</p>
            <p>See
              <a href="/site/olh-journal-applications/">full
              information</a>
            on the criteria and how to apply.</p>
          </details>
          <details class="py-4">
            <summary class="cursor-pointer first:text-red">
              <h3 id="i-want-to-set-up" class="inline font-poppins-medium">
                I want to set up a new open-access journal. Can the OLH help?
              </h3>
            </summary>
            <p>We don’t accept applications to set up new journals, as we receive
            many more applications than we are able to support. However, please see
            our <a href="/site/resources/">resources
            page</a> for more help on open-access publishing. You may be interested
            in using our in-house developed publishing platform, Janeway, and the
            hosting services we can provide even if the OLH is not your publisher.
            You can
              <a href="/site/janeway-platform-migration/">read more</a>
            about Janeway or
              <a href="mailto:a.byers@bbk.ac.uk?subject=Janeway consultation">contact Andy Byers</a>
            from the Janeway team for further information.</p>
          </details>
          <details class="py-4">
            <summary class="cursor-pointer first:text-red">
              <h3 id="how-would-the-olh-support" class="inline font-poppins-medium">
                How would the OLH support my journal?
              </h3>
            </summary>
            <p>If your application is successful, we offer comprehensive support in
            the day-to-day running of your journal at the OLH. We have a small,
            friendly team of academic editors with humanities doctorates who
            understand the needs of editors and authors and are on hand to help –
            via email, video call, and instant messaging. You also have direct
            access to our tech developers who can be contacted for support via
            instant messaging.</p>
            <p>Our editorial team will help you ensure that your journal meets the
            highest standards in scholarly publishing, as outlined by the Committee
            on Publication Ethics (COPE). This includes full transparency about the
            peer review processes, editorial structure, and community governance of
            your journal.</p>
            <p>We offer comprehensive indexing and archiving, with a strong focus
            on the discoverability of your journal’s articles in university library
            catalogues. All OLH journal content is registered with Crossref and
            assigned a Digital Object Identifier (DOI). Our journal information is
            harvested by Google Scholar and metadata is available for harvesting
            via OAI-PMH. Journals are registered at Cornell University, which
            maintains interoperability standards through metadata exchange among
            repositories. We also deposit articles in the CLOCKSS and LOCKSS
            permanent archiving systems at Stanford University, which are world
            leaders in high-confidence, resilient, secure digital preservation.</p>
          </details>
          <details class="py-4">
            <summary class="cursor-pointer first:text-red">
              <h3 id="where-can-i-get-help" class="inline font-poppins-medium">
                Where can I get help using the Janeway platform for my journal?
              </h3>
            </summary>
            <p>See the <a href="https://janeway.readthedocs.io/en/latest/">Janeway
              help pages</a> for more information on how to use the platform.</p>
          </details>
        {% endcomponent_block %}
      </div>
      <div class="relative mt-28">
        {% component_block "page_section" anchor="left" labelledby="readers-authors" %}
          <h2 id="readers-authors">
            FAQ for readers &amp; authors.
          </h2>
          <details class="py-4">
            <summary class="cursor-pointer first:text-red">
              <h3 id="why-should-i-publish-oa" class="inline font-poppins-medium">
                Why should I publish Open Access?
              </h3>
            </summary>
            <p>You may be considering open access because your research
            is important to readers beyond the academy, who do not have access to
            university library subscriptions. Or perhaps because you’ve noticed
            that the numbers of article downloads and citations are significantly
            higher for open-access articles than for articles locked behind a
            paywall.</p>
            <p>Alternatively, your librarian might have made you aware that your
            university's library budget is unable to keep pace with the prices set
            by commercial publishers. Perhaps, you are uncomfortable with treating
            scholarship like a product, with commercial publishers earning huge
            profits (often with bigger margins than Google and Coca-Cola) by
            selling scholars’ work back to universities through extortionate
            library subscriptions.</p>
            <p>To find out more about the ‘serials crisis’ and the need for
            open-access models that support humanities work, see our timeline of the
            <a href="/site/open-access-movement/">Open Access Movement</a>.</p>
          </details>
          <details class="py-4">
            <summary class="cursor-pointer first:text-red">
              <h3 id="why-should-i-publish-with-olh" class="inline font-poppins-medium">
                Why should I publish open access with the Open Library of
                Humanities?
              </h3>
            </summary>
            <p>Open Access publishers often charge Article Processing Charges (APCs) in
            place of the subscription fees that traditionally fall to institutional
            libraries. These APC fees are typically c. £2,500 / €2,894 / $3,067.
            Humanities disciplines receive substantially less funding than research
            in STEM and the social sciences. APC fees to fund the open-access
            publication of journal articles is unaffordable for many humanities
            scholars.</p>
            <p>Unlike many open-access publishers, the OLH does not charge author
            fees (we are “diamond” open access). Instead, we work with our
            international network of university and public library partners to make
            open-access humanities publishing viable and equitable. Our
            collectively funded business
            <a href="/site/olh-model/">model</a>
            avoids the need for APCs.</p>
            <p>While reshaping academic publishing to be more fair, inclusive,
            accessible, and equitable, we have also gained a reputation for
            publishing humanities research of the highest quality. The OLH has
            received several awards for our innovations in digital publishing and
            many articles in our journals have received
            <a href="/site/awards-prizes/">awards and prizes</a> from
            their scholarly communities. Our articles benefit from preserving the
            best traditions of scholarly practice such as rigorous peer review,
            whilst taking advantage of the latest developments in digital journal
            publishing – with high-quality presentation, robust digital
            preservation, strong discoverability and easy-to-share social media
            buttons.</p>
          </details>
          <details class="py-4">
            <summary class="cursor-pointer first:text-red">
              <h3 id="how-much-does-it-cost" class="inline font-poppins-medium">
                How much does it cost for me to submit my article?
              </h3>
            </summary>
            <p>Nothing! Authors can submit their work to any of our journals at no
            cost, and should it pass the journal’s peer-review process and proceed
            to publication, there are no mandatory publication fees for any of our
            journals, ensuring that all our articles remain free-to-publish and
            free-to-read.</p>
            <p>A few of our journals may request a Voluntary Author Contribution if
            an author’s academic budget permits, which in turn goes towards funding
            the OLH’s publication costs for the wider good of the open-access
            community, but such contributions are entirely voluntary and author
            waivers are given where this is not possible.</p>
          </details>
          <details class="py-4">
            <summary class="cursor-pointer first:text-red">
              <h3 id="does-it-cost-readers" class="inline font-poppins-medium">
                Does it cost readers to access my article?
              </h3>
            </summary>
            <p>No! There are no charges for readers to access, download and read
            our articles. All are proudly published as open access and are
            available to read worldwide with no charges.</p>
          </details>
          <details class="py-4">
            <summary class="cursor-pointer first:text-red">
              <h3 id="do-i-still-have-ownership" class="inline font-poppins-medium">
                Do I still have ownership of my work when I publish Open Access?
              </h3>
            </summary>
            <p>Yes – all copyright for research articles and other open access
            published work on OLH journals rests with the author(s). OLH journals
            by default use the
            <a href="https://creativecommons.org/about/cclicenses/">Creative Commons CC BY 4.0 license</a>
            to publish articles which permits the open access sharing of work;
            however, the author of the original work must always be credited.
            Your article can be linked to, hosted or displayed on other websites,
            but you will retain the copyright of your article’s text and in such
            instances, you must be credited.</p>
          </details>
          <details class="py-4">
            <summary class="cursor-pointer first:text-red">
              <h3 id="will-my-article-be" class="inline font-poppins-medium">
                Will my article be peer-reviewed?
              </h3>
            </summary>
            <p>Yes. All our journals are peer-reviewed, and we ensure the highest
            standards of publication ethics. Most of our journals are
            double-anonymous reviewed, but some experiment with innovative models
            of review, such as open review. The mode of review will be stated
            clearly on the journal submission page.</p>
          </details>
          <details class="py-4">
            <summary class="cursor-pointer first:text-red">
              <h3 id="how-can-i-submit" class="inline font-poppins-medium">
                How can I submit my work to one of your journals?
              </h3>
            </summary>
            <p>To submit your article to one of our journals, see the
            <a href="/journals/">full list</a>
            of OLH-funded journals and click through to the website for your chosen
            journal. Full information will be given on how to submit on your chosen
            journal’s website.</p>
          </details>
          <details class="py-4">
            <summary class="cursor-pointer first:text-red">
              <h3 id="im-having-technical-issues" class="inline font-poppins-medium">
                I’m having technical issues with making my submission. Help!
              </h3>
            </summary>
            <p>First, check the Janeway
            <a href="https://janeway.readthedocs.io/en/latest/author.html">submission help pages</a>,
            to ensure you’re following the correct steps. If you’re still having problems,
            use our <a href="/contact/">contact form</a>
            to get in touch and one of the team will help.</p>
          </details>
          <details class="py-4">
            <summary class="cursor-pointer first:text-red">
              <h3 id="i-am-interested-in-olh" class="inline font-poppins-medium">
                I am interested in the OLH project. How can I participate?
              </h3>
            </summary>
            <p>To participate, you can submit an article to one of our journals,
            propose a special collection for our flagship
            <i><a href="/site/olh-journal/">Open
            Library of Humanities</a></i> journal, or encourage your library to
            support our financial
            <a href="/site/olh-model/">model</a>.</p>
            <p>One of the best ways to participate is to make sure that faculty are
            aware that they can publish with us, without any charges, across our range
            of journals. To help increase awareness, encourage your colleagues to
            place OLH articles on reading lists and use our peer-reviewed material
            in their teaching practice.</p>
          </details>
        {% endcomponent_block %}
      </div>
      <div class="hidden">faqs</div>
      {% include 'custom/subscribe.html' %}
    </div>
  </article>
{% endblock body %}
