{% load static %}

<div class="relative z-0 top-0 right-0">
  <img
    class="
      z-20 absolute w-16 h-16
      max-lg:top-0 lg:top-12 max-lg:right-0 lg:-right-20
    "
    src="{% static 'hourglass/media/backgrounds/circle-red.svg' %}"
    alt="">
  <img
    class="
      motion-safe:rallax absolute z-20
      max-lg:top-4 lg:top-0 max-md:-right-52 md:max-lg:right-0 lg:-right-8
      max-lg:w-80 max-lg:max-w-none lg:max-w-md
    "
    src="{% static 'hourglass/media/backgrounds/grumpy-beachgoers.png' %}"
    width="813" height="740"
    alt="1930s photograph in which a grumpy woman slouches in a beach chair that has a high-back canopy to shield her from the sun, and a man in a suit with rounded collar sits cross-legged beside her">
  <img
    class="
      motion-safe:rallax absolute
      z-10 h-64 max-w-none
      max-lg:-right-56 lg:-right-56
      max-lg:top-56 lg:top-80
    "
    src="{% static 'hourglass/media/backgrounds/bars-horizontal-red-five.svg' %}"
    height="600"
    alt="">
</div>
