{% load static %}

<div
  class="
    relative max-lg:-top-72 lg:-top-24
    max-lg:right-0 lg:-right-20 xl:-right-32
  ">
  <img
    class="
      absolute z-10 max-lg:w-20 lg:w-12 max-lg:top-8 lg:top-32
      max-lg:right-24 lg:right-80
    "
    src="{% static 'hourglass/media/backgrounds/circle-blue.svg' %}"
    alt="">
  <img
    class="
      motion-safe:rallax z-20 absolute max-lg:h-36 lg:h-28
      max-lg:top-56 lg:top-32 max-lg:right-4 lg:right-64
    "
    src="{% static 'hourglass/media/backgrounds/rectangle-red.svg' %}"
    alt="">
  <img
    class="
      motion-safe:rallax absolute z-10 max-lg:top-28 lg:top-48
      max-lg:right-20 lg:right-12
    "
    src="{% static 'hourglass/media/backgrounds/hand-reaching-right-laptop.png' %}"
    width="502"
    alt="A hand reaching out of a laptop">
  <img
    class="
      absolute max-lg:z-20 lg:z-0 max-lg:top-64 lg:top-16
      max-lg:-left-6 lg:right-64
    "
    src="{% static 'hourglass/media/backgrounds/circle-blue-textured.png' %}"
    width="434"
    alt="">
</div>
