{% extends "press/cms/page.html" %}

{% load static %}
{% load component_tags %}

{% block meta_description %}
  {% include "elements/meta_description.html" with desc="As part of our commitment to sustainable working practices in the humanities, we are proud to support the CHASE Doctoral Training Partnership internship placement scheme." %}
{% endblock meta_description %}

{% block body %}
  <article aria-labelledby="h1">
    <div class="container mx-auto max-w-screen-xl">
      <div class="relative">
        {% include 'custom/edit-on-github.html' with rel_path='custom/internships.html' %}
        {% include 'custom/internships-opener.html' %}
        <div class="relative z-40">
          <div class="max-lg:pt-60 max-lg:pb-8 lg:pb-8 lg:pt-24 px-8 flex">
            <h1
              id="h1"
              class="
                max-md:text-4xl md:max-lg:text-5xl lg:text-6xl !leading-snug
                font-poppins-bold
                bg-safety pointing-2-oclock
              ">
              Internships<br> with the OLH.
            </h1>
          </div>
        </div>
      </div>
      <div class="relative max-lg:mt-8 lg:-mt-4">
        {% component_block "page_intro" %}
          {% fill "column_one" %}
            <p class="lead text-white">As part of our commitment to sustainable
            working practices in the humanities, we are proud to support the
            CHASE Doctoral Training Partnership internship placement scheme.</p>
            <p>This scheme is available to CHASE-funded humanities PhD
            researchers and is a fully paid opportunity to work within the OLH
            and gain valuable experience in publishing across our editorial,
            technical and marketing teams.</p>
          {% endfill %}
          {% fill "column_two" %}
            <p>The placement is available for 6 months full time, or equivalent
            part time for up to 12 months by arrangement. It is fully set up for
            remote working, so there is no travel requirement involved.
            Interns learn about the entire publication process, but the position
            can also be geared towards the individual’s interests.</p>
            <p>Our interns are a valued part of our team, and we work closely with
            them to help ensure that they have a well-rounded, enjoyable and
            interesting time with us. OLH interns leave equipped with the skills,
            knowledge and confidence to help launch their future careers, whether
            within open-access publishing or beyond.</p>
          {% endfill %}
        {% endcomponent_block %}
      </div>
      <div class="relative mt-28">
        {% include 'custom/internships-halfway.html' %}
        {% component_block "page_section" anchor="right" labelledby="team-say" %}
          <h2 id="team-say">
            What our team say...
          </h2>
          <div class="lg:flex lg:flex-row lg:gap-x-12">
            <div class="max-w-xs lg:basis-1/3">
              <img
                src="/media/press/Katherine.jpg"
                alt="">
            </div>
            <div class="lg:basis-2/3">
              <blockquote>
                <p>Our organisation is small and non-hierarchical, which means
                that our interns get to experience work across editorial,
                marketing and tech and gain a real sense of how these aspects
                strategically combine. My favourite thing about working with
                our interns has been them finding that their perspectives are
                just as valuable as anybody else’s in the team. Indeed, as an
                expanding organisation, with big aspirations, we are always
                critiquing our internal processes, and a pair of fresh eyes is
                 both a privilege and a source of energy.</p>
              </blockquote>
              <p class="pl-8">– Katherine Parker-Hay, OLH Publishing
              Development Officer, 2023</p>
            </div>
          </div>
          <div class="lg:flex lg:flex-row lg:gap-x-12">
            <div class="max-w-xs lg:basis-1/3">
              <img
                src="/media/press/Joseph.jpg"
                alt="">
            </div>
            <div class="lg:basis-2/3">
              <blockquote>
                <p>Like many people, I got into publishing through an
                internship at a university press. It was unpaid, which was only
                feasible because I had no caring responsibilities and I could
                work another part-time job that just barely paid the bills. I
                am so glad that OLH interns are compensated through CHASE,
                providing what I hope is a more equitable career path into
                mission-driven humanities publishing.</p>
              </blockquote>
              <p class="pl-8">– Joseph Muller, Senior Publishing Technologies
              Developer, 2023</p>
            </div>
          </div>
        {% endcomponent_block %}
      </div>
      <div class="relative mt-28">
        {% include 'custom/stripes-end.html' %}
        {% component_block "page_section" anchor="left" labelledby="interns-say" %}
          <h2 id="interns-say">
            What our interns say...
          </h2>
          <div class="lg:flex lg:flex-row lg:gap-x-12">
            <div class="max-w-xs lg:basis-1/3">
              <img
                class="grayscale"
                src="/media/press/stacked-books.jpeg"
                alt="">
            </div>
            <div class="lg:basis-2/3">
              <blockquote>
                <p>[The internship has] not only been a great first step into
                academic publishing, but also an illuminating peep into the
                politics and the economics of academic research and
                publications. As a student, I have been taught about the
                contents of many papers, but no one ever mentioned the
                machinations that go on behind the scenes […]. Whilst studying
                at Birkbeck made me a more critical reader, this internship
                made me look behind the ‘what’ of the content to the ‘why’ of
                the paper itself.</p>
              </blockquote>
              <p class="ml-8">
                – <a href="/news/484/">'Mentorship, open access and violin
                  memes'</a>, Francesca Tambellini, University of Falmouth, OLH
                Intern 2021.
              </p>
            </div>
          </div>
          <div class="lg:flex lg:flex-row lg:gap-x-12">
            <div class="max-w-xs lg:basis-1/3">
              <img
                class="grayscale"
                src="/media/press/lindsey_zelvin.jpeg"
                alt="">
            </div>
            <div class="lg:basis-2/3">
              <blockquote>
                <p>I will always treasure my time with OLH. They introduced me
                to the world of academic publishing and open access, and they
                helped me develop into a more independent, assertive, and
                efficient person. </p>
                <p>I thank them for my growth in confidence not only in my
                editorial, marketing, and outreach skills, but also in my
                ability to contribute to the development of an organization.
                </p>
                <p>I leave them knowing my worth, both as a person and an
                employee, and I will always count them as dear friends and
                mentors. Therefore, I refuse to say goodbye to the Open Library
                of Humanities. Instead, I will say ‘Until next time.’ Thank you
                for everything.</p>
              </blockquote>
              <p class="ml-8">
                – <a href="/news/608/">'A Year with the Open Library of
                  Humanities'</a>, Lindsey Zelvin, University of Kent, OLH
                Intern 2022.
              </p>
            </div>
          </div>
          <div class="lg:flex lg:flex-row lg:gap-x-12">
            <div class="max-w-xs lg:basis-1/3">
              <img
                class="grayscale"
                src="/media/press/Cate.jpg"
                alt="">
            </div>
            <div class="lg:basis-2/3">
              <blockquote>
                <p>My CHASE internship with OLH was one of the most valuable and enjoyable parts of my PhD.
                    By being exposed to many different parts of scholarly publishing, including editing academic articles,
                    writing press releases, and working with OLH’s in-house publication software, Janeway,
                    I’ve acquired a cluster of valuable skills that sets me apart from other scholars.
                    Additionally, the OLH staff is composed of some of the most thoughtful, interesting and
                    kind people I’ve ever had the pleasure to know.  It was an experience I definitely recommend
                    to PhD students who are interested in academic publishing as a career.</p>
              </blockquote>
              <p class="ml-8">
                – Cate Meredith, Birkbeck, University of London, OLH
                Intern 2023.
              </p>
            </div>
          </div>
          <p>To read more about what it’s like to work with the OLH, see our <a
            href="/news/tag/Internship/">blogs from
            previous interns</a>.</p>
        {% endcomponent_block %}
      </div>
      <div class="relative mt-28">
        {% component_block "page_section" anchor="right" labelledby="current-opportunities" %}
          <h2 id="current-opportunities">
            Current opportunities.
          </h2>
          <p>To find out more about current placement opportunities see the
          <a href="https://www.chase.ac.uk/current-placements">CHASE
            website</a>. Vacancies with the Open Library of Humanities will be
          announced on OLH social media channels when available, so follow our
          <a href="https://twitter.com/openlibhums">OLH twitter</a> page for
          the latest vacancy updates. For an informal conversation about when
          our next internships are likely to be open, you are also welcome to
          message us via our
          <a href="/contact/">contact
            form</a>.</p>
        {% endcomponent_block %}
      </section>
      {% include 'custom/subscribe.html' %}
    </div>
  </article>
{% endblock body %}
