<section
  id="janeway-article-infographic"
  role="img"
  aria-label="Abstract illustration of a Janeway article that is mobile
  friendly, accessible, marked up in JATS XML, described with robust metadata,
  downloadable as a PDF, and open access"
  class="flex justify-center">
  <div class="relative z-40 font-space-mono-regular max-md:w-72 md:w-[24rem]">
    {% include "custom/janeway-article-infographic.svg" %}
    <div class="md:hidden">
      <div class="absolute -top-[1.5rem] left-12 bg-jw-mustard rounded-full w-5 h-5"></div>
      <div class="absolute -top-[1rem] left-14 bg-jw-mustard h-8 w-0.5"></div>
      <strong class="absolute -top-[3.5rem] left-12 text-lg text-jw-blue">
        Mobile friendly
      </strong>
      <div class="absolute -top-[12rem] left-12 bg-jw-mustard rounded-full w-5 h-5"></div>
      <div class="absolute -top-[13.5rem] -left-2 bg-jw-mustard h-24 w-0.5
        rotate-45 origin-bottom-left"></div>
      <div class="absolute -top-[7.5rem] -left-2 bg-jw-mustard h-72 w-0.5"></div>
      <div class="absolute top-[10.5rem] -left-2 bg-jw-mustard h-16 w-0.5
        -rotate-45 origin-top-left"></div>
      <strong class="absolute -top-[14rem] left-12 text-lg text-jw-blue">
        Accessible
      </strong>
      <div class="absolute bottom-[8.5rem] -left-2 bg-jw-mustard h-16 w-0.5
        rotate-45 origin-bottom-left"></div>
      <div class="absolute -bottom-[0.5rem] -left-2 bg-jw-mustard h-36 w-0.5"></div>
      <div class="absolute -bottom-[6.5rem] -left-2 bg-jw-mustard h-24 w-0.5
        -rotate-45 origin-top-left"></div>
      <div class="absolute -bottom-[5rem] left-12 bg-jw-mustard rounded-full w-5 h-5"></div>
      <strong class="absolute -bottom-[7rem] left-12 text-lg text-jw-blue">
        JATS XML markup
      </strong>
      <div class="absolute -top-[7rem] right-12 bg-jw-mustard rounded-full w-5 h-5"></div>
      <div class="absolute -top-[8.5rem] -right-2 bg-jw-mustard h-24 w-0.5
        -rotate-45 origin-bottom-right"></div>
      <div class="absolute -top-[2.5rem] -right-2 bg-jw-mustard h-40 w-0.5"></div>
      <div class="absolute top-[7.5rem] -right-2 bg-jw-mustard h-16 w-0.5
        rotate-45 origin-top-right"></div>
      <strong class="absolute -top-[9rem] right-12 text-lg text-jw-blue">
        Full metadata
      </strong>
      <div class="absolute bottom-[15rem] -right-2 bg-jw-mustard h-16 w-0.5
        -rotate-45 origin-bottom-right"></div>
      <div class="absolute -bottom-[5rem] -right-2 bg-jw-mustard h-80 w-0.5"></div>
      <div class="absolute -bottom-[11rem] -right-2 bg-jw-mustard h-24 w-0.5
        rotate-45 origin-top-left"></div>
      <div class="absolute -bottom-[10rem] right-12 bg-jw-mustard rounded-full w-5 h-5"></div>
      <strong class="absolute -bottom-[12rem] right-12 text-lg text-jw-blue">
        PDF download
      </strong>
      <div class="absolute bottom-[0rem] right-14 bg-jw-mustard h-40 w-0.5"></div>
      <div class="absolute -bottom-[1rem] right-12 bg-jw-mustard
        rounded-full w-5 h-5"></div>
      <strong class="absolute -bottom-[3rem] right-12 text-lg text-jw-blue">
        Open access
      </strong>
    </div>
    <div class="max-md:hidden">
      <div class="absolute -top-[2.5rem] -left-40 bg-jw-mustard rounded-full w-7 h-7"></div>
      <div class="absolute -top-[1.75rem] -left-36 bg-jw-mustard h-0.5 w-32"></div>
      <div class="absolute -top-[1.75rem] -left-4 bg-jw-mustard h-0.5 w-28
        rotate-[24deg] origin-top-left"></div>
      <strong class="absolute top-0 -left-40 text-2xl text-jw-blue">
        Mobile <br>friendly
      </strong>
      <div class="absolute top-[16rem] -left-40 bg-jw-mustard rounded-full w-7 h-7"></div>
      <div class="absolute top-[16.75rem] -left-36 bg-jw-mustard h-0.5 w-56"></div>
      <strong class="absolute top-[18.5rem] -left-40 text-2xl text-jw-blue">
        Accessible
      </strong>
      <div class="absolute bottom-[13rem] -left-40 bg-jw-mustard rounded-full w-7 h-7"></div>
      <div class="absolute bottom-[13.75rem] -left-36 bg-jw-mustard h-0.5 w-32"></div>
      <div class="absolute bottom-[13.75rem] -left-4 bg-jw-mustard h-0.5 w-20
        -rotate-[24deg] origin-bottom-left"></div>
      <strong class="absolute bottom-[8rem] -left-40 text-2xl text-jw-blue">
        JATS XML <br>markup
      </strong>
      <div class="absolute top-[9rem] -right-16 bg-jw-mustard rounded-full w-7 h-7"></div>
      <div class="absolute top-[9.75rem] -right-12 bg-jw-mustard h-0.5 w-12"></div>
      <div class="absolute top-[9.75rem] right-0 bg-jw-mustard h-0.5 w-20
        -rotate-45 origin-top-right"></div>
      <strong class="absolute top-[11.5rem] w-36 -right-44 text-2xl text-jw-blue">
        Full <br>metadata
      </strong>
      <div class="absolute top-[19.5rem] -right-16 bg-jw-mustard rounded-full w-7 h-7"></div>
      <div class="absolute top-[20.25rem] -right-12 bg-jw-mustard h-0.5 w-28"></div>
      <strong class="absolute top-[22rem] w-36 -right-44 text-2xl text-jw-blue">
        PDF <br>download
      </strong>
      <div class="absolute bottom-[9rem] -right-16 bg-jw-mustard rounded-full w-7 h-7"></div>
      <div class="absolute bottom-[9.75rem] -right-12 bg-jw-mustard h-0.5 w-12"></div>
      <div class="absolute bottom-[9.75rem] right-0 bg-jw-mustard h-0.5 w-24
        rotate-45 origin-bottom-right"></div>
      <strong class="absolute bottom-[4.5rem] w-36 -right-44 text-2xl text-jw-blue">
        Open <br>access
      </strong>
    </div>
  </div>
</section>
