{% include "custom/janeway-article-infographic.svg" %}
<div class="absolute -top-[2.5rem] -left-40 bg-jw-mustard rounded-full w-7 h-7"></div>
<div class="absolute -top-[1.75rem] -left-36 bg-jw-mustard h-0.5 w-32"></div>
<div class="absolute -top-[1.75rem] -left-4 bg-jw-mustard h-0.5 w-28
  rotate-[24deg] origin-top-left"></div>
<strong class="absolute top-0 -left-40 text-2xl text-jw-blue">
  Mobile <br>friendly
</strong>
<div class="absolute top-[16rem] -left-40 bg-jw-mustard rounded-full w-7 h-7"></div>
<div class="absolute top-[16.75rem] -left-36 bg-jw-mustard h-0.5 w-56"></div>
<strong class="absolute top-[18.5rem] -left-40 text-2xl text-jw-blue">
  Accessible
</strong>
<div class="absolute bottom-[13rem] -left-40 bg-jw-mustard rounded-full w-7 h-7"></div>
<div class="absolute bottom-[13.75rem] -left-36 bg-jw-mustard h-0.5 w-32"></div>
<div class="absolute bottom-[13.75rem] -left-4 bg-jw-mustard h-0.5 w-20
  -rotate-[24deg] origin-bottom-left"></div>
<strong class="absolute bottom-[8rem] -left-40 text-2xl text-jw-blue">
  JATS XML <br>markup
</strong>
<div class="absolute top-[9rem] -right-16 bg-jw-mustard rounded-full w-7 h-7"></div>
<div class="absolute top-[9.75rem] -right-12 bg-jw-mustard h-0.5 w-12"></div>
<div class="absolute top-[9.75rem] right-0 bg-jw-mustard h-0.5 w-20
  -rotate-45 origin-top-right"></div>
<strong class="absolute top-[11.5rem] w-36 -right-44 text-2xl text-jw-blue">
  Full <br>metadata
</strong>
<div class="absolute top-[19.5rem] -right-16 bg-jw-mustard rounded-full w-7 h-7"></div>
<div class="absolute top-[20.25rem] -right-12 bg-jw-mustard h-0.5 w-28"></div>
<strong class="absolute top-[22rem] w-36 -right-44 text-2xl text-jw-blue">
  PDF <br>download
</strong>
<div class="absolute bottom-[9rem] -right-16 bg-jw-mustard rounded-full w-7 h-7"></div>
<div class="absolute bottom-[9.75rem] -right-12 bg-jw-mustard h-0.5 w-12"></div>
<div class="absolute bottom-[9.75rem] right-0 bg-jw-mustard h-0.5 w-24
  rotate-45 origin-bottom-right"></div>
<strong class="absolute bottom-[4.5rem] w-36 -right-44 text-2xl text-jw-blue">
  Open <br>access
</strong>
