{% load static %}

<section
  aria-labelledby="join-the-publishing-revolution"
  class="
    relative
    max-lg:before:z-30 max-lg:before:block max-lg:before:absolute
    max-lg:before:inset-y-0 max-lg:before:w-[50vw]
    max-lg:before:right-1/2 max-lg:before:bg-orange
    after:z-30 after:block after:absolute
    after:inset-y-0 after:w-[50vw]
    after:left-1/2 after:bg-orange
  ">
  <div
    class="
      max-lg:px-8 lg:px-16 max-md:py-28 md:pt-28
      flex max-md:flex-col md:flex-row gap-12 z-40 relative
      bg-orange justify-around
    ">
      <img
        class="max-w-xs"
        src="{% static 'hourglass/media/backgrounds/publishing-revolution.png' %}"
        alt="Fist clenched and raised in protest in collage with circles and rectangles">
      <div class="flex flex-col">
        <strong
          id="join-the-publishing-revolution"
          class="
            font-poppins-bold
            max-md:text-5xl md:max-xl:text-7xl xl:text-8xl
            max-xl:max-w-sm xl:max-w-xl
          ">
          Join the publishing revolution
        </strong>
        <p
          class="
            py-6 font-poppins font-semibold max-lg:text-sm lg:text-md
            uppercase tracking-wider underline-offset-8 max-w-xl
          ">
            <a class="underline" href="/media/press/OLH_Short_Library_Brochure_2024_02_23.pdf">
              Download our brochure
            </a>
        </p>
      </div>
  </div>
</section>
