{% load static %}
{% load component_tags %}

<div class="container mx-auto max-w-screen-xl">
  <div class="relative">
    {% include "custom/edit-on-github.html" with rel_path="custom/journals.html" %}
    <aside
      class="
        z-0 relative max-md:top-4 md:max-lg:-top-32 motion-safe:rallax
        max-md:-right-72 md:-right-36
      ">
      <img
        class="absolute z-20 w-20 right-96 max-md:top-0 md:top-32"
        src="{% static 'hourglass/media/backgrounds/circle-blue.svg' %}"
        alt="">
      <img
        class="absolute z-10 w-64 top-40 right-72"
        src="{% static 'hourglass/media/backgrounds/circle-quarter-blue-textured.png' %}"
        width="434"
        alt="">
      <img
        class="absolute z-0 h-64 max-w-none top-40 -right-80"
        src="{% static 'hourglass/media/backgrounds/bars-horizontal-red-five.svg' %}"
        height="600"
        alt="">
      <img
        class="absolute z-30 max-lg:top-36 lg:top-0 max-lg:right-44 lg:right-20"
        src="{% static 'hourglass/media/backgrounds/dancer-ballet.png' %}"
        width="545" height="521"
        alt="Ballet dancer wearing black dress suspended in mid air with arms outstretched">
    </aside>
  </div>
  <div class="relative max-md:pt-56 md:pt-12">
    <div class="z-40 relative">
      <div class="max-lg:py-6 lg:pt-20 lg:pb-6 pl-8 flex">
        <h1
          id="h1"
          class="
            max-md:text-5xl md:max-lg:text-6xl lg:text-7xl !leading-snug
            font-poppins-bold bg-safety pointing-11-oclock
          ">
          Journals.
        </h1>
      </div>
    </div>
  </div>
  <div class="relative z-40 pt-8 py-8">
    {% component_block "filterable_list" list_id="journals" value_names="name description code" placeholder="e.g. history" %}
      <div class="list">
        <div class="relative max-md:mt-28 md:mt-14">
          <section
            aria-label="About"
            class="
              p-8 bg-orange
              flex max-md:flex-col md:flex-row gap-x-16 gap-y-6
              relative z-40
            ">
            <div class="basis-1/3 prose lg:prose-lg">
              <p class="lead">Our diamond open-access journals publish leading
              scholarship in the humanities.</p>
            </div>
            <div class="basis-2/3 prose lg:prose-lg">
              <p>OLH journals command the respect of the academic communities
              they serve. Each journal that we publish has been evaluated for the
              rigour of its content, the international standing of its authors
              and editorial board, and the value to its disciplinary field. As
              part of our mission to bring journals back into community
              ownership, all OLH titles are community-governed.</p>
              <p>Journals are arranged alphabetically by title. Journals can also
              be filtered by keyword and subject area.</p>
            </div>
          </section>
          <aside
            class="
              z-0 relative left-0
              motion-reduce:-bottom-24 motion-safe:bottom-0 motion-safe:rallax
            ">
            <img class="absolute z-20 w-32 left-20 bottom-0"
              src="{% static 'hourglass/media/backgrounds/circles-one-one-half-blue.svg' %}"
              alt="">
            <img
              class="absolute z-10 w-64 -left-32 -bottom-16"
              src="{% static 'hourglass/media/backgrounds/circle-quarter-blue-textured.png' %}"
              width="434"
              alt="">
          </aside>
        </div>
        {% comment %}Active journals{% endcomment %}
        {% for journal in journals %}
          {% if journal.code != 'wwe' and journal.code != 'franc' and journal.code != 'ee' and journal.code != 'pn' and journal.code != 'dm' and journal.code != 'la' %}
            <div class="relative max-lg:mt-16 lg:mt-28">
              {% cycle 'left' 'right' as leftright silent %}
              {% component_block "page_section" anchor=leftright labelledby=journal.name|slugify prose=False width="full" margin="narrow" %}
                {% comment %}
                  We manually set go_to_link as False for journals whose websites are not yet finalized.
                {% endcomment %}
                {% if journal.code == 'thr' or journal.code == 'eh' or journal.code == 'ejp' %}
                  {% include "custom/journal-list-item.html" with journal=journal go_to_link=False %}
                {% else %}
                  {% include "custom/journal-list-item.html" with journal=journal go_to_link=True %}
                {% endif %}
              {% endcomponent_block %}
              {% if leftright == 'right' %}
                {% include "custom/double-arc-halfway.html" %}
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}
        <div class="relative max-lg:mt-16 lg:mt-28">
          {% component_block "page_section" bg="bg-blue" anchor="right" labelledby="archived-journals" width="full" margin="narrow" %}
            <h2 id="archived-journals" class="text-white">Archived journals.</h2>
          {% endcomponent_block %}
        </div>
        {% comment %}Archived journals{% endcomment %}
        {% for journal in journals %}
          {% if journal.code == 'wwe' or journal.code == 'franc' or journal.code == 'ee' or journal.code == 'pn' or journal.code == 'dm' or journal.code == 'la' %}
            <div class="relative max-lg:mt-16 lg:mt-28">
              {% cycle 'left' 'right' as leftright silent %}
              {% component_block "page_section" anchor=leftright labelledby=journal.name|slugify prose=False width="full" margin="narrow" %}
                {% include "custom/journal-list-item.html" with journal=journal go_to_link=True %}
              {% endcomponent_block %}
              {% if leftright == 'right' %}
                {% include "custom/double-arc-halfway.html" %}
              {% endif %}
            </div>
          {% endif %}
        {% endfor %}
      </div>
    {% endcomponent_block %}
  </div>
  {% include 'custom/subscribe.html' %}
</div>
