{% load static %}
{% load component_tags %}

<article>
  <div class="container mx-auto max-w-screen-xl">
    <header aria-labelledby="we-are-olh">
      <div class="relative lg:mt-8">
        {% include "custom/edit-on-github.html" with rel_path="custom/landing.html" %}
        {% include "custom/generic-h1-higher.html" with id="we-are-olh" h1="We are the<br> Open Library<br> of Humanities." %}
        {% include "custom/book-face-opener.html" %}
      </div>
      <div class="relative max-md:mt-96 md:max-lg:mt-48 lg:mt-28">
        <div class="p-8 bg-blue relative z-40">
          <div class="flex max-md:flex-col md:flex-row gap-x-16 gap-y-6">
            <div class="basis-1/4 prose lg:prose-lg">
              <p class="lead text-white">
                For free.<br>
                For everyone.<br>
                For ever.
              </p>
            </div>
            <div class="basis-3/4 text-white prose lg:prose-lg">
              <p class="text-white">The Open Library of Humanities is an
              award-winning open-access publisher of internationally leading
              academic scholarship. Our mission is to support and extend open
              access to scholarship in the humanities &ndash; for free, for everyone,
              for ever. Our goal is to liberate university research
              from commercial control. We believe that scholarship should be
              academic-led and community-owned.</p>
              <div class="not-prose flex">
                {% with rel_path="/site/who-we-are" label="Find out more" %}
                  {% include 'custom/button-action-white.html' %}
                {% endwith %}
              </div>
            </div>
          </div>
        </div>
        <div
          class="
            z-10 relative motion-safe:rallax
            motion-reduce:-top-24 max-lg:motion-safe:-top-96 lg:motion-safe:-top-48
            max-md:right-0 md:-right-24 max-lg:max-h-64 lg:max-h-0
          ">
            <img
              class="absolute z-20 w-28 h-28 max-lg:-left-4 lg:-left-32 top-16"
              src="{% static 'hourglass/media/backgrounds/circle-red.svg' %}"
              alt="">
            <img
              class="absolute z-10 max-lg:left-0 lg:-left-20 top-0 w-96"
              src="{% static 'hourglass/media/backgrounds/building-brutalist-fluted-upside-down.png' %}"
              alt="An upside-down Modernist building in a collage with a
              triangle and a circle">
        </div>
      </div>
    </header>
    <div class="relative mt-28">
      {% component_block "page_section" prose=False anchor="left" width="full" label="Ways to engage" %}
        {% component_block "cta_list" %}
          {% component_block "cta_list_item" %}
            <img
              class="w-36"
              src="{% static 'hourglass/media/icons/Join-the-Conversation.svg' %}"
              alt="">
            <h2
              id="join-the-conversation"
              class="font-poppins-bold max-lg:text-xl lg:text-2xl text-center">
              View our journals.
            </h2>
            <a
              class="
                p-4 not-prose bg-white
                border rounded-full border-blue
                flex gap-4 items-center
              "
              href="{% url 'press_journals' %}">
              {% with label="Find out more" %}
                {% include "custom/button-action-inner-blue.html" %}
              {% endwith %}
            </a>
          {% endcomponent_block %}
          {% component_block "cta_list_item" labelledby="read-our-news" %}
            <img
              class="w-36"
              src="{% static 'hourglass/media/icons/Read-our-News.svg' %}"
              alt="">
            <h2
              id="read-our-news"
              class="font-poppins-bold max-lg:text-xl lg:text-2xl text-center">
              Read our news.
            </h2>
            {% with rel_path="/news/all/" label="Find out more" %}
              {% include 'custom/button-action-blue.html' %}
            {% endwith %}
          {% endcomponent_block %}
          {% component_block "cta_list_item" %}
            <img
              class="w-36"
              src="{% static 'hourglass/media/icons/Hear-our-Ideas.svg' %}"
              alt="">
            <h2 class="font-poppins-bold max-lg:text-xl lg:text-2xl text-center">
              Hear our ideas.
            </h2>
            {% with rel_path="/site/announcements-blog/#hear-our-ideas" label="Find out more" %}
              {% include 'custom/button-action-blue.html' %}
            {% endwith %}
          {% endcomponent_block %}
        {% endcomponent_block %}
      {% endcomponent_block %}
      <aside
        class="
          motion-reduce:-bottom-64 max-lg:motion-safe:-bottom-12 lg:motion-safe:-bottom-36
          motion-safe:rallax z-0 relative left-2
        ">
        <img
          class="z-20 absolute w-[0.3rem] -bottom-44 left-4"
          src="{% static 'hourglass/media/backgrounds/bar-vertical-orange.svg' %}"
          alt="">
        <img
          class="z-0 absolute w-[0.3rem] -bottom-36 left-12"
          src="{% static 'hourglass/media/backgrounds/bar-vertical-orange.svg' %}"
          alt="">
        <img
          class="z-0 absolute w-[0.3rem] -bottom-28 left-20"
          src="{% static 'hourglass/media/backgrounds/bar-vertical-orange.svg' %}"
          alt="">
        <img
          class="z-10 absolute -top-44 -left-8 rotate-180 max-w-xs"
          src="{% static 'hourglass/media/backgrounds/triangle-blue-textured.png' %}"
          alt="">
        <img
          class="absolute z-20 w-20 h-20 left-32 bottom-12"
          src="{% static 'hourglass/media/backgrounds/circle-red.svg' %}"
          alt="">
        <img
          class="z-10 absolute -bottom-28 left-4 max-w-xs"
          src="{% static 'hourglass/media/backgrounds/hand-reaching-right.png' %}"
          alt="A person's arm and hand reaching out">
      </aside>
    </div>
    <div class="relative max-lg:mt-96 lg:mt-0">
      <section aria-labelledby="our-mission">
        <div class="relative z-40 max-lg:pl-8 lg:pl-96 pr-8 py-28 flex flex-col gap-y-6">
          <div class="prose lg:prose-lg bg-safety pointing-10-oclock">
            <p class="lead">Our vision is to support and extend open access to scholarship in
            the humanities by bringing journals back into community ownership and
            developing our own not-for-profit publishing software.</p>
          </div>
        </div>
      </section>
    </div>
    <div class="relative mt-0 lg:mt-12">
      <aside
        class="
          z-10 relative -right-24
          motion-safe:-top-32 motion-reduce:-top-12 motion-safe:rallax
        ">
        <img
          class="lg:hidden absolute z-0 w-96 top-0 right-0"
          src="{% static 'hourglass/media/backgrounds/circle-blue-textured.png' %}"
          width="434"
          alt="">
      </aside>
      <section
        aria-labelledby="what-we-do"
        class="
          relative before:z-30 before:block before:absolute
          before:inset-y-0 before:w-[50vw]
          before:right-1/2
          before:bg-blue
        ">
        <div class="p-8 bg-blue relative z-40 max-w-2xl">
          <div class="prose lg:prose-lg">
            <h2
              id="what-we-do"
              class="text-white">
              What we do.
            </h2>
            <p class="text-white">Everything we do at the OLH is designed to
            preserve access to humanities scholarship in the digital age.</p>
            <p class="text-white">Day-to-day, this means publishing articles in
            our journals, developing open-source software, researching new
            possibilities for scholarly communication, and engaging our
            community of librarians, editors, and researchers.</p>
          </div>
          <div class="flex mt-6">
            {% with rel_path="/site/what-we-do" label="More about us" %}
              {% include 'custom/button-action-white.html' %}
            {% endwith %}
          </div>
        </div>
      </section>
      <aside class="z-0 relative -left-20 -bottom-48 motion-safe:rallax">
        <img
          class="max-lg:hidden absolute z-0 w-96 bottom-0 left-0"
          src="{% static 'hourglass/media/backgrounds/circle-blue-textured.png' %}"
          width="434"
          alt="">
      </aside>
      <aside class="lg:hidden z-0 relative -right-12 -bottom-12 motion-safe:rallax">
        <img
          class="absolute w-96 right-0 bottom-0"
          src="{% static 'hourglass/media/backgrounds/triangle-orange-on-side.svg' %}"
          alt="">
      </aside>
      <aside
        class="
          max-lg:hidden z-0 relative -right-12
          motion-reduce:-bottom-12 motion-safe:bottom-24 motion-safe:rallax
        ">
        <img
          class="absolute z-0 -bottom-4 right-28 rotate-180 w-56"
          src="{% static 'hourglass/media/backgrounds/triangle-blue-textured.png' %}"
          alt="">
        <img
          class="absolute z-10 w-28 bottom-44 right-12"
          src="{% static 'hourglass/media/backgrounds/square-orange.svg' %}"
          alt="">
        <img
          class="absolute z-0 w-16 bottom-64 right-4"
          src="{% static 'hourglass/media/backgrounds/circle-red.svg' %}"
          alt="">
        <img
          class="absolute z-10 -bottom-36 right-12 w-64"
          src="{% static 'hourglass/media/backgrounds/ar-vr-headset-man-dots.png' %}"
          alt="A person wearing an AR/VR headset and a hamburger t-shirt">
      </aside>
    </div>
    <div class="relative mt-28">
      {% component_block "page_section" prose=False anchor="left" width="full" label="Information for" %}
        {% component_block "cta_list" %}
          {% component_block "cta_list_item" %}
            <img
              class="w-36"
              src="{% static 'hourglass/media/icons/Become-a-Supporter.svg' %}"
              alt="">
            <h2 class="font-poppins-bold max-lg:text-xl lg:text-2xl text-center">
              Librarians &amp; supporters.
            </h2>
            {% with rel_path="/site/for-librarians-consortia" label="Find out more" %}
              {% include 'custom/button-action-blue.html' %}
            {% endwith %}
          {% endcomponent_block %}
          {% component_block "cta_list_item" %}
            <img
              class="w-36"
              src="{% static 'hourglass/media/icons/Authors.svg' %}"
              alt="">
            <h2 class="font-poppins-bold max-lg:text-xl lg:text-2xl text-center">
              Readers &amp; authors.
            </h2>
            {% with rel_path="/site/for-readers-authors" label="Find out more" %}
              {% include 'custom/button-action-blue.html' %}
            {% endwith %}
          {% endcomponent_block %}
          {% component_block "cta_list_item" %}
            <img
              class="w-36"
              src="{% static 'hourglass/media/icons/Editors.svg' %}"
              alt="">
            <h2 class="font-poppins-bold max-lg:text-xl lg:text-2xl text-center">
              Editors.
            </h2>
            {% with rel_path="/site/for-editors" label="Find out more" %}
              {% include 'custom/button-action-blue.html' %}
            {% endwith %}
          {% endcomponent_block %}
        {% endcomponent_block %}
      {% endcomponent_block %}
    </div>
    <div class="relative max-lg:mt-16 lg:mt-28">
      <section aria-label="What people say about us">
        {% component_block "glide" glide_id="landing-quotes" glide_type="quotes" %}
          {% fill 'slides' %}
            {% component_block "glide_slide" %}
              {% component_block "quote" %}
                {% fill "quote" %}
                  “Many publishers believe that radical openness is not
                  sustainable. Yet the remarkable growth of the OLH over the
                  last ten years demonstrates that it is, with the right
                  ingenuity and commitment. The OLH is a model for what
                  publishing should be.”
                {% endfill %}
                {% fill "by" %}
                  <span class="font-poppins-bold">Prof. Kathleen Fitzpatrick</span>,
                  Director of Digital Humanities and Professor of English at
                  Michigan State University.
                {% endfill %}
              {% endcomponent_block %}
            {% endcomponent_block %}
            {% component_block "glide_slide" %}
              {% component_block "quote" %}
                {% fill "quote" %}
                  “In the past decade, the OLH has demonstrated the viability
                  of a collective and solidarity-driven investment approach
                  within research communities. This model offers a sustainable
                  and scalable route towards achieving genuine Open Access in
                  the creation and dissemination of knowledge.”
                {% endfill %}
                {% fill "by" %}
                  <span class="font-poppins-bold">Prof. Leslie Chan</span>,
                  Associate Director, Centre for Critical Development Studies,
                  University of Toronto Scarborough and original signatory of
                  the Budapest Open Access Initiative (2001).
                {% endfill %}
              {% endcomponent_block %}
            {% endcomponent_block %}
            {% component_block "glide_slide" %}
              {% component_block "quote" %}
                {% fill "quote" %}
                  “Launching the OLH has been an extraordinary journey. We
                  built a public good out of passion and rage and hope. We
                  continue to build it collectively every day.”
                {% endfill %}
                {% fill "by" %}
                  <span class="font-poppins-bold">Dr Caroline Edwards</span>,
                  Executive Director, Open Library of Humanities and Senior
                  Lecturer in Contemporary Literature and Culture, Birkbeck,
                  University of London.
                {% endfill %}
              {% endcomponent_block %}
            {% endcomponent_block %}
          {% endfill %}
          {% fill 'bullets' %}
            {% component 'glide_bullet' slide_index='0' %}
            {% component 'glide_bullet' slide_index='1' %}
            {% component 'glide_bullet' slide_index='2' %}
          {% endfill %}
        {% endcomponent_block %}
      </section>
    </div>
    <div class="relative max-lg:mt-48 lg:mt-28">
      <aside
        class="
          z-0 relative motion-safe:rallax max-lg:right-0 lg:left-28
          max-lg:top-0 lg:motion-reduce:top-72 lg:motion-safe:top-28
        ">
        <img
          class="
            z-0 absolute max-lg:-right-4 lg:-left-36
            max-lg:-top-48 lg:-top-36 max-lg:h-24 lg:h-36
          "
          src="{% static 'hourglass/media/backgrounds/bars-horizontal-red-three.svg' %}"
          alt="">
        <img
          class="
            z-10 absolute max-lg:-right-6 lg:-left-20
            -top-72 max-lg:w-64 lg:w-96
          "
          src="{% static 'hourglass/media/backgrounds/triangle-orange-on-side.svg' %}"
          alt="">
        <img
          class="
            z-20 absolute max-lg:-right-12 lg:max-xl:-left-48 xl:-left-20
            max-lg:-top-56 lg:-top-36 max-lg:w-72 lg:w-96
          "
          src="{% static 'hourglass/media/backgrounds/laptop-lady-facing-left.png' %}"
          width="790"
          alt="A woman typing on a laptop">
      </aside>
      <aside class="z-0 relative max-lg:-top-32 lg:-top-56 -right-20 motion-safe:rallax">
        <img
          class="max-lg:hidden absolute z-0 w-96 top-0 right-0"
          src="{% static 'hourglass/media/backgrounds/circle-blue-textured.png' %}"
          width="434"
          alt="">
      </aside>
      <section
        aria-labelledby="how-we-work"
        class="
          relative before:z-30 before:block before:absolute
          before:inset-y-0 before:w-[50vw]
          max-lg:before:right-1/2 lg:before:left-1/2
          before:bg-blue
          flex justify-end
        ">
        <div class="p-8 bg-blue relative z-40 max-w-2xl">
          <div class="prose lg:prose-lg">
            <h2 id="how-we-work" class="text-white">
              How we work.
            </h2>
            <p class="text-white">Unlike many open-access publishers, we do not
            charge author fees. We have spent a decade building a sustainable
            business model for funding diamond open-access publishing. This
            would not be possible without the hard work of and support from
            academic and public libraries worldwide, who have joined us to fund
            publishing costs fairly.</p>
            <p class="text-white">We have also developed our own in-house
            publishing platform, which safeguards our independence from
            commercial publishers.</p>
          </div>
          <div class="flex mt-6">
            {% with rel_path="/site/how-we-work" label="More about us" %}
              {% include 'custom/button-action-white.html' %}
            {% endwith %}
          </div>
        </div>
      </section>
      <aside class="z-0 relative -right-12 -bottom-12 motion-safe:rallax">
        <img
          class="lg:hidden absolute w-96 -left-40 -bottom-48"
          src="{% static 'hourglass/media/backgrounds/circle-blue-textured.png' %}"
          width="434"
          alt="">
      </aside>
    </div>
    <div class="relative mt-28">
      <div
        class="
          relative after:z-30 after:block after:absolute
          after:inset-y-0 after:w-[50vw]
          after:left-1/2 after:bg-white
        ">
        {% include "custom/featured-journals.html" %}
      </div>
    </div>
    {% include 'custom/subscribe.html' %}
  </div>
</article>
