{% load static %}

<img
  class="absolute z-0 w-64 max-lg:top-12 lg:top-36 max-lg:right-24 lg:right-64"
  src="{% static 'hourglass/media/backgrounds/circle-blue-textured.png' %}"
  width="434"
  alt="">
<img
  class="
    absolute z-20 h-96
    max-lg:-top-4 lg:top-20 max-lg:right-16 lg:right-52
  "
  src="{% static 'hourglass/media/backgrounds/arc-orange.svg' %}"
  alt="">
<img
  class="
    absolute max-lg:z-20 lg:z-30 w-14 h-14
    max-lg:-right-6 lg:right-28 max-lg:top-16 lg:top-32
  "
  src="{% static 'hourglass/media/backgrounds/circle-red.svg' %}"
  alt="">
<img
  class="
    absolute z-10 max-lg:top-40 lg:top-[20rem] max-lg:right-40 lg:-left-16
    w-32
  "
  src="{% static 'hourglass/media/backgrounds/hoop-earrings-lady.png' %}"
  alt="Woman with hoop earrings dancing and waving arms">
<img
  class="
    max-lg:hidden absolute z-20 w-64 max-lg:top-12 lg:top-[28rem]
    max-lg:right-24 lg:-left-20
  "
  src="{% static 'hourglass/media/backgrounds/circle-blue-textured.png' %}"
  width="434"
  alt="">
