{% load static %}

<aside class="relative z-0 -top-28 right-0">
  <img
    class="
      absolute max-lg:z-20 lg:z-0 max-lg:top-48 lg:top-80
      max-lg:right-12 lg:right-32 max-lg:max-w-sm
    "
    src="{% static 'hourglass/media/backgrounds/circle-blue-textured.png' %}"
    width="434"
    alt="">
  <img
    class="
      motion-safe:rallax absolute z-10 w-20 max-lg:top-8 lg:top-4
      max-lg:right-52 lg:right-80
    "
    src="{% static 'hourglass/media/backgrounds/circle-red.svg' %}"
    alt="">
  <img
    class="
      z-10 absolute max-lg:w-96 lg:max-w-none
      max-lg:-right-8 lg:-right-36 max-lg:-top-8 lg:top-56
    "
    src="{% static 'hourglass/media/backgrounds/man-writing.png' %}"
    width="400" height="561"
    alt="A man wearing a baseball cap, a t-shirt, and a chain around his neck,
    writing in a notebook">
  <img
    class="
      motion-safe:rallax absolute z-20
      max-lg:-right-56 lg:right-28
      max-lg:top-56 lg:top-0
    "
    src="{% static 'hourglass/media/backgrounds/planet-cloudy.png' %}"
    width="308" height="307"
    alt="A planet covered in grey swirling clouds">
</aside>
