{% load static %}

<div
  class="
    max-lg:hidden motion-safe:rallax z-0 relative
    motion-reduce:-top-24 motion-safe:-top-96 -left-16
  ">
  <img
    class="absolute z-0 top-36 -left-12 max-w-sm"
    src="{% static 'hourglass/media/backgrounds/circle-blue-textured.png' %}"
    width="434"
    alt="">
  <img
    class="absolute z-10 w-14 left-0 top-36"
    src="{% static 'hourglass/media/backgrounds/triangle-red.svg' %}"
    alt="">
  <img
    class="absolute z-10 w-14 left-0 top-48"
    src="{% static 'hourglass/media/backgrounds/triangle-red.svg' %}"
    alt="">
  <img
    class="absolute z-20 top-0 left-0 max-w-sm"
    src="{% static 'hourglass/media/backgrounds/cctv-cameras.png' %}"
    width="871"
    alt="Three grimy white CCTV cameras on a pole">
</div>

<div
  class="
    motion-safe:rallax z-0 relative 
    max-lg:motion-reduce:-top-24 max-lg:motion-safe:-top-4 lg:-bottom-96
    max-lg:-left-4 lg:-left-16
  ">
  <img
    class="absolute z-10 top-4 left-12"
    src="{% static 'hourglass/media/backgrounds/circle-blue-textured.png' %}"
    width="434"
    alt="">
  <img
    class="absolute w-96 top-0 left-0 rotate-180"
    src="{% static 'hourglass/media/backgrounds/triangle-orange-on-side.svg' %}"
    alt="">
</div>
