{% load static %}
{% load component_tags %}

<article aria-labelledby="h1">
  <div class="container mx-auto max-w-screen-xl">
    <div class="relative">
      {% include 'custom/edit-on-github.html' with rel_path='custom/news-item.html' %}
      {% include 'custom/generic-art-opener.html' %}
      <div class="relative z-40">
        <div class="prose lg:prose-lg pt-60 max-md:pr-8 md:px-8">
          <div class="bg-safety pointing-4-oclock">
            <h1 id="h1" class="font-poppins-bold !leading-snug">
              {{ news_item.title }}
            </h1>
            <p>
              {% if news_item.byline %}
                {{ news_item.byline }} {% trans "on" %}
              {% endif %}
              {{ news_item.posted|date:"j F Y" }}
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="relative">
      <div class="lg:m-8 relative z-40">
        <div class="
          bg-tan-light md:max-w-[750px] md:max-h-[324px]
          flex place-content-center
        ">
          <img
            class="grayscale"
            src="{{ news_item.best_image_url }}">
        </div>
        <div class="pt-4">
          {% if news_item.tags.all %}
            {% include "custom/news-item-tags.html" with tags=news_item.tags.all %}
          {% endif %}
        </div>
      </div>
    </div>
    <div class="relative max-lg:mt-8 lg:mt-12">
      <div class="z-20 relative left-0 top-12">
        <img
          class="
            motion-safe:rallax absolute z-20 w-12 top-64
            max-lg:-left-6 lg:left-12
          "
          src="{% static 'hourglass/media/backgrounds/rectangle-red.svg' %}"
          alt="">
        <img
          class="absolute z-10 w-96 -left-20 top-48"
          src="{% static 'hourglass/media/backgrounds/circle-blue-textured.png' %}"
          width="434"
          alt="">
      </div>
      {% component_block "page_section" anchor="right" element="div" %}
        {{ news_item.body|safe }}
      {% endcomponent_block %}
    </div>
    {% include 'custom/subscribe.html' %}
  </div>
</article>
