{% load static %}
{% load i18n %}
{% load component_tags %}

<div class="container mx-auto max-w-screen-xl">
  <div class="relative">
    {% include "custom/edit-on-github.html" with rel_path="custom/news.html" %}
    {% include "custom/news-art-opener.html" %}
  </div>
  <div class="relative max-md:pt-24 md:pt-12">
    <div class="z-40 relative">
      <div class="max-lg:py-6 lg:pt-20 lg:pb-6 pl-6 flex">
        <h1
          class="
            max-md:text-4xl md:max-lg:text-6xl lg:text-7xl !leading-snug
            font-poppins-bold
            bg-safety pointing-4-oclock
          ">
          News.
        </h1>
      </div>
    </div>
    <nav aria-label="tags">
      {% if tag or all_tags %}
        {% include "custom/news-list-tags.html" with tag=tag all_tags=all_tags %}
      {% endif %}
    </nav>
  </div>
  <div class="relative mt-8">
    {% component_block "page_section" width="full" anchor="left" margin="narrow" element="div" prose=False %}
      {% component "news_list" request=request news_items=news_items limit=12 %}
    {% endcomponent_block %}
    {% include "custom/news-art-end.html" %}
  </div>
  {% include "custom/pagination.html" with page_obj=news_items %}
  {% include "custom/subscribe.html" %}
</div>
