{% load static %}
{% load i18n %}
{% load component_tags %}

<div class="container mx-auto max-w-screen-xl relative">
  {% include "custom/edit-on-github.html" with rel_path="custom/news.html" %}
  {% include "custom/news-art-opener.html" %}
</div>
<div class="container mx-auto max-w-screen-xl relative max-md:pt-24 md:pt-12">
  <div class="z-40 relative">
    <h1
      class="
        max-md:text-4xl md:max-lg:text-6xl lg:text-7xl !leading-snug
        font-poppins-bold max-lg:py-6 lg:pt-20 lg:pb-6 pl-6
      ">
      News
    </h1>
  </div>
  {% if tag or all_tags %}
    {% include "custom/news-list-tags.html" with tag=tag all_tags=all_tags %}
  {% endif %}
</div>
<div class="container mx-auto max-w-screen-xl relative mt-8">
  <div
    class="
      relative after:z-30 after:block after:absolute
      after:inset-y-0 after:w-screen after:bg-white
      after:right-1/2
    ">
    <div class="relative z-40 py-8 max-md:px-4 md:px-8 bg-white">
      <div class="flex max-md:flex-col md:flex-row md:flex-wrap gap-y-20 md:-mx-6">
        {% for item in news_items|slice:":12" %}
          {% component "news_list_item" item=item %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% include "custom/pagination.html" with page_obj=news_items %}
<div class="container mx-auto max-w-screen-xl relative">
  {% include 'custom/subscribe.html' %}
</div>
