{% load static %}

<div
  class="
    z-0 relative max-lg:top-0 lg:top-0 motion-safe:rallax
    max-md:right-0 md:max-lg:-right-56 lg:-right-44
  ">
  <img
    class="
      absolute max-md:z-0 md:z-10 max-md:-top-28 md:max-lg:-top-4 lg:top-24
      max-md:-right-8 md:right-0 max-w-none
      max-md:w-[18rem] md:w-[28rem]
    "
    src="{% static 'hourglass/media/backgrounds/ar-vr-headset-man-stripes.png' %}"
    width="939"
    alt="Man operating a virtual reality headset and handheld controllers">
  <img
    class="absolute z-20 w-14 max-md:right-0 md:right-32 max-md:-top-6 md:top-56"
    src="{% static 'hourglass/media/backgrounds/triangle-red.svg' %}"
    alt="">
  <img
    class="
      absolute max-md:z-10 md:z-0 max-md:top-12 md:-top-16
      max-md:-right-24 md:right-56 max-md:max-w-sm
    "
    src="{% static 'hourglass/media/backgrounds/circle-blue-textured.png' %}"
    width="434"
    alt="">
</div>
