{% load static %}

<div class="flex flex-col md:px-6">
  <img
    class="grayscale"
    src="{{ item.best_image_url }}"
    alt="">
  <div class="prose lg:prose-lg flex flex-col max-md:items-center">
    <div class="pt-4 max-md:text-center">
      {{ item.posted|date:"j F Y" }}
    </div>
    <h3 class="font-poppins-bold text-xl !mt-4 max-md:text-center">
      {{ item.title }}
    </h3>
    <div class="max-md:text-center">
      {{ item.byline }}
    </div>
    {% if item.tags.all %}
      {% include 'custom/news-item-tags.html' with tags=item.tags.all %}
    {% endif %}
    <div class="flex not-prose mt-8">
      {% with rel_path=item.url label="Read more" %}
        {% include "custom/button-action-blue.html" %}
      {% endwith %}
    </div>
  </div>
</div>
