{% load static %}

<div
  class="
    max-lg:hidden motion-safe:rallax z-0 relative
    motion-reduce:bottom-0 motion-safe:bottom-12 -right-16
  ">
  <img
    class="absolute z-0 bottom-48 right-12 max-w-sm"
    src="{% static 'hourglass/media/backgrounds/circle-blue-textured.png' %}"
    width="434"
    alt="">
  <img
    class="absolute z-0 w-96 -bottom-52 -right-28 rotate-180"
    src="{% static 'hourglass/media/backgrounds/triangle-orange-on-side.svg' %}"
    alt="">
  <img
    class="absolute z-10 w-8 -bottom-24 right-64"
    src="{% static 'hourglass/media/backgrounds/rectangle-red.svg' %}"
    alt="">
  <img
    class="absolute z-20 bottom-12 -right-12 max-w-sm"
    src="{% static 'hourglass/media/backgrounds/mother-children-old-photo.png' %}"
    width="633"
    alt="A scratchy black and white photo of a mother and three children wearing no shoes">
</div>
