{% load static %}

<aside
  class="
    max-lg:hidden motion-safe:rallax z-0 relative
    -top-64 -right-36
  ">
  <img
    class="absolute z-0 top-12 -right-12"
    src="{% static 'hourglass/media/backgrounds/circle-blue-textured.png' %}"
    width="434" height="436"
    alt="">
  <img
    class="absolute z-0 -top-72 -right-48"
    src="{% static 'hourglass/media/backgrounds/woman-on-ladder.png' %}"
    width="533" height="760"
    alt="">
  <img
    class="absolute w-20 lg:-top-56 -right-8"
    src="{% static 'hourglass/media/backgrounds/circle-blue.svg' %}"
    alt="">
  <img
    class="absolute w-20 lg:-top-36 -right-8"
    src="{% static 'hourglass/media/backgrounds/circle-blue.svg' %}"
    alt="">
  <img
    class="absolute w-20 lg:-top-56 right-72"
    src="{% static 'hourglass/media/backgrounds/circle-blue.svg' %}"
    alt="">
</aside>
