{% load static %}

<aside
  class="
    motion-safe:rallax relative z-0
    max-lg:top-12 lg:-top-36 right-0
  ">
  <img
    class="
      absolute z-20 w-14 max-lg:-top-8 lg:top-8
      max-lg:-right-12 lg:right-[20.5rem]
    "
    src="{% static 'hourglass/media/backgrounds/circle-red.svg' %}"
    alt="">
  <img
    class="
      absolute z-0 max-lg:-right-36 lg:-right-12
      max-lg:top-0 lg:-top-20 max-lg:h-48 lg:h-64 max-w-none rotate-90
    "
    src="{% static 'hourglass/media/backgrounds/bars-horizontal-orange-five.svg' %}"
    alt="">
  <img
    class="
      absolute z-10
      max-lg:-top-12 lg:-top-24 max-lg:-right-4 lg:right-32
    "
    src="{% static 'hourglass/media/backgrounds/women-in-nypl.png' %}"
    width="450" height="367"
    alt="Two women hold archival objects in 1950s-era photo">
</aside>
