{% load static %}

<aside class="z-10 relative lg:left-0 lg:bottom-0">
  <img
    class="absolute z-20 max-lg:-left-4 lg:-left-40 lg:bottom-16"
    src="{% static 'hourglass/media/backgrounds/plant.png' %}"
    width="224" height="385"
    alt="">
  <img
    class="absolute z-10 max-lg:left-0 lg:left-0 lg:-bottom-48"
    src="{% static 'hourglass/media/backgrounds/building-brutalist-fluted-upside-down.png' %}"
    alt="An upside-down Modernist building in a collage with a
    triangle and a circle">
</aside>
