{% extends "press/cms/page.html" %}

{% load static %}
{% load component_tags %}

{% block meta_description %}
  {% lorem 15 w %}
{% endblock meta_description %}

{% block body %}
  <article aria-labelledby="h1">
    <div class="container mx-auto max-w-screen-xl">
      <div class="relative">
        {% include 'custom/edit-on-github.html' with rel_path='custom/olh-award.html' %}
        {% include 'custom/tudor-couple-opener.html' %}
        <div class="relative z-40">
          <h1
            id="h1"
            class="
              max-md:text-4xl md:max-lg:text-5xl lg:text-7xl !leading-snug
              font-poppins-bold pt-64 max-lg:pb-12 lg:pb-20 px-8 max-w-md
            ">
            The OLH award.
          </h1>
        </div>
      </div>
      <div class="relative max-lg:mt-8 lg:-mt-4">
        {% component_block "page_intro" %}
          {% fill "column_one" %}
            <p class="lead text-white">The Open Library of Humanities Award
            seeks to recognise and honour individuals who have made outstanding
            contributions to the advancement of open scholarship.</p>
          {% endfill %}
          {% fill "column_two" %}
            <p>By acknowledging the outstanding efforts of individuals, the
            Open Library of Humanities Award aims to recognise the value of
            individual endeavours in open access and encourage others to
            actively engage in the promotion of open scholarship and its
            principles.</p>
          {% endfill %}
        {% endcomponent_block %}
      </div>
      <div class="relative max-lg:mt-8 lg:mt-28">
        {% include 'custom/tudor-couple-halfway.html' %}
        {% component_block "page_section" anchor="right" labelledby="martin-paul-eve" %}
          <img
            class="grayscale"
            src="https://www.openlibhums.org/media/press/martin-olh-award-2023.jpg"
            alt="Martin Paul Eve stands smiling broadly in front of wildflowers
                 and trees. He wears a Janeway T-shirt, holds the 2023 OLH
                 Award in one hand, and uses a cane for support with the other
                 hand.">
          <h2 id="martin-paul-eve">Martin Paul Eve, 2023</h2>
          <p>The inaugural Open Library of Humanities Award 2023 was awarded to
          Prof. Martin Paul Eve. Martin’s outstanding record of scholarly
          research is matched by a deep commitment to principles of open access
          and the protection of community-led open-source publishing
          technologies. Martin co-founded the OLH in 2013 with Dr Caroline
          Edwards and went on to work widely in open access and HE policy. He
          has appeared before the UK House of Commons Select Committee BIS
          Inquiry into Open Access, writing for the British Academy Policy
          Series on the topic, been a steering-group member of the OAPEN-UK
          project, the Jisc National Monograph Strategy Group, the SCONUL
          Strategy Group on Academic Content and Communications, the Open
          Knowledge Foundation’s Open Access Steering Group, the Jisc Scholarly
          Communications Advisory Group, the Collaborative Knowledge Foundation
          advisory board, the California Digital Library/University of
          California Press’s Humanities Book Infrastructure advisory board, and
          the HEFCE Open Access Monographs Expert Reference Panel (2014), the
          Universities UK OA Monographs Working Group (2016-). Martin is a Plan
          S Ambassador and is currently running Work Package 3 of the COPIM
          project, funded by Research England and the Arcadia Foundation.</p>
          <p>As a result of this policy work, Martin was named as one of the
          Guardian’s five finalists for higher education’s most inspiring
          leader 2017. In 2018, Martin was awarded the KU Leuven Medal of
          Honour in the Humanities and Social Sciences and alongside
          co-contributors and the editor won the Electronic Literature
          Organization’s N. Katherine Hayles Award for The Bloomsbury Handbook
          of Electronic Literature. In 2020, Martin was elected a Fellow of the
          English Association. In 2021, Martin was named by the Shaw Trust as
          one of the 100 most influential disabled people in the UK. Martin is
          also the developer of several digital humanities / computational
          projects. In 2018 he co-founded Janeway with Andy Byers, the OLH’s
          in-house open-source digital publishing platform.</p>
          <p>Martin’s academic career has been equally illustrious. He is the
          author of twelve academic monographs on topics ranging from
          contemporary American and British fiction, histories and philosophies
          of technology, evaluative cultures in the academy, and technological
          mutations in scholarly publishing. Martin has also co-edited two
          essay collections on scholarly communications. In 2019, Martin was
          awarded the prestigious Philip Leverhulme Prize for Literary Studies
          by the Leverhulme Trust. Martin is currently Principal R&amp;D Developer
          at CrossRef, working on experimental research and development
          projects for Labs. He is also the Professor of Literature, Technology
          and Publishing at Birkbeck, University of London.</p>
        {% endcomponent_block %}
      </div>
      {% include "custom/subscribe.html" %}
    </div>
  </article>
{% endblock body %}
