{% load static %}

<div
  class="
    relative max-lg:-top-72 lg:top-0 motion-safe:rallax
    max-sm:-right-40 sm:max-md:-right-28 md:max-lg:-right-16
  ">
  {% include 'custom/arc-opener.html' %}
  <img
    class="
      absolute max-lg:z-10 lg:z-30 max-lg:top-12 lg:top-20
      max-lg:-right-24 lg:-right-40 max-lg:max-w-screen-sm lg:max-w-xl"
    srcset="
      {% static 'hourglass/media/backgrounds/roman-sculpture-helmet.png' %} 466w,
      {% static 'hourglass/media/backgrounds/roman-sculpture-helmet-lg.png' %} 873w
    "
    src="{% static 'hourglass/media/backgrounds/roman-sculpture-helmet-lg.png' %}"
    sizes="(max-width: 1024px) 466px, 873px"
    alt="Sculpture of Roman soldier with helmet in collage with square, circle, and triangles">
</div>
