{% load static %}
{% load component_tags %}

<article>
  <div class="container mx-auto max-w-screen-xl relative max-lg:mt-56 lg:mt-8">
    {% include 'custom/edit-on-github.html' with rel_path='custom/our-team.html' %}
    <div
      class="
        relative max-lg:-top-72 lg:-top-24
        max-lg:right-0 lg:-right-20 xl:-right-32
      ">
      <img
        class="
          motion-safe:rallax z-0 absolute max-lg:h-36 lg:h-44
          max-lg:top-24 lg:top-52 max-lg:right-60 lg:right-96
        "
        src="{% static 'hourglass/media/backgrounds/rectangle-red.svg' %}"
        alt="">
      <img
        class="
          motion-safe:rallax z-0 absolute max-lg:h-36 lg:h-44
          max-lg:top-28 lg:top-64 max-lg:right-48 lg:right-80
        "
        src="{% static 'hourglass/media/backgrounds/rectangle-black.svg' %}"
        alt="">
      <img
        class="z-0 absolute max-lg:top-24 lg:-top-56 max-lg:right-0 lg:right-20 w-12"
        src="{% static 'hourglass/media/backgrounds/bars-vertical-orange-three-flat-top.svg' %}"
        alt="">
      <img
        class="
          motion-safe:rallax absolute z-10 max-lg:top-24 lg:top-20
          max-lg:-right-20 lg:-right-40 max-lg:max-w-md lg:max-w-lg
        "
        srcset="
          {% static 'hourglass/media/backgrounds/hairdo-lady-on-bench.pngx' %} 343w,
          {% static 'hourglass/media/backgrounds/hairdo-lady-on-bench-lg.pngx' %} 1065w
        "
        src="{% static 'hourglass/media/backgrounds/hairdo-lady-on-bench-lg.pngx' %}"
        sizes="(max-width: 1024px) 343px, 1065px"
        alt="">
      <img
        class="
          motion-safe:rallax absolute z-10 max-lg:top-40 lg:top-28
          max-lg:-right-64 lg:-right-48 max-lg:max-w-md lg:max-w-lg
        "
        src="{% static 'hourglass/media/backgrounds/typewriter.png' %}"
        width="700"
        alt="A mid-century typewriter with French words typed on a piece of paper">
      <img
        class="motion-safe:rallax lg:hidden z-20 absolute top-[38rem] -right-8 w-36"
        src="{% static 'hourglass/media/backgrounds/square-red.svg' %}"
        alt="">
      <img
        class="
          motion-safe:rallax max-lg:hidden z-20 absolute h-44
          top-[38rem] right-8
        "
        src="{% static 'hourglass/media/backgrounds/rectangle-red.svg' %}"
        alt="">
      <img
        class="
          absolute max-lg:z-20 lg:z-10 max-lg:top-64 lg:top-[42rem]
          max-lg:-left-6 lg:-right-20
        "
        src="{% static 'hourglass/media/backgrounds/circle-blue-textured.png' %}"
        width="434"
        alt="">
    </div>
    <div class="relative z-40">
      <h1
        class="
          max-lg:text-4xl lg:text-7xl !leading-snug
          max-lg:max-w-xs lg:max-w-2xl
          font-poppins-bold max-lg:py-12 lg:py-20 px-8
        ">
        Our Team
      </h1>
    </div>
  </div>
  <div class="container mx-auto max-w-screen-xl relative">
    {% component_block "page_intro" %}
      {% fill "column_one" %}
        <p class="lead text-white">We are based at Birkbeck, University of London, but make up a geographically distributed network of expert bookworms, specialist software developers, and typography enthusiasts.</p>
      {% endfill %}
      {% fill "column_two" %}
        <p>Although we work remotely from across the UK and beyond, we’re united by our belief in the power of shared knowledge and our commitment to the open access revolution. We have a shared love of arts and culture, retro gaming, AI glitches,  dreadful puns; we spend our days sharing ironic gratitude memes and working to make the world of academic publishing a better place.</p>
      {% endfill %}
    {% endcomponent_block %}
  </div>
  <div class="container mx-auto max-w-screen-xl relative">
    <div
      class="
        relative after:z-30 after:block after:absolute
        after:inset-y-0 after:w-screen
        max-lg:after:left-1/2 lg:after:-right-12
        after:bg-white
        mt-28
      ">
      <div
        class="
          relative z-40
          py-20 px-8 bg-white
          flex flex-col gap-y-8
        ">
        <h2 class="font-poppins-bold text-3xl max-lg:text-center">
          Directors
        </h2>
        <div
          class="
            flex max-lg:flex-col gap-y-20
            lg:flex-row lg:justify-between
          ">
          <div
            class="
              flex flex-col gap-y-8 max-lg:items-center
              lg:items-start lg:w-[30%]
            ">
            <img
              class="object-contain w-64 h-64"
              src="https://www.openlibhums.org/media/press/Caroline.jpg"
              alt="">
            <div class="flex flex-col">
              <h3 class="font-poppins-bold max-lg:text-xl lg:text-2xl max-lg:text-center">
                Dr Caroline Edwards
              </h3>
              <p class="max-lg:text-lg lg:text-xl max-lg:text-center">
                Executive Director
              </p>
              <p class="italic max-lg:text-lg lg:text-xl max-lg:text-center">
                The Revolutionary
              </p>
            </div>
            {% with rel_path="/site/dr-caroline-edwards" label="Full profile" %}
              {% include 'custom/button-action-blue.html' %}
            {% endwith %}
          </div>
          <div
            class="
              flex flex-col gap-y-8 max-lg:items-center
              lg:items-start lg:w-[30%]
            ">
            <img
              class="object-contain w-64 h-64"
              src="https://www.openlibhums.org/media/press/Rose.jpg"
              alt="">
            <div class="flex flex-col">
              <h3 class="font-poppins-bold max-lg:text-xl lg:text-2xl max-lg:text-center">
                Dr Rose Harris-Birtill
              </h3>
              <p class="max-lg:text-lg lg:text-xl max-lg:text-center">
                Deputy Director &amp; Head of Editorial
              </p>
              <p class="italic max-lg:text-lg lg:text-xl max-lg:text-center">
                The Strategist
              </p>
            </div>
            {% with rel_path="/site/dr-rose-harris-birtill" label="Full profile" %}
              {% include 'custom/button-action-blue.html' %}
            {% endwith %}
          </div>
          <div
            class="
              flex flex-col gap-y-8 max-lg:items-center
              lg:items-start lg:w-[30%]
            ">
            <img
              class="object-contain w-64 h-64"
              src="https://www.openlibhums.org/media/press/Andy.jpg"
              alt="">
            <div class="flex flex-col">
              <h3 class="font-poppins-bold max-lg:text-xl lg:text-2xl max-lg:text-center">
                Andy Byers
              </h3>
              <p class="max-lg:text-lg lg:text-xl max-lg:text-center">
                Senior Publishing Technology Developer
              </p>
              <p class="italic max-lg:text-lg lg:text-xl max-lg:text-center">
                Defender of the Code
              </p>
            </div>
            {% with rel_path="/site/andy-byers" label="Full profile" %}
              {% include 'custom/button-action-blue.html' %}
            {% endwith %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mx-auto max-w-screen-xl relative">
    <img
      class="
        max-lg:hidden absolute z-0
        left-4 max-w-xs
        motion-reduce:-top-20 motion-safe:-top-96 motion-safe:rallax
      "
      src="{% static 'hourglass/media/backgrounds/circle-blue-textured.png' %}"
      alt="">
    <img
      class="
        max-lg:hidden absolute z-10
        h-36 left-24
        motion-reduce:top-8 motion-safe:-top-72 motion-safe:rallax
      "
      src="{% static 'hourglass/media/backgrounds/rectangle-red.svg' %}"
      alt="">
    <div class="lg:flex">
      <div
        class="
          relative before:z-30 before:block before:absolute
          before:inset-y-0 before:w-screen
          max-lg:before:right-1/2 lg:before:-left-12
          before:bg-white
          mt-28
        ">
        <div
          class="
            relative right-0 z-40
            py-20 px-8 bg-white
            flex flex-col gap-y-8
          ">
          <h2 class="font-poppins-bold text-3xl max-lg:text-center lg:w-[50%]">
            Editorial &amp; Marketing
          </h2>
          <div
            class="
              flex max-lg:flex-col gap-y-20
              lg:flex-row lg:justify-between gap-x-8
            ">
            <div
              class="
                flex flex-col gap-y-8 max-lg:items-center
                lg:items-start lg:flex-1
              ">
              <img
                class="object-contain w-64 h-64"
                src="https://www.openlibhums.org/media/press/Simon.jpg"
                alt="">
              <div class="flex flex-col">
                <h3 class="font-poppins-bold max-lg:text-xl lg:text-2xl max-lg:text-center">
                  Dr Simon Everett
                </h3>
                <p class="max-lg:text-lg lg:text-xl max-lg:text-center">
                  Editorial Officer
                </p>
                <p class="italic max-lg:text-lg lg:text-xl max-lg:text-center">
                  The Archivist
                </p>
              </div>
              {% with rel_path="/site/dr-caroline-edwards" label="Full profile" %}
                {% include 'custom/button-action-blue.html' %}
              {% endwith %}
            </div>
            <div
              class="
                flex flex-col gap-y-8 max-lg:items-center
                lg:items-start lg:flex-1
              ">
              <img
                class="object-contain w-64 h-64"
                src="https://www.openlibhums.org/media/press/Paula.jpg"
                alt="">
              <div class="flex flex-col">
                <h3 class="font-poppins-bold max-lg:text-xl lg:text-2xl max-lg:text-center">
                  Paula Clemente Vega
                </h3>
                <p class="max-lg:text-lg lg:text-xl max-lg:text-center">
                  Marketing Officer
                </p>
                <p class="italic max-lg:text-lg lg:text-xl max-lg:text-center">
                  The Artist
                </p>
              </div>
              {% with rel_path="/site/paula-clemente-vega" label="Full profile" %}
                {% include 'custom/button-action-blue.html' %}
              {% endwith %}
            </div>
          </div>
        </div>
      </div>
      <div
        class="
          relative after:z-30 after:block after:absolute
          after:inset-y-0 after:w-screen
          max-lg:after:left-1/2 lg:after:-left-12
          after:bg-white
          mt-28
        ">
        <div
          class="
            relative z-40
            py-20 px-8 bg-white
            flex flex-col gap-y-8
          ">
          <h2 class="font-poppins-bold text-3xl max-lg:text-center">
            Projects &amp; Development
          </h2>
          <div
            class="
              flex max-lg:flex-col gap-y-20
              lg:flex-row lg:justify-between gap-x-8
            ">
            <div
              class="
                flex flex-col gap-y-8 max-lg:items-center
                lg:items-start lg:flex-1
              ">
              <img
                class="object-contain w-64 h-64"
                src="https://www.openlibhums.org/media/press/Katherine.jpg"
                alt="">
              <div class="flex flex-col">
                <h3 class="font-poppins-bold max-lg:text-xl lg:text-2xl max-lg:text-center">
                  Dr Katherine Parker-Hay
                </h3>
                <p class="max-lg:text-lg lg:text-xl max-lg:text-center">
                  Publishing Development Officer
                </p>
                <p class="italic max-lg:text-lg lg:text-xl max-lg:text-center">
                  Project Whisperer
                </p>
              </div>
              {% with rel_path="/site/dr-katherine-parker-hay" label="Full profile" %}
                {% include 'custom/button-action-blue.html' %}
              {% endwith %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mx-auto max-w-screen-xl relative">
    {% include "custom/quote-glide.html" %}
  </div>
  <div class="container mx-auto max-w-screen-xl relative max-lg:mt-28 lg:mt-16">
    <div class="z-0 relative right-0 max-lg:top-0 lg:-top-20 motion-safe:rallax">
      <img
        class="
          absolute max-lg:w-96 lg:max-w-md
          right-0 motion-reduce:-top-64 motion-safe:-top-96 motion-safe:rallax
        "
        src="{% static 'hourglass/media/backgrounds/shakespeare-drag-actor-flowers-stripes.png' %}"
        alt="Actor singing with arms raised wearing dress and flowery crown">
    </div>
    <div class="lg:flex">
      <div
        class="
          relative before:z-30 before:block before:absolute
          before:inset-y-0 before:w-screen
          max-lg:before:right-1/2 lg:before:-right-12
          before:bg-white
        ">
        <div
          class="
            relative z-40
            py-20 px-8 bg-white
            flex flex-col gap-y-8
          ">
          <h2 class="font-poppins-bold text-3xl max-lg:text-center">
            Engineering
          </h2>
          <div
            class="
              flex max-lg:flex-col gap-y-20
              lg:flex-row lg:justify-between gap-x-8
            ">
            <div
              class="
                flex flex-col gap-y-8 max-lg:items-center
                lg:items-start lg:flex-1
              ">
              <img
                class="object-contain w-64 h-64"
                src="https://www.openlibhums.org/media/press/Mauro.jpg"
                alt="">
              <div class="flex flex-col">
                <h3 class="font-poppins-bold max-lg:text-xl lg:text-2xl max-lg:text-center">
                  Mauro Sanchez
                </h3>
                <p class="max-lg:text-lg lg:text-xl max-lg:text-center">
                  Senior Publishing Technologies Developer
                </p>
                <p class="italic max-lg:text-lg lg:text-xl max-lg:text-center">
                  Back-End Ninja
                </p>
              </div>
              {% with rel_path="/site/mauro-sanchez" label="Full profile" %}
                {% include 'custom/button-action-blue.html' %}
              {% endwith %}
            </div>
            <div
              class="
                flex flex-col gap-y-8 max-lg:items-center
                lg:items-start lg:flex-1
              ">
              <img
                class="object-contain w-64 h-64"
                src="https://www.openlibhums.org/media/press/Joseph.jpg"
                alt="">
              <div class="flex flex-col">
                <h3 class="font-poppins-bold max-lg:text-xl lg:text-2xl max-lg:text-center">
                  Joseph Muller
                </h3>
                <p class="max-lg:text-lg lg:text-xl max-lg:text-center">
                  Publishing Technologies Developer
                </p>
                <p class="italic max-lg:text-lg lg:text-xl max-lg:text-center">
                  The Translator
                </p>
              </div>
              {% with rel_path="/site/joseph-muller" label="Full profile" %}
                {% include 'custom/button-action-blue.html' %}
              {% endwith %}
            </div>
          </div>
        </div>
      </div>
      <div
        class="
          relative after:z-30 after:block after:absolute
          after:inset-y-0 after:w-screen
          max-lg:after:left-1/2 lg:after:-right-12
          after:bg-white
          max-lg:mt-28
        ">
        <div
          class="
            relative z-40
            py-20 px-8 bg-white
            flex flex-col gap-y-8
          ">
          <h2 class="font-poppins-bold text-3xl max-lg:text-center">
            Internship
          </h2>
          <div
            class="
              flex max-lg:flex-col gap-y-20
              lg:flex-row lg:justify-between
            ">
            <div
              class="
                flex flex-col gap-y-8 max-lg:items-center
                lg:items-start lg:flex-1
              ">
              <img
                class="object-contain w-64 h-64"
                src="https://www.openlibhums.org/media/press/Cate.jpg"
                alt="">
              <div class="flex flex-col">
                <h3 class="font-poppins-bold max-lg:text-xl lg:text-2xl max-lg:text-center">
                  Cate Meredith
                </h3>
                <p class="max-lg:text-lg lg:text-xl max-lg:text-center">
                  CHASE Doctoral Training Partnership Intern
                </p>
                <p class="italic max-lg:text-lg lg:text-xl max-lg:text-center">
                  The Polymath
                </p>
              </div>
              {% with rel_path="/site/cate-meredith" label="Full profile" %}
                {% include 'custom/button-action-blue.html' %}
              {% endwith %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mx-auto max-w-screen-xl relative">
    {% include 'custom/subscribe.html' %}
  </div>
</article>
