{% extends "press/cms/page.html" %}

{% load static %}
{% load component_tags %}

{% block meta_description %}
  <meta
    property="og:description"
    content="We are based at Birkbeck, University of London, but make up a
    geographically distributed network of expert bookworms, specialist software
    developers, and typography enthusiasts.">
{% endblock meta_description %}

{% block body %}
  <div class="container mx-auto max-w-screen-xl">
    <div class="relative max-lg:mt-56 lg:mt-8">
      <aside
        class="
          relative max-lg:-top-72 lg:-top-24
          max-lg:right-0 lg:-right-20 xl:-right-32
        ">
        <img
          class="
            motion-safe:rallax z-0 absolute max-lg:h-36 lg:h-44
            max-lg:top-24 lg:top-52 max-lg:right-60 lg:right-96
          "
          src="{% static 'hourglass/media/backgrounds/rectangle-red.svg' %}"
          alt="">
        <img
          class="
            motion-safe:rallax z-0 absolute max-lg:h-36 lg:h-44
            max-lg:top-28 lg:top-64 max-lg:right-48 lg:right-80
          "
          src="{% static 'hourglass/media/backgrounds/rectangle-black.svg' %}"
          alt="">
        <img
          class="z-0 absolute max-lg:top-24 lg:-top-56 max-lg:right-0 lg:right-20 w-12"
          src="{% static 'hourglass/media/backgrounds/bars-vertical-orange-three-flat-top.svg' %}"
          alt="">
        <img
          class="
            motion-safe:rallax absolute z-10 max-lg:top-40 lg:top-28
            max-lg:-right-64 lg:-right-48 max-lg:max-w-md lg:max-w-lg
          "
          src="{% static 'hourglass/media/backgrounds/typewriter.png' %}"
          width="700"
          alt="A mid-century typewriter with French words typed on a piece of paper">
        <img
          class="motion-safe:rallax lg:hidden z-20 absolute top-[38rem] -right-8 w-36"
          src="{% static 'hourglass/media/backgrounds/square-red.svg' %}"
          alt="">
        <img
          class="
            motion-safe:rallax max-lg:hidden z-20 absolute h-44
            top-[38rem] right-8
          "
          src="{% static 'hourglass/media/backgrounds/rectangle-red.svg' %}"
          alt="">
        <img
          class="
            absolute max-lg:z-20 lg:z-10 max-lg:top-64 lg:top-[42rem]
            max-lg:-left-6 lg:-right-20
          "
          src="{% static 'hourglass/media/backgrounds/circle-blue-textured.png' %}"
          width="434"
          alt="">
      </aside>
      <div class="relative z-40">
        <h1
          class="
            max-lg:text-4xl lg:text-7xl !leading-snug
            max-lg:max-w-xs lg:max-w-2xl
            font-poppins-bold max-lg:py-12 lg:py-20 px-8
          ">
          Our team.
        </h1>
      </div>
    </div>
    <div class="relative">
      {% component_block "page_intro" %}
        {% fill "column_one" %}
          <p class="lead text-white">We are based at Birkbeck, University of
          London, but make up a geographically distributed network of expert
          bookworms, specialist software developers, and typography
          enthusiasts.</p>
        {% endfill %}
        {% fill "column_two" %}
          <p>Although we work remotely from across the UK and beyond, we’re
          united by our belief in the power of shared knowledge and our
          commitment to the open access revolution. We have a shared love of
          arts and culture, retro gaming, AI glitches, and dreadful puns. We
          spend our days sharing ironic gratitude memes and working to make the
          world of academic publishing a better place.</p>
        {% endfill %}
      {% endcomponent_block %}
    </div>
    {% component_block "staff_page" request=request %}
      <div class="relative mt-28">
        {% with group=staff_groups.0 %}
          {% component_block "page_section" prose=False anchor="left" width="full" labelledby=group.name|slugify %}
            {% component "staff_group" group=group %}
          {% endcomponent_block %}
        {% endwith %}
      </div>
      <div class="relative mt-28">
        <aside>
          <img
            class="
              max-lg:hidden absolute z-0
              left-4 max-w-xs
              motion-reduce:-top-20 motion-safe:-top-96 motion-safe:rallax
            "
            src="{% static 'hourglass/media/backgrounds/circle-blue-textured.png' %}"
            alt="">
          <img
            class="
              max-lg:hidden absolute z-10
              h-36 left-24
              motion-reduce:top-8 motion-safe:-top-72 motion-safe:rallax
            "
            src="{% static 'hourglass/media/backgrounds/rectangle-red.svg' %}"
            alt="">
        </aside>
        {% with group=staff_groups.1 %}
          {% component_block "page_section" prose=False anchor="right" labelledby=group.name|slugify %}
            {% component "staff_group" group=group %}
          {% endcomponent_block %}
        {% endwith %}
      </div>
      <section aria-label="Quotes from the team" class="relative max-lg:mt-16 lg:mt-28">
        {% component_block "glide" glide_id="team-quotes" glide_type="quotes" %}
          {% fill 'slides' %}
            {% component_block "glide_slide" %}
              {% component_block "quote" %}
                {% fill "quote" %}
                  “Working at the OLH is like being on a sports team full of
                  Tolkien nerds. You’re challenged and inspired to do your
                  best, without being precious. You genuinely have each others’
                  backs because the wins are collective, and dawn is not far
                  off.”
                {% endfill %}
                {% fill "by" %}
                  <span class="font-poppins-bold">Joseph Muller</span>,
                  Senior Publishing Technologies Developer
                {% endfill %}
              {% endcomponent_block %}
            {% endcomponent_block %}
            {% component_block "glide_slide" %}
              {% component_block "quote" %}
                {% fill "quote" %}
                  “I’m proud to work for such an excellent organisation and a
                  genuinely important cause. The culture at OLH is really
                  positive, inclusive and welcoming – our small close-knit team
                  feels more like a family.”
                {% endfill %}
                {% fill "by" %}
                  <span class="font-poppins-bold">Dr Rose Harris-Birtill</span>,
                  Editorial Director
                {% endfill %}
              {% endcomponent_block %}
            {% endcomponent_block %}
            {% component_block "glide_slide" %}
              {% component_block "quote" %}
                {% fill "quote" %}
                  “The OLH is home to an eclectic mix of people who are working
                  together for a common political goal but know how to enjoy
                  themselves in the process.”
                {% endfill %}
                {% fill "by" %}
                  <span class="font-poppins-bold">Dr Katherine Parker-Hay</span>,
                  Publishing Development Officer
                {% endfill %}
              {% endcomponent_block %}
            {% endcomponent_block %}
          {% endfill %}
          {% fill 'bullets' %}
            {% component 'glide_bullet' slide_index='0' %}
            {% component 'glide_bullet' slide_index='1' %}
            {% component 'glide_bullet' slide_index='2' %}
          {% endfill %}
        {% endcomponent_block %}
      </section>
      <div class="relative max-lg:mt-48 lg:mt-28">
        <aside class="z-0 relative right-0 max-lg:top-0 lg:-top-20 motion-safe:rallax">
          <img
            class="
              absolute max-lg:w-96 lg:max-w-md
              right-0 motion-reduce:-top-64 motion-safe:-top-96 motion-safe:rallax
            "
            src="{% static 'hourglass/media/backgrounds/shakespeare-drag-actor-flowers-stripes.png' %}"
            alt="Actor singing with arms raised wearing dress and flowery crown">
        </div>
        {% with group=staff_groups.2 %}
          {% component_block "page_section" prose=False anchor="left" width="full" labelledby=group.name|slugify %}
            {% component "staff_group" group=group %}
          {% endcomponent_block %}
        {% endwith %}
      </aside>
    {% endcomponent_block "staff_page" %}
    {% include 'custom/subscribe.html' %}
  </div>
{% endblock body %}
