{% extends "press/cms/page.html" %}

{% load static %}
{% load component_tags %}

{% block meta_description %}
  We are based at Birkbeck, University of London, but make up a
  geographically distributed network of expert bookworms, specialist software
  developers, and typography enthusiasts.
{% endblock meta_description %}

{% block body %}
  <div class="container mx-auto max-w-screen-xl">
    <div class="relative max-lg:mt-56 lg:mt-8">
      {% include "custom/edit-on-github.html" with rel_path="custom/our-team.html" %}
      {% include "custom/typewriter-opener.html" %}
      {% include "custom/generic-h1.html" with h1="Our team." %}
    </div>
    <div class="relative">
      {% component_block "page_intro" %}
        {% fill "column_one" %}
          <p class="lead text-white">We are based at Birkbeck, University of
          London, but make up a geographically distributed network of expert
          bookworms, specialist software developers, and typography
          enthusiasts.</p>
        {% endfill %}
        {% fill "column_two" %}
          <p>Although we work remotely from across the UK and beyond,
          we’re united by our belief in the power of shared knowledge
          and our commitment to the open-access revolution. We also have
          a shared love of arts and culture, retro gaming, AI glitches, and
          dreadful puns, and a strong desire to make the world of academic publishing
          a better place.</p>
        {% endfill %}
      {% endcomponent_block %}
    </div>
    {% component_block "staff" request=request %}
      {% if groups %}
        <div class="relative mt-28">
          {% with group=groups.0 %}
            {% component_block "page_section" prose=False anchor="left" width="full" labelledby=group.name|slugify %}
              {% component "user_group" group=group %}
            {% endcomponent_block %}
          {% endwith %}
        </div>
        <div class="relative mt-28">
          <aside>
            <img
              class="
                max-lg:hidden absolute z-0
                left-4 max-w-xs
                motion-reduce:-top-20 motion-safe:-top-96 motion-safe:rallax
              "
              src="{% static 'hourglass/media/backgrounds/circle-blue-textured.png' %}"
              alt="">
            <img
              class="
                max-lg:hidden absolute z-10
                h-36 left-24
                motion-reduce:top-8 motion-safe:-top-72 motion-safe:rallax
              "
              src="{% static 'hourglass/media/backgrounds/rectangle-red.svg' %}"
              alt="">
          </aside>
          {% with group=groups.1 %}
            {% component_block "page_section" prose=False anchor="right" labelledby=group.name|slugify %}
              {% component "user_group" group=group %}
            {% endcomponent_block %}
          {% endwith %}
        </div>
        <section aria-label="Quotes from the team" class="relative max-lg:mt-16 lg:mt-28">
          {% component_block "glide" glide_id="team-quotes" glide_type="quotes" %}
            {% fill 'slides' %}
              {% component_block "glide_slide" %}
                {% component_block "quote" %}
                  {% fill "quote" %}
                    “Working at the OLH is like being on a sports team full of
                    Tolkien nerds. You’re challenged and inspired to do your
                    best, without being precious. You genuinely have each others’
                    backs because the wins are collective, and dawn is not far
                    off.”
                  {% endfill %}
                  {% fill "by" %}
                    <span class="font-poppins-bold">Joseph Muller</span>,
                    Senior Publishing Technologies Developer.
                  {% endfill %}
                {% endcomponent_block %}
              {% endcomponent_block %}
              {% component_block "glide_slide" %}
                {% component_block "quote" %}
                  {% fill "quote" %}
                    “I’m proud to work for such an excellent organisation and a
                    genuinely important cause. The culture at OLH is really
                    positive, inclusive and welcoming – our small close-knit team
                    feels more like a family.”
                  {% endfill %}
                  {% fill "by" %}
                    <span class="font-poppins-bold">Dr Rose Harris-Birtill</span>,
                    Editorial Director.
                  {% endfill %}
                {% endcomponent_block %}
              {% endcomponent_block %}
              {% component_block "glide_slide" %}
                {% component_block "quote" %}
                  {% fill "quote" %}
                    “The OLH is home to an eclectic mix of people who are working
                    together for a common political goal but know how to enjoy
                    themselves in the process.”
                  {% endfill %}
                  {% fill "by" %}
                    <span class="font-poppins-bold">Dr Katherine Parker-Hay</span>,
                    Publishing Development Officer.
                  {% endfill %}
                {% endcomponent_block %}
              {% endcomponent_block %}
            {% endfill %}
            {% fill 'bullets' %}
              {% component 'glide_bullet' slide_index='0' %}
              {% component 'glide_bullet' slide_index='1' %}
              {% component 'glide_bullet' slide_index='2' %}
            {% endfill %}
          {% endcomponent_block %}
        </section>
        <div class="relative max-lg:mt-48 lg:mt-28">
          <aside class="z-0 relative right-0 max-lg:top-0 lg:-top-20 motion-safe:rallax">
            <img
              class="
                absolute max-lg:w-96 lg:max-w-md
                right-0 motion-reduce:-top-64 motion-safe:-top-96 motion-safe:rallax
              "
              src="{% static 'hourglass/media/backgrounds/shakespeare-drag-actor-flowers-stripes.png' %}"
              alt="Actor singing with arms raised wearing dress and flowery crown">
          </aside>
          {% with group=groups.2 %}
            {% component_block "page_section" prose=False anchor="left" width="part" labelledby=group.name|slugify %}
              {% component "user_group" group=group %}
            {% endcomponent_block %}
          {% endwith %}
        </div>
      {% endif %}
    {% endcomponent_block "staff" %}
    {% include 'custom/subscribe.html' %}
  </div>
{% endblock body %}
