{% load static %}

<div class="relative z-0 top-0 left-0">
  <img
    class="absolute z-0 left-4 max-w-xs top-20"
    src="{% static 'hourglass/media/backgrounds/circle-blue-textured.png' %}"
    alt="">
  <img
    class="absolute z-10 h-36 left-4 top-28 rotate-90"
    src="{% static 'hourglass/media/backgrounds/rectangle-red.svg' %}"
    alt="">
  <img
    class="
      max-lg:hidden absolute z-20 -left-4
      motion-reduce:top-8 motion-safe:-top-48 motion-safe:rallax
    "
    src="{% static 'hourglass/media/backgrounds/flower.png' %}"
    width="400"
    alt="">
</div>
