{% load static %}

<aside class="relative z-0 right-0 top-0 motion-safe:rallax">
  <img
    class="absolute z-0 right-4 max-w-xs top-20"
    src="{% static 'hourglass/media/backgrounds/circle-blue-textured.png' %}"
    alt="">
  <img
    class="absolute z-10 h-36 right-4 top-28 rotate-90"
    src="{% static 'hourglass/media/backgrounds/rectangle-red.svg' %}"
    alt="">
  <img
    class="
      absolute z-10 w-20 max-lg:top-8 lg:top-0
      max-lg:right-52 lg:-right-8
    "
    src="{% static 'hourglass/media/backgrounds/circle-blue.svg' %}"
    alt="">
</aside>
