{% extends "press/cms/page.html" %}

{% load static %}
{% load component_tags %}

{% block meta_description %}
  {% include "elements/meta_description.html" with desc="This reading list is curated by OLH staff as part of our advocacy programme." %}
{% endblock meta_description %}

{% block body %}
  <article aria-labelledby="h1">
    <div class="container mx-auto max-w-screen-xl">
      <div class="relative">
        {% include 'custom/edit-on-github.html' with rel_path='custom/reading-list.html' %}
        <aside class="relative z-0 top-0 right-0">
          <img
            class="
              motion-safe:rallax absolute z-20 w-12 max-lg:top-80 lg:top-80
              max-lg:-right-8 lg:-right-20
            "
            src="{% static 'hourglass/media/backgrounds/circle-red.svg' %}"
            alt="">
          <img
            class="
              absolute max-lg:z-10 lg:z-20 w-64
              max-lg:top-16 lg:top-28 max-lg:-right-12 lg:-right-8
            "
            src="{% static 'hourglass/media/backgrounds/arc-red.svg' %}"
            alt="">
          <img
            class="
              absolute max-lg:z-20 lg:z-0 max-lg:top-48 lg:top-28
              max-lg:right-0 lg:-right-12 max-lg:max-w-sm
            "
            src="{% static 'hourglass/media/backgrounds/circle-blue-textured.png' %}"
            width="434"
            alt="">
          <img
            class="
              motion-safe:rallax absolute max-lg:z-0 lg:z-10 max-lg:-top-4 lg:top-10
              max-lg:-right-24 lg:-right-16 max-w-md
            "
            src="{% static 'hourglass/media/backgrounds/laocoon.png' %}"
            width="540"
            alt="Marble sculpture of Laocoon, from Greek legend">
          <img
            class="
              motion-safe:rallax max-lg:z-10 lg:z-20 absolute max-lg:right-40 lg:right-44
              max-lg:top-28 lg:top-40 max-lg:h-48 lg:h-64 max-w-none
            "
            src="{% static 'hourglass/media/backgrounds/triangle-orange-on-side.svg' %}"
            alt="">
        </aside>
        <div class="relative z-40">
          <div class="max-lg:pt-60 max-lg:pb-8 lg:py-16 px-8 max-w-md flex">
            <h1
              id="h1"
              class="
                max-md:text-4xl md:max-lg:text-5xl lg:text-7xl !leading-snug
                font-poppins-bold bg-safety pointing-1-oclock
              ">
              Reading<br> list.
            </h1>
          </div>
        </div>
      </div>
      <div class="relative max-lg:mt-8 lg:-mt-4">
        {% component_block "page_intro" %}
          {% fill "column_one" %}
            <p class="lead text-white">This reading list is curated by OLH staff as
            part of our advocacy programme.</p>
          {% endfill %}
          {% fill "column_two" %}
            <p>We want to provide humanities scholars and librarians with the
            critical tools to support their own open-access advocacy.</p>
            <p>The list is dynamic and growing, and we welcome your
            suggestions!</p>
          {% endfill %}
        {% endcomponent_block %}
      </div>
      <div class="relative mt-28">
        <aside class="relative z-0 max-lg:-left-20 lg:left-8 top-0">
          <img
            class="motion-safe:rallax absolute z-0 max-lg:-top-48 lg:top-28 left-0 max-w-sm"
            src="{% static 'hourglass/media/backgrounds/circle-blue-textured.png' %}"
            width="434"
            alt="">
          <img
            class="
              z-10 absolute max-lg:-left-32 lg:-left-24
              max-lg:-top-16 lg:top-72 h-72 max-w-none
            "
            src="{% static 'hourglass/media/backgrounds/triangle-orange-on-side.svg' %}"
            alt="">
        </aside>
        {% component_block "page_section" anchor="right" label="Reading list" %}
          {% component_block "reference_list" %}
            {% component_block "reference_list_item" %}
              <b>Adema</b>, <b>Janneke</b>, ‘Overview of Open Access Models for Ebooks in the Humanities and Social Sciences’, <em>Oapen, </em>March, 2010 &lt;<a href="https://core.ac.uk/download/pdf/228144629.pdf">https://core.ac.uk/download/pdf/228144629.pdf</a>&gt; [accessed 15 February 2024]
            {% endcomponent_block %}
            {% component_block "reference_list_item" %}
              <b>Adema</b>, <b>Janneke</b>, and <b>Gary</b> <b>Hall</b>, ‘The Political Nature of the Book: On Artists’ Books and Radical Open Access’, <em>New Formations</em>, 78 (2013), 138–56 &lt;<a href="https://pureportal.coventry.ac.uk/files/4025104/The%20political%20nature%20of%20the%20book.pdf">https://pureportal.coventry.ac.uk/files/4025104/The%20political%20nature%20of%20the%20book.pdf</a>&gt; [accessed 15 February 2024]
            {% endcomponent_block %}
            {% component_block "reference_list_item" %}
              <b>Adema</b>, <b>Janneke</b>, and <b>Samuel</b> <b>Moore</b>,‘Scaling Small; Or How to Envision New Relationalities for Knowledge Production’, <i>Westminster Papers in Communication and Culture</i> 16(1), (2021) 27-45: &lt;<a href="https://doi.org/10.16997/wpcc.918">https://doi.org/10.16997/wpcc.918</a>&gt;
            {% endcomponent_block %}
            {% component_block "reference_list_item" %}
              <b>Adema</b>, <b>Janneke</b>, and <b>Samuel</b> <b>Moore</b>, ‘Collectivity and Collaboration: Imagining New Forms of Communality to Create Resilience in Scholar-Led Publishing’, <em>UKSG</em> <em>Insights</em>, 31 (2018) &lt;<a href="https://doi.org/10.1629/uksg.399">https://doi.org/10.1629/uksg.399</a>&gt;
            {% endcomponent_block %}
            {% component_block "reference_list_item" %}
              <b>Ancion</b>, <b>Zoé</b>, <b>Lidia</b> <b>Borrell-Damián</b>, <b>Pierre</b> <b>Mounier</b>, <b>Johan</b> <b>Rooryck</b>, and <b>Bregt</b> <b>Saenen</b>, ‘Action Plan for Diamond Open Access’, Science Europe, cOAlition S, OPERAS, and the French National Research Agency (ANR), (2022, March 2) &lt;<a href="https://doi.org/10.5281/zenodo.6282402">https://doi.org/10.5281/zenodo.6282402</a>&gt;
            {% endcomponent_block %}
            {% component_block "reference_list_item" %}
              <b>Becerril</b>, <b>Arianna</b>, <b>Lars Bjørnshauge</b>, <b>Jeroen Bosman</b>, <b>Jan Erik Frantsvåg</b>, <b>Bianca Kramer</b>, <b>Pierre-Carl Langlais</b>, <b>Vanessa Proudman</b>, <b>Claire Redhead</b>, <b>Didier Torny</b>, and <b>Pierre Mounier</b>, ‘The OA Diamond Journals Study’, Science Europe and cOAlition S. (2021, March 9): &lt;<a href="https://doi.org/10.5281/ZENODO.4562790">https://doi.org/10.5281/ZENODO.4562790</a>&gt;
            {% endcomponent_block %}
            {% component_block "reference_list_item" %}
              <b>Beverungen</b>, <b>Armin</b>, <b>Steffen</b> <b>Bohm</b>, and <b>Christopher Land</b>, ‘The Poverty of Journal Publishing’, <em>Organization</em>, 19, 929–38 &lt;<a href="https://repository.essex.ac.uk/6179/1/The_Poverty_of_Journal_Publishing-proof.pdf">https://repository.essex.ac.uk/6179/1/The_Poverty_of_Journal_Publishing-proof.pdf</a>&gt;
            {% endcomponent_block %}
            {% component_block "reference_list_item" %}
              <b>Beverungen</b>, <b>Armin</b>, <b>Steffen</b> <b>Böhm</b>, and <b>Christopher</b> <b>Land</b>, ‘From the Open Road to the High Seas? Piracy, Damnation and Resistance in Academic Consumption of Publishing’, <em>Prometheus</em>, 31 (2013), 241–47 &lt;<a href="http://repository.essex.ac.uk/9696/">http://repository.essex.ac.uk/9696/</a>&gt;
            {% endcomponent_block %}
            {% component_block "reference_list_item" %}
              <b>Boshears</b>, <b>Paul F</b>, ‘Open Access Publishing as a Para-Academic Proposition: OA as Labour Relation’, <em>TripleC: Communication, Capitalism &amp; Critique</em>, 11 (2013), 614–19 &lt;<a href="https://doi.org/10.31269/triplec.v11i2.529">https://doi.org/10.31269/triplec.v11i2.529</a>&gt;
            {% endcomponent_block %}
            {% component_block "reference_list_item" %}
              <b>Chan</b>, <b>Leslie</b>, editors. Contextualizing Openness: Situating Open Science.(Canada: University of Ottawa Press, (2019) &lt;<a href="https://www.idrc.ca/en/book/contextualizing-openness-situating-open-science">https://www.idrc.ca/en/book/contextualizing-openness-situating-open-science</a>&gt;
            {% endcomponent_block %}
            {% component_block "reference_list_item" %}
              <b>Deville, Joe</b>, ‘Open Access Publishing and the Future of the University’, <em>Mattering Press</em>, (29 September 2016) &lt;<a href="https://www.matteringpress.org/blog/open-access-publishing-and-the-future-of-the-university">https://www.matteringpress.org/blog/open-access-publishing-and-the-future-of-the-university</a>&gt; [accessed 15 February 2024]
            {% endcomponent_block %}
            {% component_block "reference_list_item" %}
              <b>Deville</b>, <b>Joe</b>, <b>Jeroen</b> <b>Sondervan</b>, <b>Graham</b> <b>Stone</b>, and <b>Sofie</b> <b>Wennström</b>, ‘Rebels with a Cause? Supporting Library and Academic-led Open Access Publishing’, <em>LIBER Quarterly</em>, 29(1) (2019), pp.1–28 &lt;<a href="http://doi.org/10.18352/lq.10277">http://doi.org/10.18352/lq.10277</a>&gt;
            {% endcomponent_block %}
            {% component_block "reference_list_item" %}
              <b>Eve</b>, <b>Martin</b> <b>Paul</b>, and <b>Caroline</b> <b>Edwards</b>, ‘Opening the Open Library of Humanities’, <em>Open Library of Humanities</em>, 1 (2015) &lt;<a href="https://doi.org/10.16995/olh.46">https://doi.org/10.16995/olh.46</a>&gt;
            {% endcomponent_block %}
            {% component_block "reference_list_item" %}
              <b>Eve</b>, <b>Martin</b> <b>Paul</b>, ‘All That Glisters: Investigating Collective Funding Mechanisms for Gold Open Access in Humanities Disciplines’, <em>Journal of Librarianship and Scholarly Communication</em>, 2 (2014) &lt;<a href="http://doi.org/10.7710/2162-3309.1131">http://doi.org/10.7710/2162-3309.1131</a>&gt;
            {% endcomponent_block %}
            {% component_block "reference_list_item" %}
              ———, ‘How Learned Societies Could Flip to Open Access, With No Author-Facing Charges, Using a Consortial Model’, <em>Martin Paul Eve</em>, 2018 &lt;<a href="https://eve.gd/2018/01/21/how-learned-societies-could-flip-to-oa-using-a-consortial-model/">https://eve.gd/2018/01/21/how-learned-societies-could-flip-to-oa-using-a-consortial-model/</a>&gt; [accessed 15 February 2024]
            {% endcomponent_block %}
            {% component_block "reference_list_item" %}
              ———, ‘How Much Does It Cost to Run a Small Scholarly Publisher?’, <em>Martin Paul Eve</em>, 2017 &lt;<a href="https://eve.gd/2017/02/13/how-much-does-it-cost-to-run-a-small-scholarly-publisher/">https://eve.gd/2017/02/13/how-much-does-it-cost-to-run-a-small-scholarly-publisher/</a>&gt; [accessed 15 February 2024]
            {% endcomponent_block %}
            {% component_block "reference_list_item" %}
              ———, ‘Librarian Evaluation of Non-APC OA Models in the Age of Open Access’, <em>Martin Paul Eve</em>, 2018 &lt;<a href="https://eve.gd/2017/04/01/librarian-evaluation-of-non-apc-oa-models-in-the-age-of-open-access/">https://eve.gd/2017/04/01/librarian-evaluation-of-non-apc-oa-models-in-the-age-of-open-access/</a>&gt; [accessed 15 February 2024]
            {% endcomponent_block %}
            {% component_block "reference_list_item" %}
              ———, ‘On the Economics of Flipping Subscription Journals’, <em>Martin Paul Eve</em>, 2017 &lt;<a href="https://eve.gd/2017/03/11/on-the-economics-of-flipping-subscription-journals/">https://eve.gd/2017/03/11/on-the-economics-of-flipping-subscription-journals/</a>&gt; [accessed 15 February 2024]
            {% endcomponent_block %}
            {% component_block "reference_list_item" %}
              ———, <em>Open Access and the Humanities: Contexts, Controversies and the Future</em> (Cambridge: Cambridge University Press, 2014) &lt;<a href="http://dx.doi.org/10.1017/CBO9781316161012">http://dx.doi.org/10.1017/CBO9781316161012</a>&gt;
            {% endcomponent_block %}
            {% component_block "reference_list_item" %}
              ———, ‘Open Access Resources and Evaluation; or: Why OA Journals Might Fare Badly in Terms of Conventional Usage’, <em>Martin Paul Eve</em>, 2018 &lt;<a href="https://eve.gd/2018/01/19/open-access-resources-and-evaluation-or-why-oa-journals-might-fare-badly-in-terms-of-usage/">https://eve.gd/2018/01/19/open-access-resources-and-evaluation-or-why-oa-journals-might-fare-badly-in-terms-of-usage/</a>&gt; [accessed 15 February 2024]
            {% endcomponent_block %}
            {% component_block "reference_list_item" %}
              <b>Eve</b>, <b>Martin</b> <b>Paul</b>, and <b>Andy</b> <b>Byers</b>, ‘Janeway: A Scholarly Communications Platform’, <em>UKSG Insights</em>, 31: 15, 1–4 (2018) &lt;<a href="https://doi.org/10.1629/uksg.396">https://doi.org/10.1629/uksg.396</a>&gt;
            {% endcomponent_block %}
            {% component_block "reference_list_item" %}
              <b>Eve</b>, <b>Martin</b> <b>Paul</b>, <b>Paula</b> <b>Clemente Vega</b>, and <b>Caroline</b> <b>Edwards</b>, ‘Lessons From the Open Library of Humanities’. <em>LIBER Quarterly</em>, 30, (2020) pp.1–18 &lt;<a href="http://doi.org/10.18352/lq.10327">http://doi.org/10.18352/lq.10327</a>&gt;
            {% endcomponent_block %}
            {% component_block "reference_list_item" %}
              <b>Eve</b>, <b>Martin</b> <b>Paul</b>, <b>Kitty</b> <b>Inglis</b>, <b>David</b> <b>Prosser</b>, <b>Lara</b> <b>Speicher</b>, and <b>Graham</b> <b>Stone</b>, ‘Cost Estimates of an Open Access Mandate for Monographs in the UK’s Third Research Excellence Framework’, <em>UKSG Insights</em>, 30 (2017) &lt;<a href="https://doi.org/10.1629/uksg.392">https://doi.org/10.1629/uksg.392</a>&gt;
            {% endcomponent_block %}
            {% component_block "reference_list_item" %}
              <b>Eve</b>, <b>Martin</b> <b>Paul</b>, and <b>Ernesto</b> <b>Priego</b>, ‘Who Is Actually Harmed by Predatory Publishers?’, <em>TripleC: Communication, Capitalism &amp; Critique</em>, 15 (2017), 755–70 &lt;<a href="https://doi.org/10.31269/triplec.v15i2.867">https://doi.org/10.31269/triplec.v15i2.867</a>&gt;
            {% endcomponent_block %}
            {% component_block "reference_list_item" %}
              <b>Eve</b>, <b>Martin</b> <b>Paul</b>, and <b>Jonathan</b> <b>Gray</b>, editors. Reassembling Scholarly Communications: Histories, Infrastructures, and Global Politics of Open Access. (MIT Press, 2021) &lt;<a href="https://doi.org/10.7551/mitpress/11885.001.0001">https://doi.org/10.7551/mitpress/11885.001.0001</a>&gt;
            {% endcomponent_block %}
            {% component_block "reference_list_item" %}
              <b>François</b> <b>Waldner</b> et al., ‘The academic, economic and societal impacts of Open Access: an evidence-based review’, F1000Res 5 (2016): 632: &lt;<a href="https://doi.org/10.12688/f1000research.8460.3">https://doi.org/10.12688/f1000research.8460.3</a> &gt;
            {% endcomponent_block %}
            {% component_block "reference_list_item" %}
              <b>Fiormonte</b>, <b>Domenico</b>, and <b>Ernesto</b> <b>Priego</b>, ‘Knowledge Monopolies and Global Academic Publishing’, <em>The Winnower,</em> 5 (2016) &lt;<a href="http://doi.org/10.15200/winn.147220.00404">http://doi.org/10.15200/winn.147220.00404</a>&gt;
            {% endcomponent_block %}
            {% component_block "reference_list_item" %}
              <b>Fuchs</b>, <b>Christian</b>, and <b>Marisol</b> <b>Sandoval</b>, ‘The Diamond Model of Open Access Publishing: Why Policy Makers, Scholars, Universities, Libraries, Labour Unions and the Publishing World Need to Take Non-Commercial, Non-Profit Open Access Serious’, <em>TripleC: Communication, Capitalism &amp; Critique, </em>11 (2013), 428–43 &lt;<a href="https://doi.org/10.31269/triplec.v11i2.502">https://doi.org/10.31269/triplec.v11i2.502</a>&gt;
            {% endcomponent_block %}
            {% component_block "reference_list_item" %}
              <b>Grudniewicz</b>, <b>Agnes</b>, <b>David</b> <b>Moher</b>, <b>Kelly</b> <b>D</b>. <b>Cobey</b>, and others, ‘Predatory journals: no definition, no defence’, <i>Nature</i>, 576 (2019) &lt;<a href="http://doi.org/10.1038/d41586-019-03759-y">http://doi.org/10.1038/d41586-019-03759-y</a>&gt;
            {% endcomponent_block %}
            {% component_block "reference_list_item" %}
              <b>Gatti</b>, <b>Rupert</b>, <b>Pierre Mounier</b>, and <b>Johan Rooryck</b>. “Beyond 'no Fee': Why Diamond Open Access Is Much More Than a Business Model” (13 December, 2024) &lt;<a href="https://doi.org/10.5281/zenodo.14440034">https://doi.org/10.5281/zenodo.14440034</a>&gt;
            {% endcomponent_block %}
            {% component_block "reference_list_item" %}
              <b>Harvie</b>, <b>David</b>, <b>Geoff</b> <b>Lightfoot</b>, <b>Simon</b> <b>Lilley</b>, and <b>Kenneth</b> <b>Weir</b>, ‘Publisher, Be Damned! From Price Gouging to the Open Road’, <em>Prometheus</em>, 31 (2013), 229–39 &lt;<a href="http://figshare.com/articles/Publisher_be_damned_From_price_gouging_to_the_open_road/1046703">http://figshare.com/articles/Publisher_be_damned_From_price_gouging_to_the_open_road/1046703</a>&gt;
            {% endcomponent_block %}
            {% component_block "reference_list_item" %}
              <b>Hyland</b>, <b>Jack</b>, <b>Alexander</b> <b>Kouker</b>, and <b>Dmitri</b> <b>Zaitsev</b>, ‘Open Access Exchange (oaex): An Economic Model and Platform for Fundraising Open Scholarship Services’, <em>UKSG Insights</em>, 33 (2020) &lt;<a href="http://doi.org/10.1629/uksg.500">http://doi.org/10.1629/uksg.500</a>&gt;
            {% endcomponent_block %}
            {% component_block "reference_list_item" %}
              <b>Lawson</b>, <b>Stuart</b>, <b>Jonathan</b> <b>Gray</b>, and <b>Michele</b> <b>Mauri</b>, ‘Opening the Black Box of Scholarly Communication Funding: A Public Data Infrastructure for Financial Flows in Academic Publishing’, <em>Open Library of Humanities</em>, 2 (2016) &lt;<a href="https://doi.org/10.16995/olh.72">https://doi.org/10.16995/olh.72</a>&gt;
            {% endcomponent_block %}
            {% component_block "reference_list_item" %}
              <b>Lewis</b>, <b>David</b> <b>W</b>., <b>Lori</b> <b>Goetsch</b>, <b>Diane</b> <b>Graves</b>, and <b>Mike</b> <b>Roy</b>, ‘Funding Community Controlled Open Infrastructure for Scholarly Communication: The 2.5% Commitment Initiative | Lewis | College &amp; Research Libraries News’ &lt;<a href="https://crln.acrl.org/index.php/crlnews/article/view/16902/18557">https://crln.acrl.org/index.php/crlnews/article/view/16902/18557</a>&gt; [accessed 6 March 2018]
            {% endcomponent_block %}
            {% component_block "reference_list_item" %}
              <b>Look</b>, <b>Hugh</b>, and <b>Frances</b> <b>Pinter</b>, ‘Open Access and Humanities and Social Science Monograph Publishing’, <em>New Review of Academic Librarianship</em>, 16 (2010), 90–97 &lt;<a href="https://doi.org/10.1080/13614533.2010.512244">https://doi.org/10.1080/13614533.2010.512244</a>&gt;
            {% endcomponent_block %}
            {% component_block "reference_list_item" %}
              ‘‘Big Deal’ Cancellations Gain Momentum’, <em>Inside Higher Ed</em>, 2018 &lt;<a href="https://www.insidehighered.com/news/2018/05/08/more-institutions-consider-ending-their-big-deals-publishers">https://www.insidehighered.com/news/2018/05/08/more-institutions-consider-ending-their-big-deals-publishers</a>&gt; [accessed 15 February 2024]
            {% endcomponent_block %}
            {% component_block "reference_list_item" %}
              <b>Nabe</b>, <b>Jonathan</b>, and <b>David</b> <b>C.</b> <b>Fowler</b>, ‘Leaving the “Big Deal”: Consequences and Next Steps’, <em>The Serials Librarian</em>, 62 (2012), 59–72 &lt;<a href="https://doi.org/10.1080/0361526X.2012.652524">https://doi.org/10.1080/0361526X.2012.652524</a>&gt;
            {% endcomponent_block %}
            {% component_block "reference_list_item" %}
              <b>Neylon</b>, <b>Cameron</b>, <b>Rene</b> <b>Belsø</b>, <b>Magchiel</b> <b>Bijsterbosch</b>, <b>Bas</b> <b>Cordewener</b>, <b>Jérôme Foncel</b>, <b>Sascha Friesike</b>, <b>Aileen Fyfe</b>, <b>Neil Jacobs</b>, <b>Matthias Katerbow</b>, <b>Mikael Laakso</b> and, <b>Laurents Sesink</b>, ‘Open Scholarship and the need for collective action’,  <em>Knowledge Exchange</em>, Bristol (2019). &lt;<a href="https://doi.org/10.5281/zenodo.3454688">https://doi.org/10.5281/zenodo.3454688</a>&gt;
            {% endcomponent_block %}
            {% component_block "reference_list_item" %}
              <b>Ottina</b>, <b>David</b>, ‘From Sustainable Publishing To Resilient Communications’, <em>TripleC: Communication, Capitalism &amp; Critique</em>, 11 (2013), 604–13 &lt;<a href="https://doi.org/10.31269/triplec.v11i2.528">https://doi.org/10.31269/triplec.v11i2.528</a>&gt;
            {% endcomponent_block %}
            {% component_block "reference_list_item" %}
              <b>Piwowar</b>, <b>Heather</b>, <b>Jason Priem</b>, <b>Vincent Larivière</b>, <b>Juan Pablo Alperin</b>, <b>Lisa Matthias</b>, <b>Bree Norlander</b>, and others, ‘The State of OA: A Large-Scale Analysis of the Prevalence and Impact of Open Access Articles’, <em>PeerJ</em>, 6 (2018), e4375 &lt;<a href="https://doi.org/10.7717/peerj.4375">https://doi.org/10.7717/peerj.4375</a>&gt;
            {% endcomponent_block %}
            {% component_block "reference_list_item" %}
              <b>Price</b>, <b>Gary</b>, ‘University of California Libraries Launch Toolkit to Help Achieve Open Access’, <em>LJ InfoDOCKET</em> &lt;<a href="https://www.infodocket.com/2018/03/21/university-of-california-libraries-launch-toolkit-to-help-achieve-open-access/">https://www.infodocket.com/2018/03/21/university-of-california-libraries-launch-toolkit-to-help-achieve-open-access/</a>&gt; [accessed 22 March 2018]
            {% endcomponent_block %}
            {% component_block "reference_list_item" %}
              ‘Radical Open Access Literature – Radical Open Access’, <em>Radical OA Collective</em> &lt;<a href="http://radicaloa.disruptivemedia.org.uk/resources/radical-open-access-literature/">http://radicaloa.disruptivemedia.org.uk/resources/radical-open-access-literature/</a>&gt; [accessed 13 February 2018]
            {% endcomponent_block %}
            {% component_block "reference_list_item" %}
              <b>Reinsfelder</b>, <b>Thomas L</b>, and <b>Caitlin A. Pike</b>, ‘Using Library Funds to Support Open Access Publishing through Crowdfunding: Going Beyond Article Processing Charges’, <em>Collection Management</em>, 48 (2018), 1–12 &lt;<a href="https://scholarworks.iupui.edu/bitstream/handle/1805/15059/Reinsfelder%20%20Pike%202018.pdf?sequence=1">https://scholarworks.iupui.edu/bitstream/handle/1805/15059/Reinsfelder%20%20Pike%202018.pdf?sequence=1</a>&gt;
            {% endcomponent_block %}
            {% component_block "reference_list_item" %}
              <b>Rentier</b>, <b>Bernard</b>, ‘A fantastic move towards Open Science by the University of Lorraine (France)’, <em>Ouvertures immédiates / Immediate openings</em>, 2018 &lt;<a href="https://bernardrentier.wordpress.com/2018/04/21/a-fantastic-move-towards-open-science-by-the-university-of-lorraine-france/">https://bernardrentier.wordpress.com/2018/04/21/a-fantastic-move-towards-open-science-by-the-university-of-lorraine-france/</a>&gt; [accessed 26 April 2018]
            {% endcomponent_block %}
            {% component_block "reference_list_item" %}
              <b>Roy</b>, <b>Michael</b>, ‘Free as a Free Kitten: What Is the Price of Open?’, <em>KEYWORDS: The Middlebury College Libraries Newsletter</em>, 2018 &lt;<a href="http://sites.middlebury.edu/librarynews/2018/02/23/free-as-a-free-kitten-what-is-the-price-of-open/">http://sites.middlebury.edu/librarynews/2018/02/23/free-as-a-free-kitten-what-is-the-price-of-open/</a>&gt; [accessed 6 March 2018]
            {% endcomponent_block %}
            {% component_block "reference_list_item" %}
              <b>Solomon</b>, <b>David</b> <b>J</b>, <b>Mikael</b> <b>Laakso</b>, and <b>Bo-Christer Björk</b>, ‘Converting Scholarly Journals to Open Access: A Review of Approaches and Experiences’, 2016 &lt;<a href="http://nrs.harvard.edu/urn-3:HUL.InstRepos:27803834">http://nrs.harvard.edu/urn-3:HUL.InstRepos:27803834</a>&gt; [accessed 15 February 2024]
            {% endcomponent_block %}
            {% component_block "reference_list_item" %}
              <b>Suber</b>, <b>Peter</b>, <em>Open Access</em>, Essential Knowledge Series (Cambridge, MA: MIT Press, 2012) &lt;<a href="http://bit.ly/oa-book">http://bit.ly/oa-book</a>&gt;
            {% endcomponent_block %}
            {% component_block "reference_list_item" %}
              <b>Suri</b>, <b>Natasha</b>, ‘Academic Librarian Engagement with Open Access in the UK: Support, Advocacy and Education’, unpublished Master’s dissertation, City, University of London (2018) &lt;<a href="http://dx.doi.org/10.17613/M6GK0B">http://dx.doi.org/10.17613/M6GK0B</a>&gt;
            {% endcomponent_block %}
            {% component_block "reference_list_item" %}
              <b>Wentzel</b>, <b>Annica</b>, ‘Sweden stands up for open access – cancels agreement with Elsevier’, OpenAccess.se, 2018 &lt;<a href="https://www.kb.se/samverkan-och-utveckling/nytt-fran-kb/nyheter-samverkan-och-utveckling/2018-05-16-sweden-stands-up-for-open-access---cancels-agreement-with-elsevier.html">https://www.kb.se/samverkan-och-utveckling/nytt-fran-kb/nyheter-samverkan-och-utveckling/2018-05-16-sweden-stands-up-for-open-access---cancels-agreement-with-elsevier.html</a>&gt; [accessed 15 February 2024]
            {% endcomponent_block %}
            {% component_block "reference_list_item" %}
              <b>Willinsky</b>, <b>John</b>, <em>The Access Principle: The Case for Open Access to Research and Scholarship</em>, Digital Libraries and Electronic Publishing (Cambridge, Mass: MIT Press, 2006)
            {% endcomponent_block %}
          {% endcomponent_block %}
          <p>If you would like to contribute suggestions to this list, please
          contact our Marketing Officer <a
          href="/contact/">Paula Clemente Vega</a>.</p>
        {% endcomponent_block %}
      </div>
      {% include 'custom/subscribe.html' %}
    </div>
  </article>
{% endblock body %}
