{% load component_tags %}
{% load uuid %}

{% get_uuid4 as aria_controls %}
{% component_block "timeline_section" alternate="even" step=step bg="bg-blue" prose=False %}
  {% component_block "form" form_method="POST" notify_required=False default_button=False %}
    <input hidden name="previous_step" value="{{ step }}">
    <input hidden name="goal" value="{{ goal }}">
    <input hidden name="role" value="{{ role }}">
    <div class="prose lg:prose-lg">
      <h2 class="text-white">
        {% if role == 'author' %}
          Find your article.
        {% elif role == 'reader' %}
          Find the article you read.
        {% endif %}
      </h2>
    </div>
    {% component_block "form_field" id_for_label="search_article" label="Article title" %}
      {% component "form_input" type="search" id="search_article" name="article_query" %}
    {% endcomponent_block %}
    {% component_block "button_group"  %}
      {% url 'recommend_us_choose_article' as hx_post %}
      {% component_block "button" hx_post=hx_post aria_controls=aria_controls %}
        Search
      {% endcomponent_block %}
    {% endcomponent_block %}
  {% endcomponent_block %}
{% endcomponent_block %}
<div id="{{ aria_controls }}"></div>
