{% extends "core/base.html" %}

{% load static %}
{% load component_tags %}

{% block title %}
  Recommend us - {{ request.press.name }}
{% endblock title %}
{% block meta_title %}
  <meta
    property="og:title"
    content="Recommend us - {{ request.press.name }}">
  <meta
    name="twitter:title"
    content="Recommend us - {{ request.press.name }}">
{% endblock meta_title %}
{% block meta_description %}
  {% include "elements/meta_description.html" with desc="Recommend us to your library" %}
{% endblock meta_description %}

{% block body %}
  <div class="container mx-auto max-w-screen-xl">
    <div class="relative max-lg:mt-52 lg:top-0">
      {% include 'custom/edit-on-github.html' with rel_path='custom/recommend-us.html' %}
      {#{% include 'custom/astrolabe-opener.html' %}#}
      {% include 'custom/generic-h1.html' with h1="Recommend us." %}
    </div>
    <div id="check_institution_block" class="relative">
      {% component_block "timeline_section" alternate="odd" step="1" %}
        <h2 class="text-white">Check if your library supports the OLH.</h2>
        {% component_block "form" form_method="POST" notify_required=False %}
          {% fill "fields" %}
            {% component_block "form_field" id_for_label="search_supporter" label="Institution name" %}
              {% component "form_input" type="search" id="search_supporter" name="supporter_query" %}
            {% endcomponent_block %}
          {% endfill %}
          {% fill "button" %}
            <button
              hx-post="{% url 'recommend_us_see_matching_supporters' %}"
              hx-target="#recommend-us-see-matching-supporters"
              name="search"
              class="
                p-4 not-prose
                rounded-full border-2 border-blue bg-white
                flex gap-4 items-center
              ">
              {% include "custom/button-action-inner-blue.html" with label="Search" %}
            </button>
          {% endfill %}
        {% endcomponent_block %}
      {% endcomponent_block %}
      <div id="recommend-us-see-matching-supporters"></div>
    </div>
  </div>
{% endblock body %}

{% block js %}
  <script defer type="module"
    src="{% static 'hourglass/js/htmx.min.js' %}">
  </script>
{% endblock js %}
