{% load static %}
{% load component_tags %}
{% load uuid %}

{% get_uuid4 as aria_controls %}
{% component_block "timeline_section" alternate="odd" step=step bg="bg-blue" %}
  <div class="text-white">
    {% component_block "form" form_method="POST" notify_required=False default_button=False %}
      <input hidden name="role" value="{{ role }}">
      {% if journal_names %}
        {% with journal_count=journal_names.count %}
          <h2 class="text-white">
            Journal{{ journal_count|pluralize }} with “{{ query }}”.
          </h2>
        {% endwith %}
        <div class="not-prose">
          <ul>
            {% for setting in journal_names %}
              <li class="list-none mt-4">
                <div>{{ setting.value }}</div>
                {% component_block "button_group"  %}
                  {% url 'recommend_us_generate_email' as hx_post %}
                  {% component_block "button" name="journal_pk" value=setting.journal.pk hx_post=hx_post aria_controls=aria_controls %}
                    Use {{ setting.journal.name|truncatewords_html:3 }}
                  {% endcomponent_block %}
                {% endcomponent_block %}
              </li>
            {% endfor %}
          </ul>
        </div>
        <p>Can’t find your journal?</p>
      {% else %}
        <h2 class="text-white">No matches for “{{ query }}”.</h2>
        <p>We couldn't find a journal matching your search. Please try modifying
        your search terms or generate a generic template.</p>
      {% endif %}
      {% component_block "button_group"  %}
        {% url 'recommend_us_generate_email' as hx_post %}
        {% component_block "button" name="general" hx_post=hx_post aria_controls=aria_controls %}
          Get a general email
        {% endcomponent_block %}
      {% endcomponent_block %}
    {% endcomponent_block %}
  </div>
{% endcomponent_block %}
<div id="{{ aria_controls }}"></div>
