{% load component_tags %}
{% load uuid %}

{% get_uuid4 as aria_controls %}
{% component_block "timeline_section" alternate="even" step=step bg="bg-blue" prose=False %}
  {% component_block "form" form_method="POST" notify_required=False default_button=False %}
    <input hidden name="previous_step" value="{{ step }}">
    {% if supporters %}
      <div class="prose lg:prose-lg text-white">
        <h2 class="text-white">Current members with “{{ query }}”.</h2>
        <p>These institutions are already members:</p>
        <ul>
          {% for supporter in supporters %}
            <li class="list-none">
              {{ supporter.name }}, {{ supporter.country.name }}
            </li>
          {% endfor %}
        </ul>
        <p>If your library is here, they are already a member. Would you like
        to get a thank-you email to send to your library?</p>
      </div>
      {% component_block "button_group"  %}
        {% url 'recommend_us_choose_role' as hx_post %}
        {% component_block "button" name="goal" value="thank_supporter" hx_post=hx_post aria_controls=aria_controls %}
          Get a thank-you email
        {% endcomponent_block %}
      {% endcomponent_block %}
      <div class="prose lg:prose-lg text-white">
        <p>If your library is not here, they are not a member yet... Help us
        reach them!</p>
      </div>
    {% else %}
      <div class="prose lg:prose-lg text-white">
        <h2 class="text-white">No matches for “{{ query }}”.</h2>
        <p>It looks like your library isn’t an OLH supporter yet... Help us reach them!</p>
      </div>
    {% endif %}
    <div class="prose lg:prose-lg text-white">
      <p>Fill in your details to generate a recommendation email to your library.</p>
    </div>
    {% component_block "button_group"  %}
      {% url 'recommend_us_choose_role' as hx_post %}
      {% component_block "button" name="goal" value="recommend" hx_post=hx_post aria_controls=aria_controls %}
        Get a recommendation email
      {% endcomponent_block %}
    {% endcomponent_block %}
  {% endcomponent_block %}
{% endcomponent_block %}
<div id="{{ aria_controls }}"></div>
