{% load static %}
{% load component_tags %}
{% load uuid %}

{% get_uuid4 as copy_pid %}
{% get_uuid4 as aria_controls %}
{% component_block "timeline_section" alternate="even" step=step bg="bg-blue" prose=False %}
  <div class="prose lg:prose-lg text-white">
    <h2 class="text-white">Voilà.</h2>
    <p class="text-white">Here is an email to send to your library. Just copy
    and paste this text into an email to your librarian to help us reach them.
    You should be able to find your library’s contact email address on your
    institution’s website. If you’re having problems finding the right email
    address, <a class="text-white" href="/contact/">contact us</a> and we’ll
    help.</p>
    <div class="text-black bg-white p-6 font-space-mono-regular">
      <div id="email-text" class="whitespace-pre-line">
        {{ email }}
      </div>
    </div>
  </div>
  <div class="flex mt-6">
    {% component_block "form" form_method="POST" notify_required=False default_button=False %}
      <input hidden name="previous_step" value="{{ step }}">
      {% component_block "button_group" %}
        <a
          class="
            p-4 not-prose
            border rounded-full border-white
            flex gap-4 items-center
          "
          target="_blank"
          rel="noopener"
          href="mailto:?subject=Joining the OLH&body={{ email|striptags|urlencode }}">
          {% include "custom/button-action-inner-white.html" with label="Open in email" %}
        </a>
        {% component_block "button" name="general" id=copy_pid type="button" %}
          Copy to clipboard
        {% endcomponent_block %}
        {% url "recommend_us" as rel_path %}
        {% include "custom/button-action-white.html" with rel_path=rel_path label="Start over" %}
      {% endcomponent_block %}
      <div class="prose lg:prose-lg text-white">
        <p>Have you sent the email to your library?</p>
      </div>
      {% component_block "button_group" %}
        {% url 'recommend_us_confirm_sent' as hx_post %}
        {% component_block "button" hx_post=hx_post aria_controls=aria_controls %}
          I’ve emailed my library
        {% endcomponent_block %}
      {% endcomponent_block %}
    {% endcomponent_block %}
  </div>
  <script defer type="module">
    const emailText = document.querySelector('#email-text');
    const textToCopy = emailText?.innerHTML?.trim();
    const copyButton = document.querySelector('#{{ copy_pid }}');
    copyButton.addEventListener('click', () => writeToClipboard(textToCopy));
    async function writeToClipboard(text) {
      await navigator.clipboard.writeText(text);
      const label = copyButton.querySelector('span').innerHTML;
      if (label.trim() === 'Copy to clipboard') {
        copyButton.querySelector('span').innerHTML = 'Copy again';
      }
    }
  </script>
{% endcomponent_block %}
<div id="{{ aria_controls }}"></div>
