{% extends "core/base.html" %}

{% load static %}
{% load component_tags %}
{% load uuid %}

{% block title %}
  Recommend us - {{ request.press.name }}
{% endblock title %}
{% block meta_title %}
  <meta
    property="og:title"
    content="Recommend us - {{ request.press.name }}">
  <meta
    name="twitter:title"
    content="Recommend us - {{ request.press.name }}">
{% endblock meta_title %}
{% block meta_description %}
  {% include "elements/meta_description.html" with desc="Recommend us to your library" %}
{% endblock meta_description %}

{% block body %}
  <div class="container mx-auto max-w-screen-xl">
    <div class="relative max-lg:mt-56 lg:mt-8">
      {% include 'custom/edit-on-github.html' with rel_path='custom/recommend-us.html' %}
      {% include "custom/typewriter-opener.html" %}
      {% include 'custom/generic-h1.html' with h1="Recommend<br> us." %}
    </div>
    <div class="relative">
      {% get_uuid4 as aria_controls %}
      {% component_block "timeline_section" alternate="odd" step=step bg="bg-blue" prose=False %}
        {% component_block "form" form_method="POST" notify_required=False default_button=False %}
          <input hidden name="previous_step" value="{{ step }}">
          <div class="prose lg:prose-lg text-white">
            <h2 class="text-white">Check if your library supports the OLH.</h2>
            <p>We can create an email for you to send if they
            are not members yet.</p>
          </div>
          {% component_block "form_field" id_for_label="search_supporter" label="Institution name" required=True %}
            {% component "form_input" type="search" id="search_supporter" name="supporter_query" %}
          {% endcomponent_block %}
          {% component_block "button_group"  %}
            {% url 'recommend_us_see_matching_supporters' as hx_post %}
            {% component_block "button" hx_post=hx_post aria_controls=aria_controls %}
              Search
            {% endcomponent_block %}
          {% endcomponent_block %}
        {% endcomponent_block %}
      {% endcomponent_block %}
      <div id="{{ aria_controls }}" class="min-h-48"></div>
    </div>
    {% include "custom/subscribe.html" %}
  </div>
{% endblock body %}

{% block js %}
  <script defer type="module"
    src="{% static 'hourglass/js/htmx.min.js' %}">
  </script>
{% endblock js %}
