{% load static %}

<div class="relative z-0 max-lg:-right-36 lg:-right-72 top-96">
  <img
    class="absolute z-10 -top-32 right-8 w-20 motion-safe:rallax"
    src="{% static 'hourglass/media/backgrounds/circle-red.svg' %}"
    alt="">
  <img
    class="absolute z-0 top-20 right-4 motion-safe:rallax"
    src="{% static 'hourglass/media/backgrounds/square-blue-textured.png' %}"
    width="335"
    alt="">
  <img
    class="absolute z-20 top-0 right-40"
    src="{% static 'hourglass/media/backgrounds/rodin-thinker.png' %}"
    width="250" height="467"
    alt="Photo of The Thinker, sitting with chin on hand, by Auguste Rodin">
</div>
