{% load static %}

<aside
  class="
    relative z-0 motion-safe:rallax
    max-lg:-right-12 lg:right-8 max-lg:-top-32 lg:top-8
  ">
  <img
    class="z-0 absolute top-0 right-36 w-10" alt=""
    src="{% static 'hourglass/media/backgrounds/bar-vertical-orange-wide.svg' %}">
  <img
    class="z-0 absolute top-0 right-20 w-10" alt=""
    src="{% static 'hourglass/media/backgrounds/bar-vertical-orange-wide.svg' %}">
  <img
    class="z-20 absolute top-0 right-4 w-10" alt=""
    src="{% static 'hourglass/media/backgrounds/bar-vertical-orange-wide.svg' %}">
  <img
    class="z-20 absolute top-0 -right-12 w-10" alt=""
    src="{% static 'hourglass/media/backgrounds/bar-vertical-orange-wide.svg' %}">
  <img
    class="z-20 absolute top-0 -right-28 w-10" alt=""
    src="{% static 'hourglass/media/backgrounds/bar-vertical-orange-wide.svg' %}">
  <img
    class="absolute z-10 top-20 right-0 w-96"
    src="{% static 'hourglass/media/backgrounds/circle-blue-textured.png' %}"
    width="434"
    alt="">
</aside>
