<h2 class="font-poppins-bold max-lg:text-2xl lg:text-3xl text-white max-w-xl">
  Be the first to know
</h2>
<input
  class="
    max-w-lg
    my-6
    bg-hourglass-blue
    border-white
    border-t-0
    border-r-0
    border-b-1
    border-l-0
    text-white
    cursor-white
    placeholder:text-white
    max-lg:placeholder:text-md
    lg:placeholder:text-lg
    focus:ring-transparent
    focus:border-hourglass-orange
  "
  id="email"
  name="email"
  placeholder="Your email"
  type="email">
<label
  class="hidden" for="email">
</label>
<div
  class="
    flex gap-x-4
    py-6 font-poppins-bold font-semibold text-xs text-white
    uppercase tracking-widest underline-offset-8 max-w-xl
  ">
  <a
    href="https://twitter.com/openlibhums"
    target="_blank"
    rel="noopener noreferrer">
    Twitter
  </a>
  <span>|</span>
  <a
    href="https://www.facebook.com/OpenLibHums"
    target="_blank"
    rel="noopener noreferrer">
    Facebook
  </a>
</div>
