{% load static %}

<aside class="relative lg:-left-16 lg:-bottom-32 motion-safe:rallax">
  <img
    class="z-0 absolute w-16 h-192 -top-[60rem] left-4"
    src="{% static 'hourglass/media/backgrounds/bars-vertical-orange-three.svg' %}"
    alt="">
  <img
    class="z-10 absolute -top-44 left-0 rotate-90 max-w-xs"
    src="{% static 'hourglass/media/backgrounds/triangle-blue-textured.png' %}"
    alt="">
  <img
    class="z-20 absolute -top-36 left-48 w-24 lg:hidden"
    src="{% static 'hourglass/media/backgrounds/circle-red.svg' %}"
    alt="">
  <img
    class="z-20 absolute -top-32 -left-4 h-36 max-lg:hidden"
    src="{% static 'hourglass/media/backgrounds/rectangle-red.svg' %}"
    alt="">
</aside>
