{% load static %}

<div class="relative z-0 max-lg:top-2 lg:top-20 left-0">
  <img
    class="
      motion-safe:rallax z-20 absolute max-lg:-left-4 lg:-left-24
      max-lg:top-48 lg:top-0 max-lg:w-8 lg:w-20
    "
    src="{% static 'hourglass/media/backgrounds/circle-red.svg' %}"
    alt="">
  <img
    class="
      z-0 absolute max-lg:hidden lg:top-12
      max-lg:left-8 lg:-left-12 max-lg:w-64 lg:w-96
    "
    src="{% static 'hourglass/media/backgrounds/square-blue.svg' %}"
    alt="">
  <img
    class="
      motion-safe:rallax z-10 absolute max-lg:-left-8 lg:-left-48
      -top-24 -rotate-90
    "
    srcset="
      {% static 'hourglass/media/backgrounds/triangle-blue-textured.png' %} 335w,
      {% static 'hourglass/media/backgrounds/triangle-blue-textured-lg.png' %} 669w
    "
    src="{% static 'hourglass/media/backgrounds/triangle-blue-textured.png' %}"
    sizes="(max-width: 1024px) 335px, 669px"
    alt="">
</div>
