{% load static %}

<aside class="relative z-0 max-lg:-top-20 lg:top-20 right-4">
  <img
    class="
      z-0 absolute top-12
      max-lg:-right-8 lg:-right-12 max-lg:w-64 lg:w-96
    "
    src="{% static 'hourglass/media/backgrounds/square-blue.svg' %}"
    alt="">
  <img
    class="
      motion-safe:rallax z-10 absolute max-lg:-right-36 lg:-right-48
      -top-24 -rotate-90 max-w-none
    "
    srcset="
      {% static 'hourglass/media/backgrounds/triangle-blue-textured.png' %} 335w,
      {% static 'hourglass/media/backgrounds/triangle-blue-textured-lg.png' %} 669w
    "
    src="{% static 'hourglass/media/backgrounds/triangle-blue-textured.png' %}"
    sizes="(max-width: 1024px) 335px, 669px"
    alt="">
</aside>
