<div class="relative z-0 max-lg:-left-20 lg:left-8 max-lg:-top-56 lg:top-0">
  <img
    class="
      motion-safe:rallax absolute z-10 max-lg:-top-4 lg:top-10
      max-lg:-left-24 lg:-left-16 max-w-lg
    "
    srcset="
      {% static 'hourglass/media/backgrounds/square-blue-textured-circle-cutout.png' %} 327w,
      {% static 'hourglass/media/backgrounds/square-blue-textured-circle-cutout-lg.png' %} 654w
    "
    src="{% static 'hourglass/media/backgrounds/square-blue-textured-circle-cutout.png' %}"
    sizes="(max-width: 1024px) 327px, 654px"
    alt="">
  <img
    class="
      absolute z-20 w-12 max-lg:top-40 lg:top-80
      max-lg:left-16 lg:-left-20
    "
    src="{% static 'hourglass/media/backgrounds/circle-blue.svg' %}"
    alt="">
  <img
    class="
      motion-safe:rallax z-10 absolute max-lg:left-24 lg:-left-24
      max-lg:top-32 lg:top-96 max-lg:h-44 lg:h-72 max-w-none
    "
    src="{% static 'hourglass/media/backgrounds/triangle-orange-pointing-down.svg' %}"
    alt="">
</div>
