{% load static %}

<div class="relative z-0 max-lg:-top-64 lg:top-0 right-0">
  <img
    class="
      motion-safe:rallax absolute z-10 w-20 max-lg:-top-8 lg:-top-4
      max-lg:right-52 lg:right-96
    "
    src="{% static 'hourglass/media/backgrounds/circle-blue.svg' %}"
    alt="">
  <img
    class="
      absolute max-lg:z-20 lg:z-0 max-lg:top-48 lg:top-28
      max-lg:right-0 lg:-right-12 max-lg:max-w-sm
    "
    src="{% static 'hourglass/media/backgrounds/circle-blue-textured.png' %}"
    width="434"
    alt="">
  <img
    class="
      motion-safe:rallax absolute max-lg:z-0 lg:z-10
      max-lg:top-4 lg:top-0 max-lg:-right-32 lg:-right-20
    "
    src="{% static 'hourglass/media/backgrounds/vases.png' %}"
    width="400"
    alt="Two white ceramic vases ornately painted with dragons, flowers, and Chinese writing">
</div>
