{% load static %}

<aside class="relative z-0 top-48 max-lg:left-0 lg:-left-20">
  <img
    class="absolute z-10 -left-40 max-w-xs top-20"
    src="{% static 'hourglass/media/backgrounds/square-blue-textured.png' %}"
    width="335"
    alt="">
  <img
    class="absolute z-0 h-36 left-20 top-36"
    src="{% static 'hourglass/media/backgrounds/circle-red.svg' %}"
    alt="">
  <img
    class="
      max-lg:hidden motion-safe:rallax absolute z-20
      -left-12 motion-reduce:-top-48 motion-safe:-top-48
    "
    src="{% static 'hourglass/media/backgrounds/wallpainting.png' %}"
    width="300" height="404"
    alt="A rough-edged section of wall plaster with a face painted on it">
</aside>
