{% load static %}

<article>
  <div class="container mx-auto max-w-screen-xl relative">
    {% include 'custom/edit-on-github.html' with rel_path='custom/what-we-do.html' %}
    <img
      class="
        lg:hidden absolute
        max-sm:-right-32 sm:-right-12 md:right-4 max-w-md
        motion-reduce:-top-56 motion-safe:-top-64 motion-safe:rallax
      "
      src="{% static 'hourglass/media/backgrounds/laptop-lady-upside-down-circles.png' %}"
      alt="A woman typing on a laptop, in an upside-down collage with circles">
    <img
      class="
        max-lg:hidden absolute
        -right-4 max-w-md
        top-8 motion-safe:rallax
      "
      src="{% static 'hourglass/media/backgrounds/laptop-lady-rightside-up-dancer.png' %}"
      alt="A woman typing on a laptop with a breakdancer in the background">
    <div class="relative z-40">
      <h1
        class="
          max-lg:text-4xl lg:text-7xl
          font-poppins-bold max-lg:pt-64 max-lg:pb-12 lg:py-28 px-8
        ">
        What we do.
      </h1>
    </div>
    <div
      class="
        p-8 bg-orange
        flex max-md:flex-col md:flex-row gap-x-16 gap-y-6
        relative z-40
      ">
      <div class="basis-1/2 prose lg:prose-lg">
        <p class="lead">Everything we do at the OLH is designed to preserve access to humanities scholarship in the digital age.</p>
      </div>
      <div class="basis-1/2 prose lg:prose-lg">
        <p>Day-to-day, this means publishing articles in our journals, developing open source software, researching new possibilities for scholarly communication, and engaging our community of librarians, editors, and researchers.</p>
      </div>
    </div>
    <img
      class="
        absolute lg:hidden z-0
        -left-48 max-w-sm
        motion-reduce:-bottom-60 motion-safe:-bottom-12 motion-safe:rallax
      "
      src="{% static 'hourglass/media/backgrounds/triangle-blue-circles-red-four.png' %}"
      alt="">
    <img
      class="
        absolute max-lg:hidden z-0
        -left-36 max-w-xs
        motion-reduce:-bottom-64 motion-safe:-bottom-36 motion-safe:rallax
      "
      src="{% static 'hourglass/media/backgrounds/triangle-blue-textured-circle-red.png' %}"
      alt="">
  </div>
  <div class="container mx-auto max-w-screen-xl relative">
    <div
      class="
        relative before:z-30 before:block before:absolute
        before:inset-y-0 before:w-[50vw]
        before:right-1/2 before:bg-white
        max-lg:mt-[32rem]
        lg:mt-28
      ">
      <img
        class="
          absolute lg:hidden z-0
          -right-32
          motion-reduce:-top-[32rem] motion-safe:-top-[36rem]
          motion-safe:rallax
        "
        src="{% static 'hourglass/media/backgrounds/dancer-jeans-triangle-blue.png' %}"
        alt="Dancer wearing ripped jeans suspended in mid-air">
      <div
        class="
          relative max-lg:hidden z-10
          -right-12 top-0
          motion-safe:rallax
        ">
        <img
          class="
            absolute z-10
            -right-40
            -top-20
          "
          src="{% static 'hourglass/media/backgrounds/dancer-jeans-circles-red-four.png' %}"
          alt="Dancer wearing ripped jeans suspended in mid-air">
        <img
          class="
            absolute z-0 right-0 rotate-180 w-80
            top-[23.6rem]
          "
          src="{% static 'hourglass/media/backgrounds/triangle-blue-textured.png' %}"
          alt="">
        <img
          class="
            absolute z-0 right-0 rotate-180 w-80
            top-[43.5rem]
          "
          src="{% static 'hourglass/media/backgrounds/triangle-blue-textured.png' %}"
          alt="">
      </div>
      <div
        class="
          px-8 py-14 z-40 relative bg-white max-w-3xl
          flex max-lg:flex-col gap-y-6 lg:flex-row gap-x-10
        ">
        <img
          class="-m-3 max-lg:w-32 max-lg:h-32 lg:w-44 lg:h-44"
          src="{% static 'hourglass/media/icons/Publish.svg' %}"
          alt="">
        <div class="prose lg:prose-lg">
          <h2>Publish.</h2>
          <p class="font-semibold">Hosting 28 peer-reviewed academic journals (and counting!), including our flagship <i>Open Library of Humanities</i> journal.</p>
          <p>We oversee editorial processes and provide support to our editors, to ensure the highest standards of research integrity. As our library supporters grow, we expand our portfolio by ‘flipping’ subscription journals to diamond open access.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container mx-auto max-w-screen-xl relative">
    <div
      class="
        relative before:z-30 before:block before:absolute
        before:inset-y-0 before:w-[50vw]
        before:right-1/2 before:bg-white
        mt-8
      ">
      <div
        class="
          px-8 py-14 z-40 relative bg-white max-w-3xl
          flex max-lg:flex-col gap-y-6 lg:flex-row gap-x-10
        ">
        <img
          class="-m-3 max-lg:w-32 max-lg:h-32 lg:w-44 lg:h-44"
          src="{% static 'hourglass/media/icons/Develop.svg' %}"
          alt="">
        <div class="prose lg:prose-lg">
          <h2>Develop.</h2>
          <p class="font-semibold">Building Janeway, a powerful, flexible, emphatically open source publishing platform.</p>
          <p>Having our own software makes OLH journals sustainable, and gives us independence from commercial publishing platforms. We listen to our journal editors and continually improve the platform with scholars’ needs in mind.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container mx-auto max-w-screen-xl relative">
    <div
      class="
        relative before:z-30 before:block before:absolute
        before:inset-y-0 before:w-[50vw]
        before:right-1/2 before:bg-white
        mt-8
      ">
      <div
        class="
          px-8 py-14 z-40 relative bg-white max-w-3xl
          flex max-lg:flex-col gap-y-6 lg:flex-row gap-x-10
        ">
        <img
          class="-m-3 max-lg:w-32 max-lg:h-32 lg:w-44 lg:h-44"
          src="{% static 'hourglass/media/icons/Research.svg' %}"
          alt="">
        <div class="prose lg:prose-lg">
          <h2>Research.</h2>
          <p class="font-semibold">Mobilising our affiliation with Birkbeck, University of London to ensure that OLH is truly scholar-led.</p>
          <p>Co-founder Martin Paul Eve researches scholarly communications in books such as <i>Open Access and the Humanities</i> (2014) and <i>Password</i> (2016). Co-founder Caroline Edwards researches theories of collectivity and utopian futures at Birkbeck.</p>
          <p>This specialism extends to our wider team. Our team use their doctorates in humanities subjects and extensive experience of peer review to steer robust and quality open access research to publication. We also continue our scholar-led tradition through UX research into what our users want, continually improving our software to put scholars in charge.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="container mx-auto max-w-screen-xl relative">
    <div
      class="
        relative before:z-30 before:block before:absolute
        before:inset-y-0 before:w-[50vw]
        before:right-1/2 before:bg-white
        mt-8
      ">
      <div
        class="
          px-8 py-14 z-40 relative bg-white max-w-3xl
          flex max-lg:flex-col gap-y-6 lg:flex-row gap-x-10
        ">
        <img
          class="-m-3 max-lg:w-32 max-lg:h-32 lg:w-44 lg:h-44"
          src="{% static 'hourglass/media/icons/Engage.svg' %}"
          alt="">
        <div class="prose lg:prose-lg">
          <h2>Engage.</h2>
          <p class="font-semibold">Rallying our global community of librarians, editors, and academics around our shared vision of not-for-profit humanities publishing.</p>
          <p>We deliver talks, participate in working groups and committees, write, lead, and collaborate, to champion open access as an equitable and sustainable alternative to commercial publishing. We also present awards to recognise exemplary contributions to the OA community (and we’ve won a few of our own).</p>
        </div>
      </div>
      <img
        class="
          absolute max-lg:hidden z-0
          -right-12 max-w-md
          motion-reduce:-bottom-64 motion-safe:-bottom-36
          motion-safe:rallax
        "
        src="{% static 'hourglass/media/backgrounds/water-tower-circle-blue.png' %}"
        alt="A multi-faceted round water-tower in a collage with a circle">
    </div>
  </div>
  <div class="container mx-auto max-w-screen-xl relative mt-28">
    {% include 'custom/counter-block.html' %}
    <img
      class="
        absolute max-lg:hidden z-0
        left-0 max-w-sm
        motion-reduce:-bottom-40 motion-safe:-bottom-40
        motion-safe:rallax
      "
      src="{% static 'hourglass/media/backgrounds/circle-blue-textured.png' %}"
      alt="">
  </div>
  <div class="container mx-auto max-w-screen-xl relative">
    <div
      class="
        relative before:z-30 before:block before:absolute
        before:inset-y-0 before:w-[50vw]
        before:right-1/2 before:bg-white
        max-lg:mt-96 lg:mt-28
      ">
      <img
        class="
          absolute lg:hidden z-0
          right-0 max-w-md
          motion-reduce:-top-80 motion-safe:-top-96
          motion-safe:rallax
        "
        src="{% static 'hourglass/media/backgrounds/water-tower-circle-blue.png' %}"
        alt="A multi-faceted round water-tower in a collage with a circle">
      {% include "custom/featured-journals.html" %}
    </div>
  </div>
  <div class="container mx-auto max-w-screen-xl relative">
    {% include 'custom/subscribe.html' %}
  </div>
</article>
