{% extends "press/cms/page.html" %}

{% load static %}
{% load component_tags %}

{% block meta_description %}
  {% include "elements/meta_description.html" with desc="Everything we do at the OLH is designed to preserve access to humanities scholarship in the digital age." %}
{% endblock meta_description %}

{% block body %}
  <article aria-labelledby="h1">
    <div class="container mx-auto max-w-screen-xl relative">
      {% include 'custom/edit-on-github.html' with rel_path='custom/what-we-do.html' %}
      <aside>
        <img
          class="
            lg:hidden absolute
            max-sm:-right-32 sm:-right-12 md:right-4 max-w-md
            motion-reduce:-top-56 motion-safe:-top-64 motion-safe:rallax
          "
          src="{% static 'hourglass/media/backgrounds/laptop-lady-upside-down-circles.png' %}"
          alt="A woman typing on a laptop, in an upside-down collage with circles">
        <img
          class="
            max-lg:hidden absolute
            -right-4 max-w-md
            top-8 motion-safe:rallax
          "
          src="{% static 'hourglass/media/backgrounds/laptop-lady-rightside-up-dancer.png' %}"
          alt="A woman typing on a laptop with a breakdancer in the background">
      </aside>
      <div class="relative z-40">
        <h1
          id="h1"
          class="
            max-lg:text-4xl lg:text-7xl
            font-poppins-bold max-lg:pt-64 max-lg:pb-12 lg:py-28 px-8
          ">
          What we do.
        </h1>
      </div>
      <section
        aria-label="About"
        class="
          p-8 bg-orange
          flex max-md:flex-col md:flex-row gap-x-16 gap-y-6
          relative z-40
        ">
        <div class="basis-1/2 prose lg:prose-lg">
          <p class="lead">Everything we do at the OLH is designed to preserve
          access to humanities scholarship in the digital age.</p>
        </div>
        <div class="basis-1/2 prose lg:prose-lg">
          <p>Day-to-day, this means publishing articles in our journals,
          developing open-source software, researching new possibilities for
          scholarly communication, and engaging our community of librarians,
          editors, and researchers.</p>
        </div>
      </section>
      <aside>
        <img
          class="
            absolute lg:hidden z-0
            -left-48 max-w-sm
            motion-reduce:-bottom-60 motion-safe:-bottom-12 motion-safe:rallax
          "
          src="{% static 'hourglass/media/backgrounds/triangle-blue-circles-red-four.png' %}"
          alt="">
        <img
          class="
            absolute max-lg:hidden z-0
            -left-36 max-w-xs
            motion-reduce:-bottom-64 motion-safe:-bottom-36 motion-safe:rallax
          "
          src="{% static 'hourglass/media/backgrounds/triangle-blue-textured-circle-red.png' %}"
          alt="">
      </aside>
    </div>
    <div class="container mx-auto max-w-screen-xl">
      <div class="relative max-lg:mt-[32rem] lg:mt-28">
        <aside>
          <img
            class="
              absolute lg:hidden z-0
              -right-32
              motion-reduce:-top-[32rem] motion-safe:-top-[36rem]
              motion-safe:rallax
            "
            src="{% static 'hourglass/media/backgrounds/dancer-jeans-triangle-blue.png' %}"
            alt="Dancer wearing ripped jeans suspended in mid-air">
        </aside>
        <aside
          class="
            relative max-lg:hidden z-10
            -right-12 top-0
            motion-safe:rallax
          ">
          <img
            class="
              absolute z-10
              -right-40
              -top-20
            "
            src="{% static 'hourglass/media/backgrounds/dancer-jeans-circles-red-four.png' %}"
            alt="Dancer wearing ripped jeans suspended in mid-air">
          <img
            class="
              absolute z-0 right-0 rotate-180 w-80
              top-[23.6rem]
            "
            src="{% static 'hourglass/media/backgrounds/triangle-blue-textured.png' %}"
            alt="">
          <img
            class="
              absolute z-0 right-0 rotate-180 w-80
              top-[43.5rem]
            "
            src="{% static 'hourglass/media/backgrounds/triangle-blue-textured.png' %}"
            alt="">
        </aside>
        {% component_block "page_section" labelledby="publish" margin="narrow" icon="Publish.svg" %}
          <h2 id="publish">Publish.</h2>
          <p class="font-semibold">Hosting {{ request.press.public_journals.count }}
          peer-reviewed academic journals (and counting!), including our flagship
          <i>Open Library of Humanities</i> Journal.</p>
          <p>We oversee editorial processes and provide support to our
          editors to ensure the highest standards of research integrity.
          As our library supporters grow, we expand our portfolio by
          ‘flipping’ subscription journals to diamond open access.</p>
        {% endcomponent_block %}
      </div>
      <div class="relative mt-8">
        {% component_block "page_section" labelledby="develop" margin="narrow" icon="Develop.svg" %}
          <h2 id="develop">Develop.</h2>
          <p class="font-semibold">Building <a href="/site/janeway">Janeway</a>, a powerful, flexible,
          emphatically open-source publishing platform.</p>
          <p>Having our own software makes OLH journals sustainable and
          gives us independence from commercial publishing platforms. We
          listen to our journal editors and continually improve the
          platform with scholars’ needs in mind.</p>
        {% endcomponent_block %}
      </div>
      <div class="relative mt-8">
        {% component_block "page_section" labelledby="research" margin="narrow" icon="Research.svg" %}
          <h2 id="research">Research.</h2>
          <p class="font-semibold">Mobilising our affiliation with
          Birkbeck, University of London to ensure that OLH is truly
          scholar-led.</p>
          <p>Our founders use their research time at Birkbeck to advance
          scholarship on open access and the politics of collective action.
          Co-founder Prof. Martin Paul Eve researches scholarly
          communications in books such as <i>Theses on the Metaphors of
          Digital-Textual History</i> (2024) and <i>Open Access and the
          Humanities</i> (2014). Co-founder Dr Caroline Edwards has 15 years'
          experience publishing her research and building academic networks
          in the humanities, including setting up new journals and scholarly
          research associations, and working with editors to enshrine community
          ownership of journals.</p>
          <p>This specialism extends to our wider organisation. Our team
          uses their doctorates in humanities subjects to steer robust and
          quality open-access research to publication. We also continue our
          scholar-led tradition through user experience (UX) research into what our users
          want, continually improving our software to put scholars in
          charge.</p>
        {% endcomponent_block %}
      </div>
      <div class="relative mt-8">
        {% component_block "page_section" labelledby="engage" margin="narrow" icon="Engage.svg" %}
          <h2 id="engage">Engage.</h2>
          <p class="font-semibold">Rallying our global community of
          librarians, editors, and academics around our shared vision of
          not-for-profit humanities publishing.</p>
          <p>We deliver talks, participate in working groups and
          committees, write, lead, and collaborate to champion open access
          as an equitable and sustainable alternative to commercial
          publishing. We also present awards to recognise exemplary
          contributions to the OA community (and we’ve won a few of our
          own).</p>
        {% endcomponent_block %}
      </div>
      <div class="relative mt-28">
        {% include 'custom/counter-block.html' %}
        <aside>
          <img
            class="
              absolute max-lg:hidden z-0
              left-0 max-w-sm
              motion-reduce:-bottom-40 motion-safe:-bottom-40
              motion-safe:rallax
            "
            src="{% static 'hourglass/media/backgrounds/circle-blue-textured.png' %}"
            alt="">
        </aside>
      </div>
      <div class="relative">
        <div
          class="
            relative before:z-30 before:block before:absolute
            before:inset-y-0 before:w-[50vw]
            before:right-1/2 before:bg-white
            max-lg:mt-96 lg:mt-28
          ">
          <aside>
            <img
              class="
                absolute lg:hidden z-0
                right-0 max-w-md
                motion-reduce:-top-80 motion-safe:-top-96
                motion-safe:rallax
              "
              src="{% static 'hourglass/media/backgrounds/water-tower-circle-blue.png' %}"
              alt="A multi-faceted round water-tower in a collage with a circle">
          </aside>
          {% include "custom/featured-journals.html" %}
        </div>
      </div>
      {% include 'custom/subscribe.html' %}
    </div>
  </article>
{% endblock body %}
