{% load static %}

<article>
  <div class="container mx-auto max-w-screen-xl relative">
    {% include 'custom/edit-on-github.html' with rel_path='custom/what-we-do.html' %}
    <img
      class="
        lg:hidden absolute
        max-sm:-right-32 sm:-right-12 md:right-4 max-w-md
        motion-reduce:-top-56 motion-safe:-top-64 motion-safe:rallax
      "
      src="{% static 'hourglass/media/backgrounds/laptop-lady-upside-down-circles.png' %}"
      alt="A woman typing on a laptop, in an upside-down collage with circles">
    <img
      class="
        max-lg:hidden absolute
        -right-4 max-w-md
        top-8 motion-safe:rallax
      "
      src="{% static 'hourglass/media/backgrounds/laptop-lady-rightside-up-dancer.png' %}"
      alt="A woman typing on a laptop with a breakdancer in the background">
    <div class="relative z-40">
      <h1
        class="
          max-lg:text-4xl lg:text-7xl
          font-poppins-bold max-lg:pt-64 max-lg:pb-12 lg:py-28 px-8
        ">
        What We Do
      </h1>
    </div>
    <div
      class="
        p-8 bg-hourglass-orange
        flex max-md:flex-col md:flex-row gap-x-16 gap-y-6
        relative z-40
      ">
      <div class="basis-1/2 flex flex-col gap-6">
        <p class="font-poppins-bold max-lg:text-2xl lg:text-3xl">Everything we do at OLH is designed to build sustainable funding for the digital publication and preservation of open access humanities scholarship.</p>
      </div>
      <div class="basis-1/2 flex flex-col gap-6">
        <p class="font-source-sans max-lg:text-lg lg:text-xl">Day-to-day, this means developing open source software, overseeing article publication, researching new possibilities for scholarly communication, and engaging our community of librarians, editors, and researchers. Our work is built on four key actions.</p>
      </div>
    </div>
    <img
      class="
        absolute lg:hidden z-0
        -left-48 max-w-sm
        motion-reduce:-bottom-60 motion-safe:-bottom-12 motion-safe:rallax
      "
      src="{% static 'hourglass/media/backgrounds/triangle-blue-circles-red-four.png' %}"
      alt="">
    <img
      class="
        absolute max-lg:hidden z-0
        -left-36 max-w-xs
        motion-reduce:-bottom-64 motion-safe:-bottom-36 motion-safe:rallax
      "
      src="{% static 'hourglass/media/backgrounds/triangle-blue-textured-circle-red.png' %}"
      alt="">
  </div>
  <div class="container mx-auto max-w-screen-xl relative">
    <div
      class="
        relative before:z-30 before:block before:absolute
        before:inset-y-0 before:w-[50vw]
        before:right-1/2 before:bg-white
        max-lg:mt-[32rem]
        lg:mt-28
      ">
      <img
        class="
          absolute lg:hidden z-0
          -right-32
          motion-reduce:-top-[32rem] motion-safe:-top-[36rem]
          motion-safe:rallax
        "
        src="{% static 'hourglass/media/backgrounds/dancer-jeans-triangle-blue.png' %}"
        alt="Dancer wearing ripped jeans suspended in mid-air">
      <div
        class="
          relative max-lg:hidden z-10
          -right-12 top-0
          motion-safe:rallax
        ">
        <img
          class="
            absolute z-10
            -right-40
            -top-20
          "
          src="{% static 'hourglass/media/backgrounds/dancer-jeans-circles-red-four.png' %}"
          alt="Dancer wearing ripped jeans suspended in mid-air">
        <img
          class="
            absolute z-0 right-0 rotate-180 w-80
            top-[23.6rem]
          "
          src="{% static 'hourglass/media/backgrounds/triangle-blue-textured.png' %}"
          alt="">
        <img
          class="
            absolute z-0 right-0 rotate-180 w-80
            top-[43.5rem]
          "
          src="{% static 'hourglass/media/backgrounds/triangle-blue-textured.png' %}"
          alt="">
      </div>
      <div
        class="
          px-8 py-14 flex flex-col gap-y-6 z-40 relative
          bg-white max-w-3xl
        ">

        <img
          class="-m-3 w-32 h-32"
          src="{% static 'hourglass/media/icons/Publish.svg' %}"
          alt="">
        <h2 class="font-poppins-bold max-lg:text-2xl lg:text-3xl">Publish</h2>
        <p class="font-source-sans font-semibold max-lg:text-lg lg:text-xl">Hosting 28 peer-reviewed academic journals (and counting!), including our flagship <i>Open Library of Humanities</i> journal.</p>
        <p class="font-source-sans max-lg:text-lg lg:text-xl">We oversee editorial processes and provide support to our hosted editors, to ensure the highest standards of research integrity. As our library supporters grow, we expand our portfolio by ‘flipping’ subscription journals to diamond open access.</p>
      </div>
    </div>
  </div>
  <div class="container mx-auto max-w-screen-xl relative">
    <div
      class="
        relative before:z-30 before:block before:absolute
        before:inset-y-0 before:w-[50vw]
        before:right-1/2 before:bg-white
        mt-8
      ">
      <div
        class="
          px-8 py-14 flex flex-col gap-y-6 z-40 relative
          bg-white max-w-3xl
        ">
        <img
          class="-m-3 w-32 h-32"
          src="{% static 'hourglass/media/icons/Develop.svg' %}"
          alt="">
        <h2 class="font-poppins-bold max-lg:text-2xl lg:text-3xl">Develop</h2>
        <p class="font-source-sans font-semibold max-lg:text-lg lg:text-xl">Building Janeway, a powerful, flexible, emphatically open source publishing platform.</p>
        <p class="font-source-sans max-lg:text-lg lg:text-xl">Having our own software makes OLH journals sustainable, and gives us independence from commercial publishing platforms. We listen to our journal editors and continually improve the platform with scholars’ needs in mind.</p>
      </div>
    </div>
  </div>
  <div class="container mx-auto max-w-screen-xl relative">
    <div
      class="
        relative before:z-30 before:block before:absolute
        before:inset-y-0 before:w-[50vw]
        before:right-1/2 before:bg-white
        mt-8
      ">
      <div
        class="
          px-8 py-14 flex flex-col gap-y-6 z-40 relative
          bg-white max-w-3xl
        ">
        <img
          class="-m-3 w-32 h-32"
          src="{% static 'hourglass/media/icons/Research.svg' %}"
          alt="">
        <h2 class="font-poppins-bold max-lg:text-2xl lg:text-3xl">Research</h2>
        <p class="font-source-sans font-semibold max-lg:text-lg lg:text-xl">Mobilising our affiliation with Birkbeck, University of London, to ensure that OLH is truly scholar-led.</p>
        <p class="font-source-sans max-lg:text-lg lg:text-xl">Co-founder Martin Paul Eve continues to research scholarly communications and has published books like <i>Open Access and the Humanities</i> (2014) and <i>Password</i> (2016). Co-founder Caroline Edwards researches and teaches on models of collectivity and utopianism at Birkbeck.</p>
        <p class="font-source-sans max-lg:text-lg lg:text-xl">This specialism extends to our wider team. Our Editorial team use their doctorates in humanities subjects, and extensive experience of peer review, to steer robust and quality open access research to publication. We also continue our scholar-led tradition through UX research into what our users want, continually improving our software to put scholars in charge.</p>
      </div>
    </div>
  </div>
  <div class="container mx-auto max-w-screen-xl relative">
    <div
      class="
        relative before:z-30 before:block before:absolute
        before:inset-y-0 before:w-[50vw]
        before:right-1/2 before:bg-white
        mt-8
      ">
      <div
        class="
          px-8 py-14 flex flex-col gap-y-6 z-40 relative
          bg-white max-w-3xl
        ">
        <img
          class="-m-3 w-32 h-32"
          src="{% static 'hourglass/media/icons/Engage.svg' %}"
          alt="">
        <h2 class="font-poppins-bold max-lg:text-2xl lg:text-3xl">Engage</h2>
        <p class="font-source-sans font-semibold max-lg:text-lg lg:text-xl">Rallying our global community of librarians, editors, and academics around our shared vision of not-for-profit humanities publishing.</p>
        <p class="font-source-sans max-lg:text-lg lg:text-xl">We deliver talks, participate in working groups and committees, write, lead, and collaborate, to champion open access as an equitable and sustainable alternative to commercial publishing. We also present awards to recognise exemplary contributions to the OA community (and we’ve won a few of our own).</p>
      </div>
      <img
        class="
          absolute max-lg:hidden z-0
          -right-12 max-w-md
          motion-reduce:-bottom-64 motion-safe:-bottom-36
          motion-safe:rallax
        "
        src="{% static 'hourglass/media/backgrounds/water-tower-circle-blue.png' %}"
        alt="A multi-faceted round water-tower in a collage with a circle">
    </div>
  </div>
  <div class="container mx-auto max-w-screen-xl relative">
    {% include 'custom/counter-block.html' %}
    <img
      class="
        absolute max-lg:hidden z-0
        left-0 max-w-sm
        motion-reduce:-bottom-40 motion-safe:-bottom-40
        motion-safe:rallax
      "
      src="{% static 'hourglass/media/backgrounds/circle-blue-textured.png' %}"
      alt="">
  </div>
  <div class="container mx-auto max-w-screen-xl relative">
    <div
      class="
        relative before:z-30 before:block before:absolute
        before:inset-y-0 before:w-[50vw]
        before:right-1/2 before:bg-white
        max-lg:mt-96 lg:mt-28
      ">
      <img
        class="
          absolute lg:hidden z-0
          right-0 max-w-md
          motion-reduce:-top-80 motion-safe:-top-96
          motion-safe:rallax
        "
        src="{% static 'hourglass/media/backgrounds/water-tower-circle-blue.png' %}"
        alt="A multi-faceted round water-tower in a collage with a circle">
      <div class="p-12 bg-white z-40 relative">
        <h2 class="pb-6 font-poppins-bold max-lg:text-2xl lg:text-3xl">
          Featured Journals
        </h2>
        <div
          class="
            flex -mx-3
            max-lg:flex-col gap-y-16
            lg:flex-row lg:flex-wrap lg:justify-between
          ">
          {% for journal in request.press.featured_journals.all|slice:":6" %}
            {% include 'custom/journal-tile.html' %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <div class="container mx-auto max-w-screen-xl relative">
    {% include 'custom/subscribe.html' %}
  </div>
</article>
