{% load static %}

<aside class="relative z-0 max-lg:top-8 lg:-top-80 max-lg:right-8 lg:right-0">
  <img
    class="
      absolute z-0 max-lg:top-48 lg:-top-24
      max-lg:right-12 lg:-right-16 w-96
    "
    src="{% static 'hourglass/media/backgrounds/circle-blue-textured.png' %}"
    width="434"
    alt="">
  <img
    class="
      motion-safe:rallax absolute z-30 w-8 max-lg:top-20 lg:-top-24
      max-lg:right-72 lg:-right-16
    "
    src="{% static 'hourglass/media/backgrounds/circle-red.svg' %}"
    alt="">
  <img
    class="
      motion-safe:rallax absolute z-20
      max-lg:-right-56 lg:right-0
      max-lg:-top-48 lg:-top-36 lg:w-48
    "
    src="{% static 'hourglass/media/backgrounds/planet-cloudy.png' %}"
    width="308" height="307"
    alt="A planet covered in grey swirling clouds">
  <img
    class="
      motion-safe:rallax z-20 absolute max-lg:w-96 lg:max-w-none
      max-lg:-right-8 lg:right-36 max-lg:-top-8 lg:-top-12
    "
    src="{% static 'hourglass/media/backgrounds/woman-gazing.png' %}"
    width="400" height="504"
    alt="A woman with her hair in a braided top knot gazing hopefully into the
    distance">
</aside>
