{% load static %}
{% load fqdn %}
{% get_current_language as current_language %}
{% load component_tags %}

<!DOCTYPE html>
<html
  lang="{{ current_language }}"
  class="overflow-x-clip">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %}</title>
    <link
      href="{% static 'hourglass/css/output.css' %}"
      rel="stylesheet">
    <link
      href="{% static 'hourglass/css/glide.core.min.css' %}"
      rel="stylesheet">
    <link
      href="{% static 'hourglass/fonts/fontawesome/css/fontawesome.min.css' %}"
      rel="stylesheet">
    <link
      href="{% static 'hourglass/fonts/fontawesome/css/brands.min.css' %}"
      rel="stylesheet">
    {% if request.press.favicon %}
      <link rel="icon" href="{{ press.favicon.url }}" type="image/x-icon">
    {% endif %}
    {% block meta_base %}
      <meta property="og:type" content="website">
      <meta property="og:url" content="{{ request.build_absolute_uri }}">
      <meta property="og:site_name" content="{{ request.press.name }}">
      <meta name="twitter:card" content="summary_large_image">
    {% endblock meta_base %}
    {% block meta_title %}
      <meta property="og:title" content="{{ request.press.name }}">
      <meta name="twitter:title" content="{{ request.press.name }}">
    {% endblock meta_title %}
    {% block meta_description %}
      {% if request.press.description %}
        <meta name="twitter:description" content="{{ press.description }}">
        <meta property="og:description" content="{{ press.description }}">
      {% endif %}
    {% endblock meta_description %}
    {% block meta_image %}
      {% if request.press.default_carousel_image %}
        <meta
          property="og:image"
          content="{% build_absolute_uri request.press.default_carousel_image.url %}">
        <meta
          name="twitter:image"
          content="{% build_absolute_uri request.press.default_carousel_image.url %}">
      {% endif %}
    {% endblock meta_image %}
  </head>
  <body class="relative font-source-sans text-black bg-tan overflow-clip">
    <div class="relative flex flex-col min-h-screen justify-between">
      <header class="lg:sticky lg:top-0 lg:z-50">
        {% include "press/nav.html" %}
        {% if messages %}
          {% component "messages" messages=messages %}
        {% endif %}
      </header>
      <main class="relative z-0 mb-auto">
        {% block body %}{% endblock body %}
      </main>
      <footer class="relative z-0">
        {% include 'press/footer.html' %}
      </footer>

      <!-- JavaScript dependencies -->
      <script src="{% static 'hourglass/js/list.min.js' %}"></script><!-- pre-ESM -->
      <script src="{% static 'hourglass/js/simple-scrollspy.min.js' %}"></script>
      <script src="{% static 'hourglass/js/rallax.js' %}"></script>

      <!-- custom JavaScript -->
      <script>
        // Check user's motion preference
        const mediaQuery = window.matchMedia('(prefers-reduced-motion: reduce)')
        const prefersReducedMotion = mediaQuery.matches
      </script>
      <script>
        if (!prefersReducedMotion) {
          for (const image of document.getElementsByClassName('motion-safe:rallax')) {
            rallax(image)
          }
        }
      </script>
      <script type="module">
        import jump from '{% static "hourglass/js/jump.module.js" %}'
        const scrollOptions = {
          sectionClass: '.scroll-target',
          // scrollContainer: '.scroll-container',
          smoothScroll: !prefersReducedMotion,
          offset: -3700,
          smoothScrollBehavior: function (element, options) {
            jump(element, {
              duration: 600,
              offset: -100,
            })
          }
        }
        if (document.querySelector('#scroll-menu')) {
          window.scrollSpy('#scroll-menu', scrollOptions)
        }
      </script>

      {% block js %}{% endblock js %}
    </div>
  </body>
</html>
