{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock title %}</title>
        <link href="{% static 'path/path.min.css' %}" rel="stylesheet">
        <link
            href="https://fonts.googleapis.com/icon?family=Material+Icons"
            rel="stylesheet"
        >
        {% include 'press/head.html' %}
    </head>
    <body>
        <header>
            {% include "press/nav.html" %}
        </header>
        <main>
            <div class="container flow-text">
                {% include 'core/search_results.html' with site_search_data=request.site_search_data %}
                {% block body %}{% endblock body %}
            </div>
        </main>
        <footer>
            <!-- include press/footer.html -->
        </footer>
        <script
            src="https://code.jquery.com/jquery-3.6.3.min.js"
            integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU="
            crossorigin="anonymous">
        </script>
        <script
            src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@1.2.1/dist/js/materialize.min.js">
        </script>
        <script>M.AutoInit();</script>
        <script src="{% static 'path/lunr.min.js' %}"></script>
        <script src="{% static 'path/search.js' %}" type="module"></script>
    </body>
</html>
