@use "sass:color";

.cta {
  padding-top: 50px;
  padding-bottom: 50px;

  &-title {
    p, span, h1, h2, h3, h4 {
      font-size: 1.4rem;
      padding: 0;
      margin: 25px 0;
      text-align: center;
    }
  }

  &-para {
    p, span {
      text-align: center;
      margin: 25px 0;
    }
  }

  &-action {
    display: flex;

    a, button {
      margin: auto;
      font-size: 1.5rem;

      &:hover {
        transition: all .3s;
        transform: scale(1.05);
      }
    }
  }

  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 25px;
    height: 100%;
    width: 100%;
    background: color('baustel', 'paper');
    z-index: -5;
  }

}
