@use "sass:map";
@use "sass:color";

// Create a color variable set
$bau: (
  "base":     #03658C,
  "blue":     #03658C,
  "off-blue": #03738C,
  "yellow":   #F2A03D,
  "black":    #1F1C1C,
  "red":      #D93D3D,
  "paper":    #F2DCC9,
);

// Second color set
$baustel: (
  "base":     #215483,
  "clay":     #A87C84,
  "light":    #607BA4,
  "olive":    #CCD598,
  "brick":    #F89896,
  "sky":      #DDE7ED,
  "dijon":    #F1DF95,
  "grey":     #C3C2B8,
  "paper":    #E6E5E0,
);

// ORCID
$orcid: (
  "base":     #A2CB46,
);

// Concatenate custom colors
$custom-colors: (
  "bau": $bau,
  "baustel": $baustel,
  "orcid": $orcid,
);

// Add to colors
$colors: map.merge($colors, $custom-colors);


// Set the primary and secondary colors, and a few other colors
// Strictly speaking this would go in the custom _variables.scss, but it is here
// so that all the variables that get assigned in Materialize _variables.scss
// use these as the basis.

$primary-color: color("baustel", "base");
$primary-color-light: color("baustel", "light");
$primary-color-dark: color.adjust($primary-color, $lightness: -15%);
$secondary-color: color("baustel", "clay");
$link-color: color.adjust($secondary-color, $lightness: -20%);
$card-link-color: $link-color;
$chip-selected-color: color("baustel", "dijon");
$callout-bg-color: color("baustel", "sky");
