@use "sass:map";


// Create a color variable set
$bau: (
  "base":     #03658C,
  "blue":     #03658C,
  "off-blue": #03738C,
  "yellow":   #F2A03D,
  "black":    #1F1C1C,
  "red":      #D93D3D,
  "paper":    #F2DCC9,
);

$baustel: (
  "base":     rgb(33,  84,  131),
  "clay":     rgb(168, 124, 132),
  "light":    rgb(96,  123, 164),
  "olive":    rgb(204, 213, 152),
  "brick":    rgb(248, 152, 150),
  "sky":      rgb(204, 232, 242),
  "dijon":    rgb(241, 223, 149),
  "grey":     rgb(195, 194, 184),
  "paper":    rgb(230, 229, 224),
);

// ORCID
$orcid: (
  "base":     #A2CB46,
);

$custom-colors: (
  "bau": $bau,
  "baustel": $baustel,
  "orcid": $orcid,
);

$colors: map.merge($colors, $custom-colors);


// Set the primary and secondary colors, and a few other colors
// Strictly speaking this would go in the custom _variables.scss, but it is here
// so that all the variables that get assigned in Materialize _variables.scss
// use these as the basis.

$primary-color: color("baustel", "base");
$primary-color-light: color("baustel", "light");
// $primary-color-light: lighten($primary-color, 15%);
$primary-color-dark: darken($primary-color, 15%);
$secondary-color: color("baustel", "clay");
$link-color: darken($secondary-color, 20%);
$card-link-color: $link-color;
