.flex {
  display: flex;
  flex-wrap: wrap;

  .col {
    float: unset;
    margin-left: unset !important;

    .card {
      height: calc(100% - 1.5rem)
    }
  }
}

// Width and horizontal margin helpers

.max640 { max-width: 640px }
.max800 { max-width: 800px }
.max960 { max-width: 960px }

.margin-left { margin-left: 0; margin-right: auto; }
.margin-right { margin-left: auto; margin-right: 0; }
.margin-auto { margin-left: auto; margin-right: auto; }

// SVGs need this
nav svg {
  width: 100%;
}

// Very narrow margins on mobile screens
@media #{$small-and-down} {
  .container {
    width: 97%;
  }
}

// Padded sections
.padded-section {
  padding-top: 100px;
  padding-bottom: 100px;
}

// Full-width backgrounds
html {
  overflow-x: hidden;
}

.background-full {
  position: relative;
}

.background-full::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX( -50%);
  height: 100%;
  width: 100vw;
  background: inherit;
  z-index: -5;
}

td, th{
  padding: 15px 10px;
}

// Full height pages even if not enough content

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

// Footer
.page-footer {
  padding-bottom: 20px;

  li {
    margin-bottom: 6px;
  }

  a {

    &:link,
    &:visited {
      color: white;
    }

    &:hover {
      color: color('baustel', 'brick');
    }
  }

}
