.flex {
  display: flex;
  flex-wrap: wrap;
  .col {
    float: unset;
    margin-left: unset !important;
    .card {
      height: calc(100% - 1.5rem)
    }
  }
}

.prose {
	max-width: 640px;
	margin-right: auto;
	margin-left: auto;
}

img.responsive-img {
	width: 100%;
}
