.flex {
  display: flex;
  flex-wrap: wrap;

  .col {
    float: unset;
    margin-left: unset !important;

    .card {
      height: calc(100% - 1.5rem)
    }
  }
}

.prose {
  max-width: 640px;
  margin-right: auto;
  margin-left: auto;
}

// SVGs need this
img.responsive-img {
  width: 100%;
}

// Very narrow margins on mobile screens
@media #{$small-and-down} {
  .container {
    width: 97%;
  }
}

// Full-width backgrounds
html {
  overflow-x: hidden;
} 

.background-full {
  position: relative;
}

.background-full:before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX( -50%);
  height: 100%;
  width: 100vw;
  background: inherit;
  z-index: -5;
}
