nav {
  background-color: $navbar-background-color;

  .upper-nav {
    display: flex;
    align-items: start;

    svg,
    img {
      display: block;
      width: 100%;
      margin: .5rem 0;
      max-height: calc($navbar-height-mobile - .5rem);

      @media #{$large-and-up} {
        margin: 1.5rem 0;
        max-height: 76px;
      }
    }

    .top-right-icons {
      margin-left: auto;
      display: flex;

      i.material-icons {
        font-size: 40px;
        height: 40px;
        line-height: 40px;
        margin-top: 1.5rem;
        margin-left: 1rem;
      }
    }
  }

  .lower-nav {
    display: flex;
    justify-content: center;
  }
}
