@use "sass:math";


// 20. Typography
// ==========================================================================

// Fonts
@font-face {
  font-family: 'Bungee';
  font-display: swap;
  src: url(bungee/Bungee-Regular.ttf) format('woff2');
}

@font-face {
  font-family: 'Trueno Bold';
  font-display: swap;
  src: url(trueno/TruenoBold-XYE2.otf) format('woff2');
}

@font-face {
  font-family: 'Trueno Light';
  font-display: swap;
  src: url(trueno/TruenoLight-E2pg.otf) format('woff2');
}

$font-stack: 'Trueno Light', sans-serif;

h1 {
  font-family: 'Bungee', 'Trueno Bold', sans-serif;
}
h2,
h3 {
  font-family: 'Trueno Bold', sans-serif;
}

// Header Styles
$h1-fontsize: 2.7rem;
$h2-fontsize: 2.4rem;
$h3-fontsize: 2.1rem;
$h4-fontsize: 1.8rem;
$h5-fontsize: 1.5rem;
$h6-fontsize: 1.2rem;

// Bylines
p.byline {
  font-size: 75%;
}

// Labels (such as for above headers)
p.label {
  color: $secondary-color;
  font-size: 75%;
  text-transform: uppercase;
}


// 22. Flow Text
// ==========================================================================

$range : $medium-screen - $small-screen;
$intervals: 10;
$interval-size: math.div($range, $intervals);
