@use "sass:math";


// 13. Navigation Bar
// ==========================================================================

$navbar-background-color: #FFF;
$navbar-font-color: $off-black;


// 20. Typography
// ==========================================================================

// Fonts
@font-face {
  font-family: Bungee;
  font-display: swap;
  src: url('bungee/Bungee-Regular.ttf') format('woff2');
}

@font-face {
  font-family: 'Trueno Bold';
  font-display: swap;
  src: url('trueno/TruenoBold-XYE2.otf') format('woff2');
}

@font-face {
  font-family: 'Trueno Regular';
  font-display: swap;
  src: url('trueno/Trueno-wml2.otf') format('woff2');
}

@font-face {
  font-family: 'Trueno Light';
  font-display: swap;
  src: url("trueno/TruenoLight-E2pg.otf") format('woff2');
}

h1,
h2 {
  font-family: 'Trueno Bold', sans-serif;
  padding-top: 1.5rem;
}

h3,
h4,
h5,
h6,
nav {
  font-family: 'Trueno Regular', sans-serif;
}

// Header Styles
$h1-fontsize: 3rem;
$h2-fontsize: 2.6rem;
$h3-fontsize: 2.2rem;
$h4-fontsize: 1.8rem;
$h5-fontsize: 1.5rem;
$h6-fontsize: 1.2rem;

// Body
$font-stack: 'Trueno Light', sans-serif;

p:first-child {
  margin-top: 0;
}

p:last-child {
  margin-bottom: 0;
}

// Bylines
p.byline {
  font-size: 75%;
}

// Labels (such as for above headers)
p.label {
  color: $secondary-color;
  font-size: 75%;
  text-transform: uppercase;
}

// Help text on forms

form .help-block {
  color: color('red', 'darken-2');
  font-size: 75%;
}

form .input-field p {
  margin-top: 0;
  font-size: 75%;
}


// 22. Flow Text
// ==========================================================================

$range: $medium-screen - $small-screen;
$intervals: 5;
$interval-size: math.div($range, $intervals);


// 23. Collections
// ==========================================================================

$collection-line-height: 1.5;
