{% load component_tags %}

<div
  class="
    p-8 relative z-40
    {% if color == "blue" %}
      bg-blue
    {% elif color == "orange" %}
      bg-orange
    {% endif %}
  ">
  <div class="flex max-md:flex-col md:flex-row gap-x-16 gap-y-6">
    <div
      class="
        md:basis-1/2 prose lg:prose-lg
      {% if color == "blue" %}text-white{% endif %}
      ">
      {% slot "column_one" %}{% endslot %}
    </div>
    <div
      class="
        md:basis-1/2 prose lg:prose-lg
        {% if color == "blue" %}text-white{% endif %}
      ">
      {% slot "column_two" %}{% endslot %}
    </div>
  </div>
</div>
