{% load static %}
{% load component_tags %}

<{{ element }}
  {% if labelledby %}
    aria-labelledby="{{ labelledby }}"
  {% elif label %}
    aria-label="{{ label }}"
  {% endif %}
  class="
    relative before:z-30 before:block before:absolute
    before:inset-y-0 before:w-[50vw]
    {% if colors == "light" %}
      before:bg-white
    {% elif colors == "dark" %}
      before:bg-blue
    {% elif colors == "transparent" %}
      before:bg-transparent
    {% endif %}
    {% if anchor == "left" %}
      before:right-1/2
    {% else %}
      before:left-1/2 lg:flex lg:justify-end
    {% endif %}
  ">
  <div
    class="
      w-full relative z-40 px-8
      flex max-lg:flex-col gap-y-6 lg:flex-row gap-x-10
      {% if margin == "narrow" %}
        py-14
      {% elif margin == "normal" %}
        py-20
      {% endif %}
      {% if colors == "light" %}
        bg-white
      {% elif colors == "dark" %}
        bg-blue
      {% elif colors == "transparent" %}
        bg-transparent
      {% endif %}
      {% if width == "part" %}
        lg:max-w-3xl
      {% endif %}
    ">
    {% if icon %}
      <img
        class="-m-3 max-lg:w-32 max-lg:h-32 lg:w-44 lg:h-44"
        src="{% static 'hourglass/media/icons/' %}{{ icon }}"
        alt="">
    {% endif %}
    <div
      class="
        w-full
        {% if prose %}
          prose lg:prose-lg break-words
        {% endif %}
        {% if margin == "normal" %}
          {% if anchor == "left" %}
            lg:mr-16
          {% elif anchor == "right" %}
            lg:ml-16
          {% endif %}
        {% endif %}
        {% if colors == "dark" %}
          text-white
        {% endif %}
      ">
      {% slot "content" default %}{% endslot %}
    </div>
  </div>
</{{ element }}>
