{% load component_tags %}

<{{ element }}
  {% if labelledby %}
    aria-labelledby="{{ labelledby }}"
  {% elif label %}
    aria-label="{{ label }}"
  {% endif %}
  class="
    relative before:z-30 before:block before:absolute
    before:inset-y-0 before:w-[50vw]
    {% if colors == "light" %}
      before:bg-white
    {% elif colors == "dark" %}
      before:bg-blue
    {% elif colors == "transparent" %}
      before:bg-transparent
    {% endif %}
    {% if anchor == "left" %}
      before:right-1/2
    {% else %}
      before:left-1/2 lg:flex lg:justify-end
    {% endif %}
  ">
  <div
    class="
      w-full relative z-40 py-20 px-8
      {% if colors == "light" %}
        bg-white
      {% elif colors == "dark" %}
        bg-blue
      {% elif colors == "transparent" %}
        bg-transparent
      {% endif %}
      {% if width == "part" %}
        lg:max-w-3xl
      {% endif %}
    ">
    <div
      class="
        w-full
        {% if prose %}
          prose lg:prose-lg break-words
        {% endif %}
        {% if anchor == "left" %}
          lg:mr-16
        {% else %}
          lg:ml-16
        {% endif %}
        {% if colors == "dark" %}
          text-white
        {% endif %}
      ">
      {% slot "content" default %}{% endslot %}
    </div>
  </div>
</{{ element }}>
