{% load render_string %}

<div class="bg-black text-white">
  <div class="container py-12 mx-auto max-w-screen-xl flex flex-col justify-between">
    <div class="pb-8 md:pb-12 flex justify-between content-start">
        <a href="{{ request.press_base_url }}">
          <img
            class="h-16 md:h-24"
            src="{% url 'press_cover_download' %}"
            alt="{{ request.press.name }}">
        </a>
        {% if press.secondary_image %}
          {% if press.secondary_image_url %}
            <a href="{{ press.secondary_image_url }}">
              <img
                class="h-16 md:h-24"
                src="{{ press.secondary_image.url }}"
                alt="Janeway">
            </a>
          {% else %}
            <img src="{{ press.secondary_image.url }}">
          {% endif %}
        {% endif %}
    </div>
    <nav>
      <ul class="py-4 flex gap-4 flex-wrap font-poppins text-sm uppercase">
        {% for item in navigation_items %}
          {% if item.for_footer %}
            {% include "elements/footer_link_custom.html" %}
          {% endif %}
        {% endfor %}
        <li class="flex gap-4">
          <a href="{% url 'website_sitemap' %}">
            {% trans "Sitemap" %}
          </a>
          <span>|</span>
        </li>
        <li class="flex gap-4">
          <a href="{% url 'contact' %}">
            {% trans "Contact" %}
          </a>
          {% if not request.user.is_authenticated %}
            <span>|</span>
          {% endif %}
        </li>
        {% if not request.user.is_authenticated %}
          <li class="flex gap-4">
            <a href="{% url 'core_login' %}">
              {% trans 'Log in' %}
            </a>
          </li>
        {% endif %}
      </ul>
    </nav>
    <div class="text-xs">
      {% render_string press.footer_description %}
    </div>
  </div>
</div>
