{% load svg from press_url %}
{% load render_string %}

<footer class="page-footer">
    <div class="container">
        <div class="row flex">
            <div class="col s12 l6" style="margin: 10px;">
                {{ press.footer_description|safe }}
            </div>
            <div class="col s12 l5 push-l1 flex" style="align-content: space-between;">
                <div class="col s12 row flex">
                    <div class="col s12 m6 white-text">
                        <ul class="center">
                            {% for item in navigation_items %}
                                {% if item.for_footer %}
                                    <li>
                                        <a href="{{ item.link }}">
                                            {{ item.link_name }}
                                        </a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </div>
                    <div class="col s12 m6 white-text">
                        <ul class="center">
                            <li>
                                <a href="{% url 'website_sitemap' %}">
                                    {% trans "Sitemap" %}
                                </a>
                            </li>
                            <li>
                                <a href="{% url 'contact' %}">
                                    {% trans "Contact" %}
                                </a>
                            </li>
                            {% if not request.user.is_authenticated %}
                            <li>
                                <a href="{% url 'core_login' %}">
                                    {% trans 'Log in' %}
                                </a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
                <div class="col s12">
                    {% if press.secondary_image %}
                        {% if press.secondary_image_url %}
                            <a href="{{ press.secondary_image_url }}">
                                <img src="{{ press.secondary_image.url }}">
                            </a>
                        {% else %}
                            <img src="{{ press.secondary_image.url }}">
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</footer>
