{% load static %}
{% load render_string %}
{% load component_tags %}

<div class="bg-black text-white relative z-40">
  <div class="container relative py-12 mx-auto max-w-screen-xl flex flex-col justify-between">
    <div class="pt-8 pb-28 lg:px-8 flex max-md:gap-8 max-md:flex-col max-md:gap-y-12 md:gap-x-16 md:justify-between">
      <a class="flex flex-col items-center justify-center" href="{{ request.press_base_url }}">
        <img
          class="max-lg:w-48 lg:w-64"
          src="{% static 'hourglass/media/logo/OLH-logo-white.svg' %}"
          alt="{{ request.press.name }}">
      </a>
      {% if press.secondary_image %}
        {% if press.secondary_image_url %}
          <a class="flex flex-col items-center justify-center" href="{{ press.secondary_image_url }}">
            <img
              class="max-lg:w-40 lg:w-40"
              src="{{ press.secondary_image.url }}"
              alt="Janeway">
          </a>
        {% else %}
          <div class="flex flex-col items-center justify-center">
            <img src="{{ press.secondary_image.url }}" alt="">
          </div>
        {% endif %}
      {% endif %}
      <a class="-m-6 flex flex-col items-center justify-center" href="https://www.bbk.ac.uk/">
        <img
          class="max-lg:w-48 lg:w-64"
          src="{% static 'hourglass/media/logo/birkbeck-logo-white-on-black.svg' %}"
          alt="Birkbeck, University of London">
      </a>
    </div>
    <nav class="py-4 lg:px-8">
      {% component_block "link_list" %}
        {% for item in navigation_items %}
          {% if item.for_footer %}
            {% component "link" href=item.link label=item.link_name %}
          {% endif %}
        {% endfor %}
        {% component "link" django_url="website_sitemap" label="Sitemap" %}
        {% component "link" django_url="contact" label="Contact" %}
        {% if not request.user.is_authenticated %}
          {% component "link" django_url="core_login" label="Log in" %}
        {% endif %}
      {% endcomponent_block %}
    </nav>
    <div class="lg:px-8 text-xs">
      {% render_string press.footer_description %}
    </div>
  </div>
</div>
