{% load hooks %}
{% load press_url %}

<div class="bg-zinc-200 sticky top-0">
  <div class="container pt-3 mx-auto max-w-screen-xl flex justify-between">
    <div class="px-6 pt-4 pb-5 flex">
      <a href="{{ request.press_base_url }}">
        <img
          class="h-9"
          src="{% url 'press_cover_download' %}"
          alt="{{ request.press.name }}">
      </a>
    </div>
    <div class="px-6 pt-4">
      <nav>
        <ul
          id="nav-options"
          class="sm:max-lg:hidden text-sm font-poppins flex justify-center space-x-2">
          {% for item in navigation_items %}
            {% if not item.for_footer %}
              {% include 'elements/nav_item.html' with viewport='medium' %}
            {% endif %}
          {% endfor %}
          {% include 'elements/nav_search.html' with viewport='medium' %}
          {% include 'elements/nav_account.html' with viewport='medium' %}
        </ul>
        <ul class="lg:hidden">
          {% include 'elements/nav_slide_drawer.html' with viewport='medium' %}
        </ul>
      </nav>
    </div>
  </div>
</div>

<script>

  function toggleDropdown(topNavItem) {
    dropdownId = topNavItem.getAttribute('data-target')
    const dropdown = document.getElementById(dropdownId)
    dropdown.classList.toggle('lg:hidden')
  }

  // Drop down on click
  const topNavItems = document.getElementsByClassName('opens-dropdown')
  for (const item of topNavItems) {
    item.addEventListener('click', event => {
      toggleDropdown(item)
    })
  }

</script>
