{% load hooks %}
{% load press_url %}

<div class="bg-hourglass-tan">
  <div
    class="
      container mx-auto max-w-screen-xl
      pt-3
    ">
    <div class="flex flex-col lg:flex-row gap-3 justify-between">
      <div class="flex gap-3 justify-between">
        <div class="px-6 pt-4 pb-5 flex-shrink flex">
          <a href="{{ request.press_base_url }}">
            <img
              class="max-h-9"
              src="{% url 'press_cover_download' %}"
              alt="{{ request.press.name }}">
          </a>
        </div>
        <nav
          class="
            px-6 pt-4
            lg:hidden
            ">
          <ul
            class="
              text-sm font-poppins
              flex flex-col lg:flex-row justify-center gap-x-2
            ">
            {% include 'elements/nav_slide_drawer.html' with viewport='medium' %}
          </ul>
        </nav>
      </div>
      <nav
        id="nav-options"
        class="
          pt-4
          max-lg:px-6
          max-lg:hidden
          max-lg:pb-4
        ">
        <ul
          class="
            text-sm font-poppins
            flex flex-col flex-wrap
            gap-y-6
            md:flex-row md:gap-x-6
            lg:justify-center lg:gap-x-2
          ">
          {% for item in navigation_items %}
            {% if not item.for_footer %}
              {% include 'elements/nav_item.html' with viewport='medium' %}
            {% endif %}
          {% endfor %}
          {% include 'elements/nav_search.html' with viewport='medium' %}
          {% include 'elements/nav_account.html' with viewport='medium' %}
        </ul>
      </nav>
    </div>
  </div>
</div>

<script>

  function toggleSideNav(event) {
    const navOptions = document.getElementById('nav-options')
    navOptions.classList.toggle('max-lg:hidden')
  }

  const slideDrawer = document.getElementById('slide-drawer')
  slideDrawer.addEventListener('click', event => toggleSideNav(event))

  function toggleDropdown(event) {
    dropdownId = event.target.getAttribute('data-target')
    const dropdown = document.getElementById(dropdownId)
    dropdown.classList.toggle('lg:hidden')
  }

  const topNavItems = document.getElementsByClassName('lg:opens-dropdown')
  for (const item of topNavItems) {
    item.addEventListener('click', event => toggleDropdown(event))
  }

</script>
