{% load static %}
{% load hooks %}
{% load press_url %}

<div class="bg-tan">
  <div class="container mx-auto max-w-screen-xl relative max-lg:z-50">
    <div
      class="
        max-lg:pb-2 pt-2 lg:px-8 flex flex-col lg:flex-row gap-3 justify-between
      ">
      <div class="flex gap-3 justify-between">
        <div class="max-lg:p-8 lg:pt-5 flex-shrink flex">
          <a href="{{ request.press_base_url }}">
            <img
              class="max-lg:h-[1.65rem] lg:h-7"
              src="{% static 'hourglass/media/logo/OLH-symbol-black.svg' %}"
              alt="{{ request.press.name }}">
          </a>
        </div>
        <nav class="lg:hidden">
          <ul class="text-sm font-poppins-medium">
            {% include 'elements/nav_slide_drawer.html' with viewport='medium' %}
          </ul>
        </nav>
      </div>
      <div
        id="nav-options"
        class="
          max-lg:transition-all max-lg:ease-in-out max-lg:duration-300
          max-lg:max-h-0 max-lg:overflow-clip
        ">
        <nav class="max-lg:hidden group/top">
          <ul
            class="
              text-sm font-poppins-medium
              flex max-lg:flex-col lg:flex-row lg:justify-center lg:items-center
            ">
            {% for item in navigation_items %}
              {% if not item.for_footer %}
                {% include 'elements/nav_item.html' with viewport='medium' %}
              {% endif %}
            {% endfor %}
            {% include 'elements/nav_search.html' with viewport='medium' %}
            {% include 'elements/nav_account.html' with viewport='medium' %}
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>

<script>
  const toggleDuration = 300

  function toggleSideNav(event) {
    event.stopPropagation()
    const navOptions = document.querySelector('#nav-options')
    innerNav = navOptions.querySelector('nav')
    if (innerNav.classList.contains('max-lg:hidden')) {
      innerNav.classList.remove('max-lg:hidden')
    } else {
      setTimeout(() => {
        innerNav.classList.add('max-lg:hidden')
        closeOtherDropdowns(event)
      }, toggleDuration)
    }
    navOptions.classList.toggle('max-lg:max-h-screen')
    navOptions.classList.toggle('max-lg:max-h-0')
  }

  function closeSideNav(item) {
    const navOptions = document.querySelector('#nav-options')
    innerNav = navOptions.querySelector('nav')
    navOptions.classList.toggle('max-lg:max-h-0', force=true)
    navOptions.classList.toggle('max-lg:max-h-screen', force=false)
    setTimeout(() => {
      innerNav.classList.add('max-lg:hidden')
    }, toggleDuration)
  }

  const slideDrawer = document.querySelector('#slide-drawer')
  slideDrawer.addEventListener('click', event => toggleSideNav(event))

  function toggleThisDropdown(event) {
    event.preventDefault()
    event.currentTarget.classList.toggle('lg:text-shadow')
    const dropdownId = event.currentTarget.getAttribute('data-target')
    const dropdown = document.querySelector(`#${dropdownId}`)
    const innerDropdown = dropdown.querySelector('ul')
    if (innerDropdown.classList.contains('hidden')) {
      innerDropdown.classList.remove('hidden')
    } else {
      setTimeout(() => {
        innerDropdown.classList.add('hidden')
      }, toggleDuration)
    }
    dropdown.classList.toggle('max-h-[50vh]')
    dropdown.classList.toggle('max-h-0')
  }

  const topNavItems = document.querySelectorAll('.toggles-dropdown')

  function closeOtherDropdown(item) {
    item.classList.remove('lg:text-shadow')
    const dropdownId = item.getAttribute('data-target')
    const dropdown = document.querySelector(`#${dropdownId}`)
    const innerDropdown = dropdown.querySelector('ul')
    dropdown.classList.toggle('max-h-0', force=true)
    dropdown.classList.toggle('max-h-[50vh]', force=false)
    setTimeout(() => {
      innerDropdown.classList.toggle('hidden', force=true)
    }, toggleDuration)
  }

  function closeOtherDropdowns(event) {
    const otherItems = Array.from(topNavItems).filter(item => item != event.currentTarget)
    for (item of otherItems) closeOtherDropdown(item)
    event.stopPropagation()
  }

  for (const item of topNavItems) {
    item.addEventListener('click', event => toggleThisDropdown(event))
    item.addEventListener('click', event => closeOtherDropdowns(event))
  }

  const body = document.querySelector('body')
  body.addEventListener('click', event => {
    closeOtherDropdowns(event)
    closeSideNav(event)
  })

</script>
