{% extends "core/base.html" %}

{% load static %}
{% load settings %}
{% load i18n %}
{% load truncate %}

{% block title %}
  {% trans 'Journals' %} - {{ request.press.name }}
{% endblock %}

{% block body %}
  {% include "custom/journals.html" %}
{% endblock body %}

{% block js %}
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      const options = {
        valueNames: [ 'name', 'description', 'discipline' ]
      };

      const userList = new List('journals', options);
    })
  </script>
{% endblock js %}
