{% extends "core/base.html" %}

{% load component_tags %}

{% block title %}
  {{ user.full_name }} - {{ request.press.name }}
{% endblock %}

{% block meta_description %}
  <meta
    property="og:description"
    content="{{ user.biography|striptags|truncatewords:25 }}">
{% endblock meta_description %}

{% block meta_image %}
  {% if user.profile_image %}
    <meta
      property="og:image"
      content="{% build_absolute_uri user.profile_image.url %}">
  {% endif %}
{% endblock meta_image %}

{% block body %}
  {% component "user_profile" user=user staff_groups=staff_groups governance_groups=governance_groups %}
{% endblock %}
