{% load static %}

<li>
  <a
    href="#"
    data-target="dropdown-account"
    class="
      max-lg:inline-block max-lg:align-center
      max-lg:py-4
      max-lg:px-2 w-full
      max-lg:border-b border-tan-light
      max-lg:font-poppins-bold lg:hover:font-poppins-bold
      lg:hover:ease-in transition duration-150 ease-out
      lg:group-hover/top:opacity-70 lg:hover:group-hover/top:opacity-100
      toggles-dropdown
    ">
    <img
      class="max-lg:hidden h-8"
      src="{% static 'hourglass/media/icons/account.svg' %}"
      aria-labelledby="mobile-account-nav"
      alt="">
    <span id="mobile-account-nav" class="lg:hidden">Account</span>
  </a>
  <div
    class="
      lg:bg-white
      max-lg:w-full lg:w-max
      transition-all ease-in-out duration-300
      max-h-0 overflow-clip
      lg:absolute lg:z-50 lg:top-full lg:-translate-x-4
    "
    id="dropdown-account">
    <ul class="hidden">
      {% if request.user.is_authenticated %}
        {% if user_is_editor or request.user.is_staff %}
          {% include 'elements/nav_sub_item.html' with url_name='core_manager_index' label='Manager' %}
        {% endif %}
        {% if request.user.is_staff %}
          {% include 'elements/nav_sub_item.html' with url_name='admin:index' label='Admin' %}
        {% endif %}
        {% include 'elements/nav_sub_item.html' with url_name='core_edit_profile' label='Profile' %}
        {% include 'elements/nav_sub_item.html' with url_name='core_logout' label='Log out' %}
      {% else %}
        {% include 'elements/nav_sub_item.html' with url_name='core_login' label='Log in' %}
        {% include 'elements/nav_sub_item.html' with url_name='core_register' label='Register' %}
      {% endif %}
    </ul>
  </div>
</li>
