<li>
  <a
    href="#"
    class="
      inline-block align-center
      px-2
      max-lg:cursor-default
      max-lg:uppercase
      max-lg:py-2
      lg:pt-2
      lg:pb-7
    ">
    <span
      class="max-lg:hidden text-hourglass-red lg:opens-dropdown"
      data-target="dropdown-account">
      Acc
    </span>
    <span class="lg:hidden">Account</span>
  </a>
  <ul
    class="
      bg-hourglass-tan
      flex flex-col
      w-max
      max-lg:block
      lg:hidden
      lg:absolute
      lg:top-full
    "
    id="dropdown-account">

    {% if request.user.is_authenticated %}
      {% if user_is_editor or request.user.is_staff %}
        <li>
          <a
            class="inline-block align-center p-2"
            href="{% url 'core_manager_index' %}">
            {% trans 'Manager' %}
          </a>
        </li>
      {% endif %}
      {% if request.user.is_staff %}
        <li>
          <a
            class="inline-block align-center p-2"
            href="/admin/">
            {% trans 'Admin' %}
          </a>
        </li>
      {% endif %}
      <li>
        <a
          class="inline-block align-center p-2"
          href="{% url 'core_edit_profile' %}">
          {% trans 'Profile' %}
        </a>
      </li>
      <li>
        <a
          class="inline-block align-center p-2"
          href="{% url 'core_logout' %}">
          {% trans 'Log out' %}
        </a>
      </li>
    {% else %}
      <li>
        <a
          class="inline-block align-center p-2"
          href="{% url 'core_login' %}">
          {% trans "Login" %}
        </a>
      </li>
      <li>
        <a
          class="inline-block align-center p-2"
          href="{% url 'core_register' %}">
          {% trans "Register" %}
        </a>
      </li>
    {% endif %}
  </ul>

</li>
