{% load static %}

<ul class="text-sm font-poppins-medium flex gap-4 justify-between w-full py-2">
         <li>
    <a
      id="slide-drawer"
      href="#"
      class="
        flex gap-3 items-center p-2 bg-tan h-10
        font-poppins-bold tracking-wide
      "
      aria-label="Toggle navigation">
      <div class="flex flex-col gap-y-2.5">
        <div class="w-8 border-solid border-black border-t-2 fill-black"></div>
        <div class="w-8 border-solid border-black border-t-2 fill-black"></div>
        <div class="w-8 border-solid border-black border-t-2 fill-black"></div>
      </div>
      <div class="">Menu</div>
    </a>
  </li>
  <li data-recommend-us-cta>
    <a
      class="
        flex gap-3 items-center p-2 bg-tan h-10
        font-poppins-bold tracking-wide
      "
      href="/plugins/supporters/recommend-us/">
      <div class="bg-orange p-2">
        <img
          class="h-4"
          src="{% static 'hourglass/media/icons/mail.svg' %}"
          alt="">
      </div>
      <span>
        Recommend Us
      </span>
    </a>
  </li>
</ul>
