<li class="max-lg:order-first max-lg:w-full">
  <input
    id="search-trigger"
    href="#search-modal"
    type="search"
    placeholder="Quick search..."
    aria-label="Quick search"
    class="
      bg-hourglass-tan-light
      h-9 p-2 w-36 border-none
      my-4
      lg:mx-4
      max-lg:w-full
      placeholder:text-sm
      focus:ring-transparent
      lg:hover:placeholder:font-poppins-bold
      lg:hover:ease-in transition duration-150 ease-out
      lg:group-hover:opacity-70 lg:hover:group-hover:opacity-100
    ">
</li>
