{% load component_tags %}

<div class="max-sm:ml-3 sm:max-md:ml-4 md:ml-5 flex flex-col gap-y-6 lg:items-start">
  <blockquote
    class="
      font-poppins-bold
      max-sm:text-2xl sm:max-md:text-3xl md:text-4xl
      max-sm:mr-3 sm:max-md:mr-4 md:mr-5
      max-sm:-indent-3 sm:max-md:-indent-4 md:-indent-5
      max-lg:max-w-md lg:max-w-xl
      leading-snug
    ">
    {% slot "quote" %}{% endslot %}
  </blockquote>
  <p class="font-poppins max-lg:text-lg lg:text-xl max-lg:max-w-xs lg:max-w-xl">
    {% slot "by" %}{% endslot %}
  </p>
</div>
