{% extends "core/base.html" %}

{% load truncate %}

{% block title %}{{ news_item.title }} - {{ request.press.name }}{% endblock %}


{% block body %}
    <article>
        <header class="row">
            <h1>{{ news_item.title }}</h1>
            <p class="byline">
                {{ news_item.byline }} {% trans "on" %} {{ news_item.posted|date:"Y-m-d" }}
            </p>
            <img class="responsive-img" src="{{ news_item.best_image_url }}">
        </header>
        <main class="row prose">
            {{ news_item.body|safe }}
        </main>
        {% if news_item.tags.all %}
            <footer class="row prose" aria-label="tags">
                    {% for item_tag in news_item.tags.all %}
                        <a href="{% url 'core_news_list_tag' item_tag.text %}">
                            <span class="chip black-text">
                                {{ item_tag.text }}
                            </span>
                        </a>
                    {% endfor %}
            </footer>
        {% endif %}
    </article>
{% endblock body %}
