{% extends "core/base.html" %}

{% block title %}
  {{ news_item.title }} - {{ request.press.name }}
{% endblock title %}
{% block meta_base %}
  <meta property="og:type" content="article">
  <meta property="og:url" content="{{ request.build_absolute_uri }}">
  <meta property="og:site_name" content="{{ request.press.name }}">
  <meta name="twitter:card" content="summary_large_image">
{% endblock meta_base %}
{% block meta_title %}
  <meta property="og:title" content="{{ news_item.title }}" />
  <meta name="twitter:title" content="{{ news_item.title }}">
{% endblock meta_title %}
{% block meta_description %}
  {% include "elements/meta_description.html" with desc=news_item.body|striptags|truncatewords:30 %}
{% endblock meta_description %}
{% block meta_image %}
  {% if news_item.best_image_url %}
    <meta name="twitter:image" content="{{ news_item.best_image_url }}">
    <meta property="og:image" content="{{ news_item.best_image_url }}">
  {% endif %}
{% endblock meta_image %}

{% block body %}
  {% include "custom/news-item.html" %}
{% endblock body %}
