{% extends "core/base.html" %}

{% block title %}{{ news_item.title }} - {{ request.press.name }}{% endblock %}

{% block head %}
    <meta name="description" content="{{ news_item.body|striptags|truncatewords:30 }}">
    {% if news_item.large_image_file %}
        <meta property="og:image" content="{% site_url 'news_file_download' 'id' news_item.pk news_item.large_image_file.pk %}" alt="">
        <meta name="twitter:image" content="{% site_url 'news_file_download' 'id' news_item.pk news_item.large_image_file.pk %}" alt="">
    {% else %}
        <meta property="og:image" content="{% site_url 'press_cover_download' %}" alt="">
        <meta name="twitter:image" content="{% site_url 'press_cover_download' %}" alt="">
    {% endif %}
{% endblock head %}

{% block body %}
    <article>
        <header class="row max800">
            <h1>{{ news_item.title }}</h1>
            <p class="byline">
                {{ news_item.byline }} {% trans "on" %} {{ news_item.posted|date:"Y-m-d" }}
            </p>
            <img class="responsive-img" src="{{ news_item.best_image_url }}">
        </header>
        <main class="row max640">
            {{ news_item.body|safe }}
        </main>
        {% if news_item.tags.all %}
            <footer class="row prose" aria-label="tags">
                    {% for item_tag in news_item.tags.all %}
                        <a href="{% url 'core_news_list_tag' item_tag.text %}">
                            <span class="chip black-text">
                                {{ item_tag.text }}
                            </span>
                        </a>
                    {% endfor %}
            </footer>
        {% endif %}
    </article>
{% endblock body %}
