{% extends "core/base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset Password" %} - {{ request.press.name }}{% endblock title %}

{% block body %}
    <div class="pad50">
        <form method="POST">
            {% csrf_token %}
            <div class="row">
                <div class="col s12 m6">
                    <h1>Reset Password</h1>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6">
                    <p>
                        {% blocktrans %}
                            Enter your email address to begin the reset process
                        {% endblocktrans %}
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m6">
                    <div class="input-field">
                        <input name="email_address"
                               id="email_address"
                               type="email"
                               placeholder="janeway@example.edu">
                        <label for="email_address">
                            {% trans "Email" %}
                        </label>
                    </div>
                    <button
                        type="submit"
                        class="btn btn-large">
                        {% trans "Get Reset Link" %}
                    </button>
                </div>
            </div>
        </form>
    </div>
{% endblock body %}
