{% extends "core/base.html" %}
{% load i18n %}
{% load materializecss %}

{% block title %}{% trans "Reset Password" %} - {{ request.press.name }}{% endblock title %}

{% block body %}
    <div class="row pad50">
        <div class="col s12 m6">
            <h1>Reset Password</h1>
            <form method="POST">
                {% csrf_token %}
                {{ form|materializecss }}
                <button
                    type="submit"
                    class="btn btn-large">
                    {% trans "Reset Password" %}
                </button>
            </form>
        </div>
    </div>
{% endblock body %}
